<app-date-panel
	*ngIf="this.dates?.length"
	[loading]="loading"
	[pointDate]="pointDate"
	[selectedIterationDate]="selectedIterationDate"
	[isEditing]="true"
	(iterationSwitched)="switchIteration($event)"
	(addIteration)="addIterationHandler()"
></app-date-panel>
<form
	class="color content"
	[ngClass]="'color--' + this.form.controls['color'].value"
	*ngIf="!(checking | async); else loader"
	[formGroup]="form"
	(ngSubmit)="submit(isRepeatable && !isCreation)"
>
	<h1>{{ pageTitle }}<span
			*ngIf="loading"
			class="loader rotating"
		></span></h1>
	<div
		class="form"
		[ngClass]="{
			'form--separated': isRepeatable && !isCreation,
		}"
	>
		<!-- Надо ли показывать автора? Сейчас редактировать больше никто не может -->
		<!-- <img
			*ngIf="userData?.photoURL"
			class="userpic userpic--sm"
			[src]="userData.photoURL"
			[alt]="userData.displayName"
			aria-hidden="true"
			><ng-container *ngIf="userData?.displayName">
			{{ userData.displayName }}
			</ng-container> -->
		<div class="form__col">
			<app-input
				placeholder="Название"
				type="text"
				formControlName="title"
			></app-input>
			<app-input
				[textarea]="true"
				[textareaRows]="3"
				placeholder="Описание события"
				formControlName="description"
			></app-input>
		</div>

		<div class="form__col form__col--middle">
			<div class="form__row">
				<app-switcher
					[items]="directionList"
					[value]="this.point?.direction || 'forward'"
					formControlName="direction"
				></app-switcher>
				<div
					*ngIf="!isCreationUrl"
					class="form__checks"
				>
					<label
						app-checkbox
						mode="custom"
						icon="globe"
						formControlName="greenwich"
						title="Время по Гринвичу (убрать, если время должно быть местным)"
					></label>
					<label
						app-checkbox
						mode="custom"
						icon="users"
						formControlName="public"
						title="Публичное событие"
					></label>
					<label
						app-checkbox
						mode="custom"
						icon="refresh"
						formControlName="repeatable"
						title="Повторяемое событие"
					></label>
				</div>
			</div>
			<div class="form__row">
				<app-drop
					formControlName="color"
					[dropList]="pointColorNames"
					class="form__color"
				></app-drop>
				<button
					*ngIf="isRepeatable && !isCreation"
					app-button
					mode="primary"
					icon="arrow-right"
					type="button"
					(click)="submit()"
					title="Сохранить параметры события"
				></button>
			</div>
		</div>

		<div class="form__col">
			<div class="form__row">
				<app-datepicker
					horizontal="left"
					class="form__btn"
					(datePicked)="datePicked($event)"
					[date]="pointDate"
				></app-datepicker>
				<app-drop *ngIf="isRepeatable && !isCreation">
					<ng-template
						#buttonTemplate
						let-toggle="toggle"
					>
						<button
							app-button
							class="form__btn"
							mode="ghost"
							icon="chevron-down"
							(click)="toggle()"
						>Генерация итераций</button>
					</ng-template>
					<ng-template #bodyTemplate>
						<app-generate-iterations
							[loading]="loading"
							[form]="formGroup"
							(repeatsAreGenerated)="getRepeats($event)"
						></app-generate-iterations>
					</ng-template>
				</app-drop>
			</div>
			<div class="form__row">
				<app-input
					type="text"
					placeholder="Срок в минутах"
					formControlName="difference"
					mask="0*"
					[allowNegativeNumbers]="true"
					[validation]="false"
					[maxlength]="validatorDifferenceMaxLength"
					[clearButton]="true"
					clearButtonTitle="Сброс (итерация произошла сейчас)"
					clearButtonValue="0"
				></app-input>
				<button
					app-button
					type="submit"
					mode="primary"
					icon="arrow-right"
					[disabled]="loading || (isRepeatable && !isCreation ? !isDateFormValid : !isBaseFormValid || !isDateFormValid)"
					[title]="isRepeatable && !isCreation ? 'Сохранить параметры итерации' :
										'Сохранить событие'"
				></button>
			</div>
		</div>

	</div>

	<p
		class="info"
		*ngIf="isCreation && isRepeatable"
	>
		Изменение итераций будет доступно после создания события
	</p>
	<p
		class="info"
		*ngIf="!isCreation && !isRepeatable && hasManyIterations"
	>
		Отключены повторы события. Все итерации кроме последней будут удалены
	</p>
</form>

<ng-template #loader>
	<h2>
		<div class="loader rotating"></div>
	</h2>
</ng-template>
