<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form content"
>
	<div class="form__section form__section--auth">
		<app-input
			[invalid]="hasEmailErrors"
			icon="at-email"
			placeholder="E-mail"
			type="email"
			formControlName="email"
			[autofocus]="true"
		></app-input>
		<ng-container [formGroup]="passwordsForm">
			<app-input
				#passwordControl
				[invalid]="hasPasswordErrors"
				[showPasswordButton]="true"
				placeholder="Пароль"
				type="password"
				formControlName="password"
				autocomplete="password"
			></app-input>
			<app-input
				#passwordRepeatControl
				[invalid]="hasPasswordRepeatErrors"
				[showPasswordButton]="true"
				placeholder="Повторите пароль"
				type="password"
				formControlName="passwordRepeat"
				autocomplete="new-password"
			></app-input>
		</ng-container>

		<label
			app-checkbox
			formControlName="privacyAgree"
			iconSize="sm"
		>
			Принять условия <button
				class="link"
				type="button"
				(click)="showPrivacy()"
			>политики обработки персональных данных</button>
		</label>

		<ul
			*ngIf="errorMessages.length"
			class="info info--error"
		>
			<li
				*ngFor="let errMessage of errorMessages; trackBy: trackBy"
				class="info__item"
			>{{ errMessage }}</li>
		</ul>
		<button
			app-button
			class="form__submit"
			type="submit"
			icon="login"
			mode="ghost-positive"
			[loading]="isLoading"
			[disabled]="form.invalid || isLoading"
		>
			Зарегистрироваться
		</button>
	</div>
</form>
