.board {
	--board-hinge-shadow-opacity-1: 0.4;
	--board-hinge-shadow-opacity-2: 0.7;
	--board-hinge-shadow-spread: 1px;
	--board-hinge-shadow-w-1: 1px;
	--board-hinge-shadow-w-2: 8px;
	--board-hinge-before-shadow-x: 1px;
	--board-hinge-after-shadow-x: -1px;
	--board-half-shadow: inset 0 1px 0 0 rgba(var(--c-bg-inverse), 0.5);
	--board-half-after-opacity: 0.3;
	--board-bg-cl: var(--c-bg-board);
	--board-fz: #{timer-size(40)};
	--board-h: #{timer-size(60)};
	--board-px: #{timer-size(10)};
	--board-brs: #{timer-size(4)};
	--board-hinge-w: #{timer-size(4)};
	--board-hinge-h: #{timer-size(16)};
	--board-label-fz: #{timer-size(12)};
	--board-label-mt: #{timer-size(4)};

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	height: var(--board-h);
	padding: 0 var(--board-hinge-w);
	border-radius: var(--board-brs);

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: calc(50% - (var(--board-hinge-h) / 2) + 2px);
		z-index: -1;
		display: block;
		width: calc(var(--board-hinge-w) - 1px);
		height: calc(var(--board-hinge-h) - 4px);
		background-color: rgb(var(--board-bg-cl));
		background-image: linear-gradient(
			180deg,
			rgba(var(--c-bg-primary), 0) 0%,
			rgba(var(--c-bg-primary), 0.1) 10%,
			rgba(var(--c-bg-primary), 0) 50%,
			rgba(var(--c-bg-primary), 0.3) 90%,
			rgba(var(--c-bg-primary), 0) 100%
		);
	}

	&::before {
		left: 0;
		box-shadow:
			var(--board-hinge-before-shadow-x) 0 var(--board-hinge-shadow-w-1) var(--board-hinge-shadow-spread)
				rgba(var(--c-bg-primary), var(--board-hinge-shadow-opacity-1)),
			var(--board-hinge-before-shadow-x) 0 var(--board-hinge-shadow-w-2) 0
				rgba(var(--c-bg-primary), var(--board-hinge-shadow-opacity-2));
	}

	&::after {
		right: 0;
		box-shadow:
			var(--board-hinge-after-shadow-x) 0 var(--board-hinge-shadow-w-1) var(--board-hinge-shadow-spread)
				rgba(var(--c-bg-primary), var(--board-hinge-shadow-opacity-1)),
			var(--board-hinge-after-shadow-x) 0 var(--board-hinge-shadow-w-2) 0
				rgba(var(--c-bg-primary), var(--board-hinge-shadow-opacity-2));
	}

	@media (min-aspect-ratio: $timer-ratio) {
		--board-fz: #{timer-size-height(40)};
		--board-h: #{timer-size-height(60)};
		--board-px: #{timer-size-height(10)};
		--board-brs: #{timer-size-height(4)};
		--board-hinge-w: #{timer-size-height(4)};
		--board-hinge-h: #{timer-size-height(16)};
		--board-label-fz: #{timer-size-height(12)};
		--board-label-mt: #{timer-size-height(4)};
	}

	&__body {
		display: grid;
		width: calc(100% + (var(--board-hinge-w) * 2));
	}

	&__half {
		position: relative;
		display: flex;
		grid-area: 1/1/1/1;
		justify-content: center;
		width: calc(100% - (var(--board-hinge-w) * 2));
		height: calc(var(--board-h) / 2);
		background-color: rgb(var(--board-bg-cl));
		background-image: linear-gradient(
			180deg,
			rgba(var(--c-bg-primary), 0) 0%,
			rgba(var(--c-bg-primary), 0.03) 80%,
			rgba(var(--c-bg-primary), 0.05) 100%
		);
		color: rgb(var(--c-text-primary));
		font-family: monospace;
		font-size: var(--board-fz);
		transition: transform 1s;
		transform-origin: bottom;
		animation-duration: 200ms;
		animation-timing-function: cubic-bezier(0.36, 0.25, 0.76, 0.52);
		animation-fill-mode: forwards;

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: 0;
			left: calc(var(--board-hinge-w) * -1);
			display: block;
			width: calc(100% + (var(--board-hinge-w) * 2));
			height: calc(100% - (var(--board-hinge-h) / 2));
			border-radius: var(--board-brs) var(--board-brs) 0 0;
			background-color: inherit;
			background-image: linear-gradient(180deg, rgba(var(--c-bg-primary), 0) 0%, rgba(var(--c-bg-primary), 0.03) 100%);
			box-shadow: var(--board-half-shadow);
		}

		&::after {
			top: 100%;
			z-index: 1;
			width: calc(100% - 2px);
			box-shadow: 0 0 0 1px rgba(var(--c-bg-primary), var(--board-half-after-opacity));
		}

		.board__text-wrapper {
			align-items: flex-start;
		}

		&--bottom {
			grid-row-start: 2;
			grid-row-end: 2;
			background-image: linear-gradient(
				180deg,
				rgba(var(--c-bg-primary), 0.02) 0%,
				rgba(var(--c-bg-primary), 0.02) 100%
			);
			box-shadow: none;
			transform: none;
			transform-origin: top;

			&::before {
				top: auto;
				bottom: 0;
				border-radius: 0 0 var(--board-brs) var(--board-brs);
				background-image: inherit;
				box-shadow: inset 0 -1px 0 0 rgba(var(--c-bg-primary), 0.2);
			}

			&::after {
				top: auto;
				bottom: 100%;
				box-shadow: 0 1px 0 1px rgba(var(--c-bg-inverse), var(--board-half-after-opacity));
			}

			.board__text-wrapper {
				align-items: flex-end;
			}
		}

		&--animate {
			animation-name: halfTop;

			&:not(.board--visible &, .board--logo &) {
				animation-name: none;
			}

			&::after {
				content: none;
			}

			@media (prefers-reduced-motion: reduce) {
				&,
				&.board__half--bottom {
					animation-name: none;
				}
			}

			&.board__half--bottom {
				animation-name: halfBottom;
			}
		}
	}

	&__text-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0 var(--board-px);
		overflow: hidden;
	}

	&__text {
		z-index: 0;
		display: flex;
		align-items: center;
		height: var(--board-h);
	}

	&__label {
		@include media-breakpoint-down(sm) {
			color: rgba(var(--c-text-primary), 1);
		}

		width: 100%;
		margin-top: var(--board-label-mt);
		color: rgba(var(--c-text-primary), 0.4);
		font-size: clamp(7px, var(--board-label-fz), 20px);
		text-align: center;
		transform: translateZ(0);
	}

	&--sm {
		--board-h: 30px;
		--board-px: 4px;
		--board-brs: 4px;
		--board-hinge-w: 3px;
		--board-hinge-h: 12px;
		--board-fz: 16px;
		--board-label-fz: 8px;
		--board-label-mt: 1px;
		--board-half-after-opacity: 0.1;
		--board-hinge-shadow-opacity-1: 0.1;
		--board-hinge-shadow-spread: 0;
	}

	&--logo {
		--board-h: 52px;
		--board-px: 0;
		--board-brs: 6px;
		--board-hinge-w: 5px;
		--board-hinge-h: 12px;
		--board-fz: 55px;
		--board-label-fz: 8px;
		--board-label-mt: 1px;
		--board-half-after-opacity: 0.4;
		--board-hinge-shadow-opacity-1: 0.2;
		--board-hinge-shadow-opacity-2: 0.1;
		--board-hinge-shadow-spread: 1px;
		--board-hinge-shadow-w-1: 0;
		--board-hinge-shadow-w-2: 4px;
		--board-hinge-before-shadow-x: 0;
		--board-hinge-after-shadow-x: 0;
		--board-bg-cl: var(--c-bg-board-logo);
		--board-half-shadow: inset 0 1px 0 0 rgba(var(--c-bg-inverse), 0.5);

		&::before,
		&::after {
			z-index: 0;
			background-image: linear-gradient(
				180deg,
				rgba(var(--c-bg-inverse), 0) 0%,
				rgba(var(--c-bg-inverse), 1) 10%,
				rgba(var(--c-bg-inverse), 0) 50%,
				rgba(var(--c-bg-inverse), 0.4) 90%,
				rgba(var(--c-bg-inverse), 0) 100%
			);
		}
	}
}

@keyframes halfTop {
	0% {
		box-shadow: none;
		transform: rotateX(0);
	}

	100% {
		box-shadow:
			var(--board-half-shadow),
			0 calc(var(--board-h) / -4) 20px 0 rgba(var(--c-bg-primary), 0.1);
		transform: rotateX(90deg) matrix3d(1, 0, 0, 0, 0, 0.75, 0, 0.001, 1, 1, 0.1, 0.1, 0.1, 0.1, 0, 1);
	}
}

@keyframes halfBottom {
	0% {
		box-shadow: 0 calc(var(--board-h) / 4) 20px 1px rgba(var(--c-bg-primary), 0.4);
		transform: rotateX(90deg) matrix3d(1, 0, 0, 0, 0, 0.75, 0, -0.001, 1, 1, 0.1, 0.1, 0.1, 0.1, 0, 1);
	}

	100% {
		box-shadow: none;
		transform: rotateX(0);
	}
}
