.button {
	--button-bg-cl: rgba(var(--c-bg-primary), .6);
	--button-border-cl: transparent;
	--button-cl: rgb(var(--c-text-button));
	--button-gap: 4px;
	--button-fz: 16px;

	display: flex;
	gap: var(--button-gap);
	align-items: center;
	justify-content: center;
	padding: 6px;
	border: 1px solid var(--button-border-cl);
	border-radius: 4px;
	background-color: var(--button-bg-cl);
	color: var(--button-cl);
	text-decoration: none;
	cursor: pointer;

	&__text {
		font-size: var(--button-fz);

		&:empty {
			display: none;
		}
	}

	&__icon {
		--icon-stroke-w: 2px;

		filter: contrast(1);
	}

	:disabled,
	&--disabled {
		filter: grayscale(1);
		pointer-events: none;

		.button__icon {
			opacity: .5;
		}
	}

	&--negative {
		--button-cl: rgba(var(--c-bg-negative), 1);
		--button-bg-cl: transparent;
	}

	&--positive {
		--button-bg-cl: rgba(var(--c-bg-positive), .4);
		--button-cl: rgba(var(--c-text-button-inverse), .6);
	}

	&--ghost {
		--button-bg-cl: transparent;
		--button-cl: rgba(var(--c-text-button-inverse), .6);
		--button-border-cl: rgba(var(--c-border-primary), .4);
	}

	&--sm {
		--button-gap: 2px;

		.button__icon {
			--icon-stroke-w: 1.5px;
			--icon-w: 16px;
		}
	}

	&--lg {
		--button-gap: 8px;
		--button-fz: 20px;

		.button__icon {
			--icon-stroke-w: 1px;
			--icon-w: 40px;
		}
	}
}
