.calendar {
	--calendar-nav-shift: 4px;
	--calendar-button-cl: rgb(var(--c-text-primary));
	--calendar-head-cl: rgb(var(--c-text-primary));
	--calendar-button-p: 16px;
	--calendar-min-w: 60px;

	display: flex;
	flex-direction: column;

	&__header {
		margin-bottom: 12px;
	}

	&__nav {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__nav-set {
		display: flex;
		gap: 4px;
	}

	&__nav-button {
		width: 30px;
	}

	&__status {
		margin-left: 12px;
		font-weight: 300;
	}

	&__switcher {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__table-wrapper {
		align-self: flex-start;
	}

	&__table {
		min-width: 100%;
	}

	&__cell {
		position: relative;
		min-width: var(--calendar-min-w);
		padding: 4px;
		border: 0;
	}

	&__head {
		color: var(--calendar-head-cl);

		&--weekend {
			--calendar-head-cl: rgb(var(--c-text-weekend));
		}
	}

	&__button {
		width: 100%;
		height: 100%;
		padding: var(--calendar-button-p);
		border: 1px solid transparent;
		border-radius: 6px;
		background-color: transparent;
		color: var(--calendar-button-cl);
		line-height: normal;
		cursor: pointer;

		&--selected {
			background-color: rgba(var(--c-bg-primary), .05);
		}

		&--now {
			border-color: rgba(var(--c-border-primary), .1);
		}

		&--weekend {
			--calendar-button-cl: rgb(var(--c-text-weekend));
		}

		&--other {
			--calendar-button-cl: rgba(var(--c-text-primary), .3);
		}
	}

	&__counter {
		position: absolute;
		top: var(--calendar-nav-shift);
		left: var(--calendar-nav-shift);
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 18px;
		height: 18px;
		border-radius: 4px;
		background-color: rgba(var(--c-bg-icon), .4);
		color: rgb(var(--c-text-button));
		font-family: monospace;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
	}

	&__date-nav {
		position: absolute;
		right: var(--calendar-nav-shift);
		bottom: var(--calendar-nav-shift);
		display: flex;
	}

	&__btn-nav {
		width: 20px;
		height: 20px;
		padding: 0;
	}

	&__date-ul {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin: 0;
		padding: 4px 0;
		list-style-type: none;
	}

	&--drop {
		--calendar-button-p: 6px;
		--calendar-min-w: 0;

		overflow: hidden;

		.calendar__table-wrapper {
			overflow: auto;
		}
	}
}
