.calendar {
	display: flex;
	flex-direction: column;

	&__nav {
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 12px;
	}

	&__aside {
		display: flex;
		gap: 4px;
	}

	&__status {
		//
	}

	&__table-wrapper {
		align-self: flex-start;
	}

	&__table {
		//
	}

	&__cell {
		position: relative;
		padding: 4px;
		border: 0;
	}

	&__button {
		width: 100%;
		height: 100%;
		padding: 16px;
		border: 1px solid transparent;
		border-radius: 6px;
		background-color: rgba(var(--c-bg-primary), .04);
		cursor: pointer;

		&--selected {
			background-color: rgba(var(--c-bg-primary), .2);
		}

		&--now {
			border-color: rgba(var(--c-border-primary), .1);
		}
	}

	&__counter {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 18px;
		height: 18px;
		border-radius: 4px;
		background-color: rgb(var(--c-bg-icon));
		color: rgb(var(--c-text-primary));
		font-family: monospace;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
	}

	&__date-nav {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
	}

	&__btn-nav {
		width: 20px;
		height: 20px;
		padding: 0;
	}

	&__date-ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__date-li {
		padding: 8px;
	}
}
