.checkbox {
	--checkbox-cl: transparent;
	--checkbox-border-cl: rgba(var(--c-border-primary), .4);
	--checkbox-check-cl: rgba(var(--c-border-primary), 1);
	--checkbox-box-w: 28px;
	--checkbox-icon-w: 20px;

	display: flex;
	align-items: baseline;
	cursor: pointer;

	&:has(:checked) {
		--checkbox-cl: var(--checkbox-check-cl);
	}

	&:has(:disabled) {
		--checkbox-border-cl: rgba(var(--c-border-primary), .1);
		--checkbox-check-cl: rgba(var(--c-border-primary), .3);

		pointer-events: none;
	}

	&__box {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: var(--checkbox-box-w);
		height: var(--checkbox-box-w);
		border: 1px solid var(--checkbox-border-cl);
		border-radius: 4px;

		&--sm {
			--checkbox-box-w: 16px;
			--checkbox-icon-w: 12px;
		}
	}

	&__icon {
		width: var(--checkbox-icon-w);
		color: var(--checkbox-cl);
	}

	&__label {
		margin-left: 8px;

		&:empty {
			display: none;
		}
	}

	&__input {
		width: 1px;
		height: 1px;
		opacity: 0;
	}
}
