.checkbox {
	--checkbox-cl: transparent;
	--checkbox-bg-cl: transparent;
	--checkbox-brs: 12px;
	--checkbox-box-brs: 4px;
	--checkbox-border-cl: rgba(var(--c-border-primary), .4);
	--checkbox-check-cl: rgba(var(--c-border-primary), 1);
	--checkbox-box-w: 28px;
	--checkbox-icon-w: 20px;

	display: flex;
	align-items: baseline;
	border-radius: var(--checkbox-brs);
	background-color: var(--checkbox-bg-cl);
	cursor: pointer;

	&:has(:checked) {
		--checkbox-cl: var(--checkbox-check-cl);
	}

	&:has(:disabled) {
		--checkbox-border-cl: rgba(var(--c-border-primary), .1);
		--checkbox-check-cl: rgba(var(--c-border-primary), .3);

		pointer-events: none;
	}

	&__box {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: var(--checkbox-box-w);
		height: var(--checkbox-box-w);
		border: 1px solid var(--checkbox-border-cl);
		border-radius: var(--checkbox-box-brs);

		&--sm {
			--checkbox-box-w: 16px;
			--checkbox-icon-w: 12px;
		}
	}

	&__icon {
		width: var(--checkbox-icon-w);
		color: var(--checkbox-cl);
	}

	&__label {
		margin-left: 8px;

		&:empty {
			display: none;
		}
	}

	&__label-icon {
		--icon-w: 16px;
		--icon-stroke-w: 2px;
	}

	&__input {
		width: 1px;
		height: 1px;
		visibility: hidden;
	}

	&--icon {
		.checkbox__label {
			display: flex;
			margin-top: auto;
			margin-bottom: auto;
			margin-left: 4px;
		}
	}

	&--custom {
		--checkbox-cl: currentColor;
		--checkbox-border-cl: transparent;
		--checkbox-box-w: 40px;
		--checkbox-icon-w: 24px;
		--checkbox-bg-cl: rgba(var(--c-bg-primary), .04);
		--checkbox-box-brs: var(--checkbox-brs);

		&:has(:checked) {
			--checkbox-border-cl: rgba(var(--c-border-primary), .4);
		}
	}
}
