.color {
	--point-color: var(--c-point-gray);

	border-left: 5px solid rgb(var(--point-color));

	@each $name, $val in map-get($colors, point) {
		&--#{$name} {
			--point-color: var(--c-point-#{$name});
		}
	}
}
