.color {
	--point-color: var(--c-point-gray);

	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: rgb(var(--point-color));
		box-shadow: 0 0 10px 0 rgb(var(--point-color));
	}

	@each $name, $val in map-get($colors, point) {
		&--#{$name} {
			--point-color: var(--c-point-#{$name});
		}
	}
}
