.content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin: 20px 0;
	padding: 40px;
	border-top: 2px solid rgba(var(--c-border-primary), .1);
	border-bottom: 2px solid rgba(var(--c-border-primary), .1);
	overflow: auto;
}
