.content {
	@include media-breakpoint-down(sm) {
		--content-py: 10px;
	}
	--content-py: 20px;

	position: relative;
	z-index: 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: var(--content-py) var(--cont-px);
	overflow: hidden;

	&::before {
		left: calc(var(--timer-percent) * 1%);
		width: 4px;
		height: 10px;
		border-radius: 2px 2px 0 0;
		background-color: rgb(var(--point-color));
	}

	&::after {
		@include timeline(var(--point-color), timelineContent);

		left: 0;
		width: calc(var(--timer-percent) * 1%);
		height: 1px;
		transform: scale(-1, 1);
	}

	&__clock {
		position: absolute;
		top: 5%;
		right: 0;
		z-index: -1;
		width: 100vh;
		overflow: hidden;

		&--form {
			position: relative;
			top: 0;
			overflow: hidden;

			.content__clock-inner {
				position: absolute;
			}
		}
	}

	&__col {
		width: 50%;

		&--point {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	&--main {
		@include media-breakpoint-down(lg) {
			--content-py: 40px;
		}

		@include media-breakpoint-down(md) {
			--content-py: 20px;
		}

		@include media-breakpoint-down(sm) {
			--content-py: 10px;
		}

		--content-py: 60px;
	}

	&--row {
		@include media-breakpoint-down(sm) {
			gap: 5px;
		}

		flex-direction: row;
		gap: 20px;
		justify-content: center;
		overflow: visible;
	}

	&--edit {
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}

		.content__col {
			@include media-breakpoint-down(md) {
				width: 100%;
				margin-bottom: auto;
			}
		}
	}

	&--timer {
		&::before,
		&::after {
			@include media-breakpoint-down(sm) {
				bottom: 63px;
			}

			@include media-breakpoint-down(xs) {
				bottom: 55px;
			}

			content: '';
			position: fixed;
			bottom: 95px;
			z-index: 2;
		}
	}

	&--timer-paused {
		&::after {
			animation-play-state: paused;
		}
	}
}
