.content {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 60px 20px;
	overflow: hidden;

	&__clock {
		position: absolute;
		top: 5%;
		right: 0;
		z-index: -1;
		width: 100vh;
		overflow: hidden;
	}
}
