.control {
	display: flex;
	height: 37px;
	border: 1px solid rgba(var(--c-border-primary), .2);
	border-radius: 8px;

	&:has(.control__textarea) {
		height: auto;
	}

	&:has(.control__addon) {
		.control__input,
		.control__textarea {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	&[data-suffix] {
		&:not([data-suffix='']) {
			&::after {
				content: attr(data-suffix);
				display: flex;
				align-items: center;
				padding-right: 8px;
				color: rgba(var(--c-text-primary), .4);
				cursor: text;
			}

			.control__input {
				padding-right: 4px;
				padding-left: 0;
				text-align: right;
			}
		}
	}

	&__input,
	&__textarea {
		flex-grow: 1;
		width: 100%;
		padding: 4px 8px;
		border: 0;
		border-radius: inherit;
		outline: 0;
		font-weight: 300;

		&::placeholder {
			color: rgba(var(--c-text-primary), .4);
		}
	}

	&__textarea {
		min-height: 100px;
		max-height: 300px;
		resize: vertical;
	}

	&__addon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		border-left: 1px solid rgba(var(--c-border-primary), .1);
	}

	&__icon {
		--icon-w: 20px;
		--icon-stroke-w: 1.5px;
	}

	&--row {
		flex-direction: row;
	}

	&--error {
		box-shadow: 0 0 3px rgba(var(--c-shadow-negative));
	}

	&--autocomplete {
		border-width: 0;
	}
}
