.control {
	display: flex;
	height: 40px;
	border: 1px solid rgba(var(--c-border-primary), .2);
	border-radius: 12px;

	& + & {
		margin-top: 16px;
	}

	&:has(.control__textarea) {
		height: auto;
	}

	&__input,
	&__textarea {
		flex-grow: 1;
		width: 100%;
		padding: 4px 8px;
		border: 0;
		border-radius: inherit;
		outline: 0;
		font-weight: 300;

		&::placeholder {
			color: rgba(var(--c-text-primary), .4);
		}
	}

	&__textarea {
		resize: vertical;
	}

	&__addon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		border-left: 1px solid rgba(var(--c-border-primary), .1);
	}

	&__icon {
		--icon-w: 20px;
	}

	&--row {
		flex-direction: row;
	}

	&--error {
		box-shadow: 0 0 3px red;
	}
}
