.dashboard {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding: 0 40px 20px;
	border-bottom: 1px solid rgba(var(--c-border-primary), .2);
	background-color: rgb(var(--c-bg-panel));

	&__filters {
		margin-right: auto;
		margin-left: 20px;
	}

	&__filters-list {
		padding: 0 6px;
	}

	&__aside {
		display: flex;
		gap: 16px;
		align-items: center;
		margin-left: 30px;
	}

	&__calendar {
		align-self: center;
	}
}
