.dashboard {
	@include media-breakpoint-down(lg) {
		display: grid;
		grid-template-areas: 'left right' 'bottom bottom';
		grid-template-columns: auto 1fr;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding: 0 var(--cont-px) 20px;
	border-bottom: 1px solid rgba(var(--c-border-primary), .2);
	background-color: rgb(var(--c-bg-panel));

	&__aside {
		@include media-breakpoint-down(lg) {
			grid-area: right;
			margin-left: auto;
		}

		display: flex;
		gap: 16px;
		align-items: center;
		margin-left: 30px;
	}

	&__calendar {
		@include media-breakpoint-down(lg) {
			grid-area: left;
		}

		align-self: center;
	}

	&__filters {
		@include media-breakpoint-down(lg) {
			grid-area: bottom;
			width: 100%;
			margin-left: 0;
		}

		margin-right: auto;
		margin-left: 10px;
	}

	&__filters-list {
		padding: 0 6px;
	}

	&__filters-toggle {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__modes {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}
