.datepicker {
	&__trigger {
		display: flex;
		justify-content: center;
		width: 150px;
	}

	&__nav {
		display: flex;
		gap: 4px;
		margin-bottom: 12px;
	}

	&__nav-item {
		&--sm {
			flex-basis: 50%;
		}

		&--lg {
			flex-basis: 150%;
		}
	}
}
