.datepicker {
	@include media-breakpoint-down(md) {
		--drop-left-body-l: 0;
		--drop-left-body-r: auto;
		--drop-bottom-left-body-brs-tr: var(--drop-brs);
		--drop-top-left-body-brs-br: var(--drop-brs);
		--drop-top-left-body-brs-bl: 0;
		--drop-bottom-left-body-brs-tl: 0;
	}
	--drop-max-h-gap: 30px;

	&__trigger {
		display: flex;
		justify-content: center;
		width: 170px;

		&--sm {
			width: auto;
		}
	}

	&__nav {
		display: flex;
		gap: 4px;
		margin-bottom: 12px;
	}

	&__nav-item {
		&--sm {
			flex-basis: 60%;
		}

		&--lg {
			flex-basis: 110%;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-height: 0;
	}
}
