.drop {
	--drop-bg-cl: rgba(var(--c-bg-drop), .2);
	--drop-brs: 8px;
	--drop-nav-brs: var(--drop-brs) var(--drop-brs) 0 1px;
	--drop-nav-border-top-cl: rgba(var(--c-border-primary), .4);
	--drop-nav-border-bottom-cl: rgba(var(--c-border-primary), .4);
	--drop-body-brs-tl: 0;
	--drop-body-brs-tr: var(--drop-brs);
	--drop-body-brs-br: var(--drop-brs);
	--drop-body-brs-bl: var(--drop-brs);
	--drop-body-mt: -1px;
	--drop-body-mb: 0;
	--drop-max-h-gap: 20px;

	position: relative;
	z-index: 2;
	display: var(--drop-d, flex);
	flex-direction: column;
	align-items: flex-start;

	&:has(> .drop__nav) {
		> .drop__body {
			margin-top: var(--drop-body-mt);
			margin-bottom: var(--drop-body-mb);
			border-radius: var(--drop-body-brs-tl) var(--drop-body-brs-tr) var(--drop-body-brs-br) var(--drop-body-brs-bl);
		}
	}

	&:has(> .drop__body) {
		z-index: 3;

		> .drop__nav {
			position: relative;
			// Вернуть 2, если будут проблемы с боди и кнопкой
			z-index: 3;
			border-radius: var(--drop-nav-brs);
		}
	}

	&__body {
		@include glass;

		position: absolute;
		min-width: calc(100% + 6px);
		padding: 12px;
		border: 1px solid rgba(var(--c-border-primary), .4);
		overflow: hidden;

		&--list {
			margin-top: 10px;
			padding: 0;

			.drop__footer {
				padding-top: 0;
			}
		}

		&--sm {
			padding: 8px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		max-height: calc(var(--drop-max-h) * 1px - var(--drop-max-h-gap));
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__nav,
	&__body {
		border-radius: var(--drop-brs);
		background-color: transparent;
	}

	&__nav {
		border-width: 1px;
		border-style: solid;
		border-top-color: var(--drop-nav-border-top-cl);
		border-right-color: rgba(var(--c-border-primary), .4);
		border-bottom-color: var(--drop-nav-border-bottom-cl);
		border-left-color: rgba(var(--c-border-primary), .4);
		background-color: rgb(var(--c-bg-inverse));

		&--sm {
			--drop-brs: 4px;
		}
	}

	&__item {
		--button-bg-cl: transparent;
		--button-cl: rgb(var(--c-text-primary));
		--button-brs: 0;
		--checkbox-brs: 0;

		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 10px;

		& + & {
			border-top: 1px solid rgba(var(--c-border-primary), .1);
		}

		&--selected {
			.drop__item-icon {
				visibility: visible;
			}
		}

		&:disabled {
			--button-cl: rgb(var(--c-text-primary), .2);

			pointer-events: none;
		}
	}

	&__item-text {
		display: flex;
		gap: 4px;
		width: 100%;
	}

	&__item-icon {
		margin-left: auto;
		visibility: hidden;
	}

	&__item-color {
		display: flex;
		gap: 6px;
		align-items: baseline;

		&::before {
			content: '';
			width: 4px;
			height: 12px;
			border-radius: 2px;
			background-color: rgb(var(--point-color));
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		padding-top: 8px;
		border-top: 1px solid rgba(var(--c-border-primary), .1);

		&--left {
			justify-content: flex-start;
		}

		&--no-border {
			padding-top: 0;
			border-top: none;
		}
	}

	&--top {
		> .drop__body {
			bottom: 100%;
		}

		--drop-nav-brs: 1px 0 var(--drop-brs) var(--drop-brs);
		--drop-nav-border-bottom-cl: rgba(var(--c-border-primary), .4);
		--drop-nav-border-top-cl: transparent;
		--drop-body-brs-tl: var(--drop-brs);
		--drop-body-brs-tr: var(--drop-brs);
		--drop-body-mb: -1px;
		--drop-body-mt: 0;

		&.drop--left {
			--drop-body-brs-br: 0;
			--drop-body-brs-bl: var(--drop-brs);
		}

		&.drop--right {
			--drop-body-brs-br: var(--drop-brs);
			--drop-body-brs-bl: 0;
		}
	}

	&--bottom {
		> .drop__body {
			top: 100%;
		}

		--drop-nav-border-bottom-cl: transparent;

		&.drop--left {
			--drop-body-brs-tr: 0;
			--drop-body-brs-tl: var(--drop-brs);
		}
	}

	&--right {
		> .drop__body {
			left: 0;
		}
	}

	&--left {
		> .drop__body {
			right: 0;
		}
	}

	&--nested {
		> .drop__body {
			&,
			> .drop__inner {
				overflow: visible;
			}
		}
	}
}
