.drop {
	--drop-bg-cl: rgba(var(--c-bg-drop), .2);
	--drop-brs: 8px;

	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&:has(> .drop__nav) {
		> .drop__body {
			margin-top: -1px;
			border-radius: 0 var(--drop-brs) var(--drop-brs);
		}
	}

	&:has(> .drop__body) {
		z-index: 3;

		> .drop__nav {
			position: relative;
			z-index: 2;
			border: 1px solid rgba(var(--c-border-primary), .4);
			border-bottom-color: transparent;
			border-radius: var(--drop-brs) var(--drop-brs) 0 1px;
		}
	}

	&__body {
		@include glass;

		position: absolute;
		z-index: 1;
		padding: 12px;
		border: 1px solid rgba(var(--c-border-primary), .4);
		overflow: hidden;

		&--list {
			margin-top: 10px;
			padding: 0;

			.drop__footer {
				padding-top: 0;
			}
		}
	}

	&__inner {
		max-height: calc(var(--drop-max-h) * 1px - 10px);
		overflow: auto;
	}

	&__nav,
	&__body {
		border-radius: var(--drop-brs);
		background-color: transparent;
	}

	&__nav {
		background-color: rgb(var(--c-bg-inverse));

		&--sm {
			--drop-brs: 4px;
		}
	}

	&__item {
		--button-bg-cl: transparent;
		--button-cl: rgb(var(--c-text-primary));
		--button-brs: 0;

		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 10px;

		& + & {
			border-top: 1px solid rgba(var(--c-border-primary), .1);
		}

		&--selected {
			.drop__item-icon {
				visibility: visible;
			}
		}
	}

	&__item-text {
		display: flex;
		gap: 4px;
		width: 100%;
	}

	&__item-icon {
		margin-left: auto;
		visibility: hidden;
	}

	&__item-color {
		display: block;

		&::first-letter {
			padding: 2px 0 2px 2px;
			background-color: rgb(var(--point-color));
			color: rgb(var(--c-text-inverse));
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		padding-top: 8px;
		border-top: 1px solid rgba(var(--c-border-primary), .1);

		&--left {
			justify-content: flex-start;
		}
	}

	&--top {
		> .drop__body {
			bottom: 100%;
		}
	}

	&--bottom {
		> .drop__body {
			top: 100%;
		}
	}

	&--right {
		> .drop__body {
			left: 0;
		}
	}

	&--left {
		> .drop__body {
			right: 0;
		}
	}

	&--nested {
		> .drop__body {
			&,
			> .drop__inner {
				overflow: visible;
			}
		}
	}
}
