.filters {
	--filters-gap: 20px;
	--filters-switcher-mt: 16px;

	display: flex;
	gap: var(--filters-gap);
	align-items: center;

	&__aside {
		margin-left: auto;
	}

	&__search {
		flex-shrink: 1;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		margin-top: var(--filters-switcher-mt);

		& + & {
			padding-left: var(--filters-gap);

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: calc(100% - var(--filters-switcher-mt));
				border-left: 1px solid rgb(var(--c-border-primary));
			}
		}
	}
}
