.filters {
	@include media-breakpoint-down(md) {
		display: grid;
		grid-template-areas: 'top' 'bottom';
	}

	@include media-breakpoint-down(sm) {
		grid-template-rows: 1fr auto;
		transition: grid-template-rows 0.4s linear;
	}

	--filters-mt: 16px;

	display: flex;
	align-items: center;

	&:has(&__switchers--hidden) {
		@include media-breakpoint-down(sm) {
			grid-template-rows: 0fr auto;
		}
	}

	&__switchers {
		@include media-breakpoint-down(sm) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			overflow: hidden;
			transition: transform 0.2s 0.4s linear;
		}

		display: flex;
		grid-area: top;
		justify-content: space-between;

		&--hidden {
			@include media-breakpoint-down(sm) {
				pointer-events: none;
				transition: transform 0.2s linear;
				transform: scaleY(0);
			}
		}
	}

	&__aside {
		@include media-breakpoint-down(lg) {
			margin-top: var(--filters-mt);
		}

		@include media-breakpoint-down(md) {
			width: 100%;
		}

		display: flex;
		grid-area: bottom;
		align-items: center;
		margin-left: auto;
	}

	&__search {
		@include media-breakpoint-down(md) {
			margin-left: 8px;
		}

		flex-shrink: 1;
		grid-area: bottom;
		order: 1;
		margin-left: 20px;
	}

	&__clear {
		@include media-breakpoint-down(lg) {
			margin-right: 8px;
		}

		@include media-breakpoint-down(md) {
			margin-right: 0;
		}

		grid-area: bottom;
		margin-left: 8px;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		align-items: center;
		min-width: 140px;
		margin-top: var(--filters-mt);
	}

	&__colors {
		@include media-breakpoint-down(lg) {
			order: 1;
		}

		@include media-breakpoint-down(md) {
			order: 0;
			margin-right: auto;
		}

		grid-area: bottom;

		&--selected {
			&::after {
				content: '';
				position: absolute;
				top: 4px;
				right: -6px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: rgba(var(--c-bg-primary), 0.3);
			}
		}
	}
}
