.filters {
	--filters-gap: 0;
	--filters-switcher-mt: 16px;

	display: flex;
	gap: var(--filters-gap);
	align-items: center;

	&__aside {
		margin-left: auto;
	}

	&__search {
		flex-shrink: 1;
		margin-left: 20px;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		align-items: center;
		min-width: 160px;
		margin-top: var(--filters-switcher-mt);

		& + & {
			padding-left: var(--filters-gap);
		}
	}
}
