.form {
	@include media-breakpoint-down(md) {
		width: 100%;
	}
	--form-col-brs: 15px;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
	}

	&__row {
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
		}

		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&--settings {
			@include media-breakpoint-down(sm) {
				display: grid;
				grid-template-areas: 'direction colors' 'modes checks';
				grid-template-columns: auto auto;
			}

			align-items: flex-start;
		}

		&--settings-link {
			grid-template-areas: 'colors checks direction';
			grid-template-columns: auto 1fr auto;

			.form__checks {
				margin-left: auto;
			}
		}
	}

	&__col {
		margin-right: auto;

		&--right {
			margin-right: 0;
			margin-left: auto;
		}
	}

	&__control {
		width: 100%;
	}

	&__checks {
		display: flex;
		grid-area: checks;
		gap: 6px;
	}

	&__color {
		@include media-breakpoint-down(sm) {
			margin-right: 0;
			margin-left: auto;
		}

		grid-area: colors;
		margin-right: auto;
		margin-bottom: auto;
	}

	&__modes {
		grid-area: modes;
	}

	&__direction {
		display: flex;
		grid-area: direction;
		gap: 15px;
	}

	&__section {
		@include media-breakpoint-down(xs) {
			padding: 5px;
		}

		@include transition(background-color 0.5s);

		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: space-between;
		width: 100%;
		margin-top: 10px;
		padding: 15px;
		border: 1px solid rgba(var(--point-color), 0.2);
		border-radius: var(--form-col-brs);
		background-color: rgba(var(--c-bg-primary), 0.02);

		&--auth {
			width: clamp(50%, 400px, 100%);
			margin: 20px auto;
		}

		&--edit {
			&:first-child {
				background-color: rgba(var(--c-bg-primary), 0.06);
			}
		}

		&--active {
			background-color: rgba(var(--c-bg-primary), 0.5);
		}
	}

	&__section-title {
		display: flex;
		gap: 8px;
		margin-top: 20px;

		&--top {
			margin-top: 0;
		}
	}

	&__btn {
		white-space: nowrap;
	}

	&__submit {
		margin-left: auto;
	}

	&__button-mobile {
		@include media-breakpoint-up(lg) {
			display: none;
		}

		&--hidden {
			display: none;
		}
	}

	&--single {
		.form {
			&__section {
				background-color: rgba(var(--c-bg-primary), 0.06);

				&:first-child {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}

				+ .form__section {
					margin-top: 0;
					padding-top: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
		}
	}
}
