.form-drop {
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}

	display: flex;
	gap: 18px;
	min-height: 120px;

	&__row {
		display: flex;

		&--footer {
			justify-content: space-between;
		}
	}

	&__col {
		@include media-breakpoint-up(md) {
			min-height: 274px;
		}

		display: flex;
		flex-direction: column;
		width: 190px;

		&:first-child {
			border-right: 1px solid rgb(var(--c-border-inverse));
		}

		&--period {
			width: 200px;
		}
	}

	&__mode {
		margin-top: 10px;
		margin-right: auto;
	}

	&__period {
		width: 80px;
		margin-right: auto;
	}

	&__subtitle {
		margin-top: 6px;
		margin-bottom: 6px;
		font-size: 14px;
	}

	&__radio {
		--radio-box-top: 3px;
	}

	&__submit {
		@include media-breakpoint-down(sm) {
			margin-top: 20px;
		}

		margin-top: auto;
		margin-left: auto;
	}

	&__control-datepicker {
		width: 170px;
	}

	&__month-options {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin: 8px 0;
		font-size: 14px;
	}

	&__datepicker {
		margin-right: auto;
	}

	&--emoji {
		flex-direction: column;
		gap: 0;
		min-height: 0;

		.form-drop__col {
			min-height: 0;

			&:first-child {
				margin-right: 10px;
				border-right: 0;
			}
		}

		.form-drop__body {
			width: 266px;
		}

		.form-drop__row {
			&--footer {
				margin-top: 20px;
			}
		}
	}
}
