.generation {
	&__body {
		display: flex;
		gap: 18px;
		min-height: 120px;
	}

	&__row {
		display: flex;
	}

	&__col {
		display: flex;
		flex-direction: column;
		width: 190px;
		min-height: 274px;

		&:first-child {
			border-right: 1px solid rgb(var(--c-border-inverse));
		}

		&--period {
			width: 200px;
		}
	}

	&__mode {
		margin-top: 10px;
		margin-right: auto;
	}

	&__period {
		width: 80px;
		margin-right: auto;
	}

	&__subtitle {
		margin-top: 6px;
		margin-bottom: 6px;
		font-size: 14px;
	}

	&__radio {
		--radio-box-top: 3px;
	}

	&__submit {
		margin-top: auto;
		margin-left: auto;
	}

	&__control-datepicker {
		width: 170px;
	}

	&__month-options {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin: 8px 0;
		font-size: 14px;
	}

	&__datepicker {
		margin-right: auto;
	}
}
