.icon {
	--icon-stroke-w: 1px;
	--icon-w: 16px;

	display: inline-block;
	flex-shrink: 0;
	width: var(--icon-w);
	height: auto;
	fill: transparent;
	stroke: currentColor;
	stroke-width: 0;

	[stroke] {
		stroke: currentColor;
		stroke-width: var(--icon-stroke-w);
	}

	[fill],
	:not([stroke]) {
		fill: currentColor;
	}

	&--positive {
		[stroke] {
			stroke: rgb(var(--c-text-positive));
		}
	}

	&--negative {
		[stroke] {
			stroke: rgb(var(--c-text-negative));
		}
	}
}
