html {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body {
	display: flex;
	flex-grow: 1;
	height: 100%;
	background-color: rgb(var(--c-bg-body));
	box-shadow: inset 0 0 40px 0 rgba(var(--c-shadow-primary), .4);
	font-family: 'Roboto Slab', sans-serif;
}

.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px 0;

	@media (max-width: 1024px) {
		height: auto;
	}
}

.main {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	margin: 20px 0;
	overflow: hidden;

	&__inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 100%;
	}
}
