html {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
	scrollbar-gutter: stable;
}

body {
	--body-bg-color-1: rgba(var(--c-bg-primary), .03);
	--body-bg-color-2: transparent;
	--body-bg-size: 20px;

	display: flex;
	flex-grow: 1;
	color: rgb(var(--c-text-primary));
	font-family: var(--ff-slab);

	::selection {
		background-color: rgb(var(--c-bg-primary));
		color: rgb(var(--c-text-inverse));
	}
}

.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	@media (max-width: 1024px) {
		height: auto;
	}
}

.main {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;

	&__inner {
		z-index: 1;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		width: 100%;
		max-height: 100%;
	}
}
