* {
	scrollbar-color: rgba(var(--c-bg-primary), 0.25) rgba(var(--c-bg-body), 1);
}

html {
	display: flex;
	flex-direction: column;
	height: 100%;
	height: 100dvh;
	overflow: auto;
	scrollbar-gutter: stable;
}

body {
	--body-bg-color-1: rgba(var(--c-bg-primary), 0.03);
	--body-bg-color-2: transparent;
	--body-bg-size: 20px;

	display: flex;
	flex-grow: 1;
	background-color: rgb(var(--c-bg-body));
	color: rgb(var(--c-text-primary));
	font-family: var(--ff-slab);

	::selection {
		background-color: rgb(var(--c-bg-primary));
		color: rgb(var(--c-text-inverse));
	}
}
