a,
.link {
	display: inline-flex;
	padding: 0;
	border: none;
	background-color: transparent;
	color: rgba(var(--c-text-primary), .6);
	text-decoration: underline;
	overflow-wrap: break-word;
	cursor: pointer;
}

.link {
	--link-icon-w: 16px;
	--link-icon-stroke-w: 1px;
	--link-fz: 16px;
	--link-gap: 4px;
	--link-fw: 400;
	--icon-w: var(--link-icon-w);

	gap: var(--link-gap);
	align-items: baseline;
	font-size: var(--link-fz);
	font-weight: var(--link-fw);
	text-align: left;

	&__icon {
		--icon-stroke-w: var(--link-icon-stroke-w);
		--loader-icon-w: var(--icon-w);

		width: var(--link-icon-w);
		margin: auto;
		vertical-align: middle;
	}

	&__text {
		&:empty {
			display: none;
		}
	}

	&--lg {
		--link-icon-w: 20px;
		--link-icon-stroke-w: 1px;
		--link-gap: 6px;
		--link-fz: 20px;
	}

	&--lg,
	&--xl {
		--link-fw: 300;

		text-decoration: none;
	}

	&--xl {
		--link-icon-w: 40px;
		--link-gap: 8px;
		--link-fz: 40px;
	}

	&--primary {
		color: rgb(var(--c-text-primary));
	}

	&--secondary {
		color: rgb(var(--c-text-button));
	}

	&--positive {
		color: rgb(var(--c-text-positive));
	}

	&--negative {
		color: rgb(var(--c-text-negative));
	}

	&--emoji {
		color: currentColor;
	}
}
