.logo {
	--logo-h: 60px;
	--logo-pb: 2px;
	--logo-hue-initial: 0;
	--logo-hue-initial-old: 0;
	--logo-zero-duration: 100;
	--logo-zero-duration-count:
		calc(
			(var(--count) + var(--logo-hue-initial) + var(--logo-hue-initial-old)) / var(--logo-zero-duration) * 360
		);

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: var(--logo-h);
	padding: 0 10px var(--logo-pb);
	background-color: rgba(var(--c-bg-primary), .4);
	color: rgb(var(--c-text-inverse));
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__row {
		font-size: 24px;

		&--second {
			font-size: 13.5px;
		}
	}

	&__count {
		display: flex;
		font-size: var(--logo-h);
		line-height: calc(var(--logo-h) - var(--logo-pb));
	}

	&__zero {
		margin-bottom: calc(var(--logo-pb) * -1);
		background-color: hwb(var(--logo-zero-duration-count) 30% 10%);
		transition: background-color .5s;
	}
}
