.logo {
	@include media-breakpoint-down(xs) {
		--logo-gap: 5px;
	}
	--logo-h: 60px;
	--logo-pb: 2px;
	--logo-gap: 10px;

	display: flex;
	gap: var(--logo-gap);
	align-items: center;
	justify-content: center;
	height: var(--logo-h);
	padding: 0 var(--logo-gap) var(--logo-pb);
	border-radius: 8px;
	background-color: rgba(var(--c-bg-primary), 0.2);
	color: rgb(var(--c-text-primary));
	font-weight: 400;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__row {
		font-size: 24px;

		&--second {
			font-size: 13.5px;
		}
	}

	&__count {
		display: flex;
		font-size: var(--logo-h);
		line-height: calc(var(--logo-h) - var(--logo-pb));
	}

	&__board {
		align-self: center;
		margin: var(--logo-pb) 2px 0;
		box-shadow: 0 0 1px 1px rgb(var(--c-bg-primary), 0.4);
	}

	&__letters {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}
