.main {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;

	&__inner {
		z-index: 1;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		width: 100%;
		max-height: 100%;
	}

	&__nav {
		margin-top: 10px;
		margin-right: 10px;
		margin-left: auto;
	}

	&__auth {
		flex-grow: 0;
	}

	&__auth-external {
		position: relative;
		flex-grow: 1;
		margin: 0 auto auto;

		&::before {
			@include media-breakpoint-down(sm) {
				top: -12px;
			}

			content: '';
			position: absolute;
			top: -18px;
			left: 20%;
			display: block;
			width: 60%;
			height: 1px;
			background-color: rgba(var(--c-text-primary), 0.2);
		}
	}

	&__auth-external-inner {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}

	&__auth-external-icon {
		display: block;
		width: 36px;
	}
}
