.marker {
	@include media-breakpoint-down(xs) {
		padding: 4px;
	}
	--marker-opacity: 1;
	--marker-color: rgb(var(--c-text-primary));
	--marker-bg-cl: rgba(var(--c-bg-primary), .04);

	position: relative;
	display: flex;
	padding: 6px;
	border-radius: 6px;
	background-color: var(--marker-bg-cl);
	color: var(--marker-color);
	opacity: var(--marker-opacity);

	&__inner {
		@include media-breakpoint-down(xs) {
			width: 16px;
		}

		width: 24px;
		color: rgb(var(--marker-color));
	}

	&--inactive {
		--marker-bg-cl: transparent;
		--marker-opacity: .2;
	}
}
