.marker {
	--marker-opacity: 1;
	--marker-color: rgb(var(--c-text-primary));

	position: relative;
	display: flex;
	padding: 6px;
	border-radius: 6px;
	color: var(--marker-color);
	opacity: var(--marker-opacity);

	&::before {
		// content: '';
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;
		border: 1px solid var(--marker-color);
		border-radius: 8px;
	}

	&__inner {
		width: 24px;
		color: rgb(var(--marker-color));
	}

	&--inactive {
		--marker-opacity: .2;

		&::before {
			display: none;
		}
	}
}
