.mode-stats {
	&__calendars {
		@include media-breakpoint-down(md) {
			flex-direction: column;
			align-items: flex-start;
		}

		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__calendar {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&__switcher {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__label {
		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}

		margin-top: 20px;
		margin-bottom: 5px;
		font-size: 18px;
	}

	&__value {
		@include media-breakpoint-down(sm) {
			font-size: 24px;
		}

		font-size: 36px;
	}

	&__result {
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}

		display: flex;
		padding-top: 10px;
		border-top: 1px solid rgb(var(--c-border-primary));
	}

	&__result-col {
		@include media-breakpoint-down(md) {
			width: 100%;
		}

		width: 50%;
	}
}
