.nav {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	@media (max-width: 1024px) {
		&__aside {
			display: flex;
			flex-direction: column;
		}

		&__divider {
			display: none;
		}

		&__item {
			margin-top: 12px;
			margin-right: auto;
		}
	}

	&__aside {
		align-items: flex-start;
		margin-top: auto;

		&--right {
			margin-left: auto;

			@media (max-width: 1024px) {
				.nav__item {
					margin-right: 0;
				}
			}
		}

		@media (max-width: 1024px) {
			&--top {
				margin-top: 0;
				margin-bottom: auto;

				.nav__item {
					margin-top: 0;
					margin-bottom: 12px;
				}
			}
		}
	}

	&__item {
		&--disabled {
			color: lightgrey;
		}
	}

	&--right {
		.nav__aside {
			align-items: flex-end;
		}
	}
}
