.nav {
	--nav-header-border-b-cl: rgba(var(--c-border-primary), .2);

	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding-right: var(--cont-x);
	padding-left: var(--cont-x);
	background-color: rgb(var(--c-bg-panel));

	&__aside {
		display: flex;
		gap: 20px;
		align-items: center;

		&--right {
			margin-left: auto;
		}

		&--home {
			grid-area: right;
		}

		&--links {
			@include media-breakpoint-down(sm) {
				margin-top: 10px;
				margin-bottom: 5px;
			}

			grid-area: bottom;
		}
	}

	&__item-inner {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	&__create {
		margin-left: 20px;
	}

	&__logo {
		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}

		grid-area: left;
		margin-right: auto;
		margin-left: 20px;
	}

	&--header {
		@include media-breakpoint-down(md) {
			padding-top: 10px;
			padding-right: var(--cont-x-md);
			padding-bottom: 0;
			padding-left: var(--cont-x-md);
		}

		@include media-breakpoint-down(sm) {
			display: grid;
			grid-template-areas: 'left right' 'bottom bottom';
		}

		padding-top: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--nav-header-border-b-cl);
	}

	&--footer {
		--cont-x: 20px;

		position: sticky;
		bottom: 0;
		z-index: 1;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid rgba(var(--c-border-primary), .2);

		&:not(:has(.nav__aside:not(:empty))) {
			display: none;
		}

		.nav__aside {
			gap: 4px;
		}
	}

	&--right {
		.nav__aside {
			align-items: flex-end;
		}
	}
}
