.nav {
	display: flex;
	flex-shrink: 0;
	align-items: flex-start;
	justify-content: space-between;
	height: 60px;
	padding: 0 40px;

	@media (max-width: 1024px) {
		&__aside {
			display: flex;
			flex-direction: column;
		}

		&__item {
			margin-top: 12px;
			margin-right: auto;
		}
	}

	&__aside {
		display: flex;
		gap: 20px;
		align-items: center;

		&--right {
			margin-left: auto;

			@media (max-width: 1024px) {
				.nav__item {
					margin-right: 0;
				}
			}
		}

		@media (max-width: 1024px) {
			&--top {
				margin-top: 0;
				margin-bottom: auto;

				.nav__item {
					margin-top: 0;
					margin-bottom: 12px;
				}
			}
		}
	}

	&__item {
		&--disabled {
			color: lightgrey;
		}
	}

	&__item-inner {
		display: flex;
		gap: 4px;
	}

	&__create {
		margin-left: 20px;
	}

	&--right {
		.nav__aside {
			align-items: flex-end;
		}
	}
}
