.panel {
	--panel-px: 40px;

	&__body {
		padding: 0 var(--panel-px);
		border-bottom: 1px solid rgba(var(--c-border-primary), .2);
	}

	&__content {
		&.ng-animating {
			overflow: hidden;
		}
	}

	&__button {
		align-self: flex-start;
		margin-top: -1px;
		margin-left: var(--panel-px);
		border-top-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: rgb(var(--c-bg-body));
	}

	&__footer {
		display: flex;
	}
}
