.panel {
	--panel-px: 40px;

	&__body {
		padding: 10px var(--panel-px);
		border-bottom: 1px solid rgba(var(--c-border-primary), .2);
		background-color: rgb(var(--c-bg-panel));
	}

	&__content {
		transition: height .3s cubic-bezier(.1, .79, .24, .95);

		&--animating,
		&.ng-animating {
			overflow: hidden;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: var(--panel-px);
	}

	&__button {
		margin-top: -1px;
		border-top-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: rgb(var(--c-bg-panel));
	}

	&__button-extra {
		margin-top: 8px;
	}

	&__footer {
		display: flex;
		align-items: flex-start;
	}

	&__tabs {
		display: flex;
		gap: 4px;
		margin: 0 auto;
		overflow: hidden;
	}
}
