.panel {
	@include media-breakpoint-down(sm) {
		--panel-px: 30px;
	}

	@include media-breakpoint-down(xs) {
		--panel-px: 10px;
	}
	--panel-px: 40px;

	&__body {
		@include media-breakpoint-down(md) {
			padding-top: 0;
		}

		padding: 10px var(--panel-px);
		border-bottom: 1px solid rgba(var(--c-border-primary), 0.2);
		background-color: rgb(var(--c-bg-panel));
		content-visibility: auto;
	}

	&__content {
		@include transition(height 0.3s cubic-bezier(0.1, 0.79, 0.24, 0.95));

		&--animating,
		&.ng-animating {
			overflow: hidden;
		}

		&--hidden {
			display: none;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: var(--panel-px);
	}

	&__button {
		margin-top: -1px;
		border-top-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: rgb(var(--c-bg-panel));
	}

	&__button-extra {
		z-index: 1;
		margin-top: 8px;
	}

	&__footer {
		display: flex;
		align-items: flex-start;
	}

	&__tabs {
		display: flex;
		gap: 4px;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
}
