.point-page {
	flex-grow: 1;

	&__info {
		display: flex;
		gap: 24px;
	}

	&__title {
		&::first-letter {
			padding: 4px 0 4px 4px;
			background-color: rgb(var(--point-color));
			color: rgb(var(--c-text-button));
		}
	}

	&__author {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	&__markers {
		display: flex;
		gap: 10px;
		align-items: center;
		margin: 30px 0;
	}

	&__clock {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 100vh;
		height: 80vh;
		overflow: hidden;
	}
}
