.point {
	display: flex;
	width: 100%;
	// border: 1px solid var(--point-color);
	// border-right: 0;
	border-left-color: transparent;
	// border-radius: 20px 0 0 20px;
	background-color: rgba(var(--point-color), .1);

	@media (max-width: 1024px) {
		flex-direction: column;
	}

	&__title {
		color: #999999;
		font-family: 'Roboto Slab', sans-serif;
		font-weight: 500;
	}

	&__main {
		flex-grow: 1;
		padding: 20px;
		text-decoration: none;
	}

	&__aside {
		display: flex;
		// flex-direction: column;
		width: 200px;
		margin-left: auto;
	}

	&__markers {
		width: 150px;
		background-color: rgb(var(--point-color));
	}

	&__nav {
		display: flex;
		flex-direction: column;
		// border-radius: 0 0 10px 10px;
		// background-color: rgb(var(--point-color));

		// & + &,
		// &:not(:has(+ &)) {
		// 	flex-grow: 1;
		// 	margin-top: 4px;
		// 	border-radius: 10px 10px 0 0;
		// }
	}

	&__addon {
		margin-top: 6px;
		margin-left: 10px;

		@media (max-width: 1024px) {
			margin-left: 0;
		}
	}

	&--available {
		border-left-color: rgb(var(--point-color));

		.point__title {
			color: black;
		}
	}

	&--sm {
		.point {
			padding: 8px;

			&__title {
				font-size: 16px;
			}
		}
	}
}

