.point {
	display: flex;
	width: 100%;
	border-left-color: transparent;
	background-color: rgba(var(--point-color), .1);

	@media (max-width: 1024px) {
		flex-direction: column;
	}

	&__title {
		color: #999999;
		font-family: 'Roboto Slab', sans-serif;
		font-weight: 500;
	}

	&__main {
		flex-grow: 1;
		padding: 20px;
		text-decoration: none;
	}

	&__aside {
		display: flex;
		width: 220px;
		margin-left: auto;
	}

	&__markers {
		display: flex;
		gap: 12px;
		align-items: center;
		justify-content: center;
		width: 180px;
		background-color: rgb(var(--point-color));
	}

	&__nav {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--available {
		border-left-color: rgb(var(--point-color));

		.point__title {
			color: black;
		}
	}

	&--sm {
		.point {
			padding: 8px;

			&__title {
				font-size: 16px;
			}
		}
	}
}
