.points-list {
	@include media-breakpoint-down(md) {
		--points-list-min-w: 100%;
	}

	@include media-breakpoint-down(sm) {
		--points-list-gap: 10px;
	}

	--points-list-gap: 20px;
	--points-list-min-w: 410px;
	--points-list-lines-min-w: 950px;

	display: grid;
	flex-grow: 1;
	grid-template-columns: repeat(auto-fill, minmax(var(--points-list-min-w), 1fr));
	gap: var(--points-list-gap);
	align-content: flex-start;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&__item {
		display: flex;
	}

	&__more {
		width: 100%;
	}

	&--lines {
		@include media-breakpoint-down(md) {
			--points-list-lines-min-w: 100%;
		}

		grid-template-columns: repeat(auto-fill, minmax(var(--points-list-lines-min-w), 1fr));
	}
}
