.points-list {
	--points-list-gap: 20px;

	display: grid;
	flex-grow: 1;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: var(--points-list-gap);
	align-content: flex-start;
	width: 100%;
	margin: 0;
	padding: 0;

	&__item {
		display: flex;
	}

	&--lines {
		grid-template-columns: auto;
	}
}
