.point-page {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;

	&__info {
		display: flex;
	}

	&__header {
		display: grid;
		align-items: center;
	}

	&__author {
		display: flex;
		gap: 4px;
		align-items: center;
		justify-self: end;
		padding-left: 20px;
	}

	&__markers {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-self: start;
		padding-right: 20px;
	}

	&__author,
	&__markers {
		z-index: 1;
		grid-area: 1/1/1/1;
		background-color: rgb(var(--c-bg-body));
	}

	&__title {
		position: relative;
		display: grid;
		grid-area: 1/1/1/1;
		text-align: center;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			z-index: -1;
			display: block;
			flex-grow: 1;
			height: 1px;
			margin: 0 10px;
			background-color: rgb(var(--c-border-primary));
		}
	}

	&__title-text {
		position: relative;
		z-index: 0;
		display: block;
		grid-area: 1/1/1/1;
		max-width: 50%;
		margin: auto;
		text-wrap: balance;

		&::first-letter {
			padding: 4px 0 4px 4px;
			background-color: rgb(var(--point-color));
			color: rgb(var(--c-text-inverse));
		}

		&--bg {
			@include text-bg;

			color: transparent;
			user-select: none;
		}
	}

	&__clock {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 50%;
		height: 100%;
		overflow: hidden;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__remain,
	&__description {
		padding: 0 12px;
		font-size: 12px;
		text-wrap: balance;
	}

	&__description {
		text-align: right;
	}
}
