.popup {
	--popup-w: clamp(600px, 100%, 1000px);
	--popup-mt: 100px;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	display: flex;

	&:has(.popup__content) {
		&::before {
			content: '';
		}
	}

	&:empty {
		display: none;
	}

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(var(--c-bg-primary), .2);
		backdrop-filter: blur(6px);
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		width: var(--popup-w);
		margin: 100px auto;
		border-radius: 12px;
		overflow: auto;
		background-color: rgb(var(--c-bg-inverse));
	}

	&__title {
		padding: 20px;
		background-color: rgba(var(--c-bg-primary), .9);
		color: rgba(var(--c-text-button), 1);
		font-weight: 300;
	}

	&__btn {
		position: absolute;
		right: calc((var(--popup-w) / 2) + 50%);
		bottom: calc(100% - var(--popup-mt));
		z-index: 1;
		align-self: flex-start;
	}

	&__content {
		padding: 20px 32px;
		overflow: auto;
	}
}
