.profile {
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}

	flex-grow: 0;

	&__col {
		@include media-breakpoint-down(sm) {
			flex-direction: row;
			width: 100%;
		}

		align-items: flex-end;
		width: clamp(240px, 25%, 400px);

		&--lg {
			@include media-breakpoint-down(sm) {
				width: 100%;
			}

			flex-grow: 1;
		}
	}

	&__footer {
		display: flex;

		&--aside {
			display: block;
			margin-right: auto;
		}
	}

	&__submit {
		margin-top: 15px;
	}

	&__userpic {
		margin-bottom: auto;
	}
}
