.switcher {
	--switcher-item-cl: rgb(var(--c-text-button));

	display: flex;
	gap: 4px;
	padding: 4px;
	border-radius: 8px;
	background-color: rgba(var(--c-bg-primary), .2);

	&__item {
		display: flex;
		padding: 4px 8px;
		border-radius: 4px;
		color: var(--switcher-item-cl);
		cursor: pointer;

		&--active {
			--switcher-item-cl: rgb(var(--c-text-primary));

			background-color: rgb(var(--c-bg-inverse));
		}
	}

	&__input {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	&__icon {
		--icon-w: 24px;
		--icon-stroke-w: 1px;
	}
}
