.tabs {
	display: flex;
	gap: 12px;
	margin: 0 16px;
	padding: 4px 0;
	overflow: auto;
	list-style-type: none;

	&__item {
		display: grid;
		grid-template-areas: 'button check' 'button remove';
		align-self: center;

		&--day {
			.tabs__btn {
				background-color: beige;
			}
		}

		&--active {
			.tabs__btn {
				background-color: lightgrey;
			}
		}

		&--copy {
			&.tabs__item--active,
			&.tabs__item--day {
				.tabs__btn {
					/* stylelint-disable-next-line max-nesting-depth */
					&::before {
						content: '\2022';
						position: absolute;
						top: 3px;
						left: 3px;
					}
				}
			}
		}
	}

	&__btn {
		position: relative;
		display: block;
		grid-area: button;
		padding: 12px;
		border: 1px solid gray;
	}

	&__check {
		grid-area: check;
		margin: auto;
	}

	&__remove {
		grid-area: remove;
	}

	&__nav {
		display: flex;
		gap: 4px;
	}
}
