.tabs {
	--tabs-gap: 50px;
	--tabs-item-before-opacity: .1;
	--tabs-date-cl: rgba(var(--c-text-primary), .4);

	display: flex;
	gap: var(--tabs-gap);
	margin: 0;
	padding: 4px calc(var(--tabs-gap) + 20px) 120px calc(var(--tabs-gap) + 40px);
	overflow: auto hidden;
	list-style-type: none;
	scroll-behavior: smooth;
	scroll-padding: 50%;

	&__item {
		position: relative;
		display: flex;
		gap: 4px;
		align-items: center;
		align-self: center;
		padding: 0 12px;

		&:first-child,
		& + & {
			&::before {
				content: '';
			}
		}

		&:last-child {
			&::after {
				content: '';
				right: auto;
				left: 100%;
			}
		}

		&::before,
		&::after {
			position: absolute;
			right: 100%;
			width: var(--tabs-gap);
			height: 4px;
			border-top: 1px solid rgba(var(--c-border-primary), var(--tabs-item-before-opacity));
			background-image:
				linear-gradient(
					// TODO
				);
		}

		&--day {
			& + & {
				--tabs-item-before-opacity: 1;
			}
		}

		&--active {
			.tabs__btn {
				--button-bg-cl: rgba(var(--c-bg-primary), .1);
				--button-border-cl: rgba(var(--c-border-primary), .2);
			}
		}

		&--copy {
			&.tabs__item--active,
			&.tabs__item--day {
				.tabs__btn {
					--button-cl: rgb(var(--c-text-negative));
					--button-border-cl: rgba(var(--c-border-negative), .2);
					--button-bg-cl: rgba(var(--c-bg-negative), .1);
				}
			}
		}
	}

	&__btn {
		--button-fz: 16px;

		position: relative;
		width: 100%;
		border-radius: 12px;
	}

	&__check {
		margin: auto;
	}

	&__remove {
		padding: 0;
	}

	&__nav {
		display: flex;
		gap: 4px;
		align-self: flex-start;
		height: 42px;
	}

	&__label-wrapper {
		position: absolute;
		top: 100%;
		left: 50%;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	&__label {
		font-size: 10px;
		text-align: right;
		text-wrap: nowrap;
		transform: rotate(45deg);
		transform-origin: bottom right;

		&--now {
			margin-bottom: 12px;

			.tabs__date {
				--tabs-date-cl: rgb(var(--c-text-inverse));

				padding: 4px 2px;
				border-radius: 8px;
				background-color: rgb(var(--c-bg-positive));
			}
		}
	}

	&__remain {
		margin: 0 0 12px;
	}

	&__date {
		margin: 0;
		color: var(--tabs-date-cl);
	}
}
