.timers {
	@include media-breakpoint-between(md, lg) {
		--timers-bp: 700;
	}

	--timers-bp: 600;
	--timers-num: 3;
	--timers-item-shadow-spread: 1px;

	width: clamp(285px, 100%, 1600px);
	container-name: timers;
	container-type: inline-size;

	&:has(.timers__item-wrapper--date) {
		--timers-num: 4;
	}

	&:has(.timers__item-wrapper--date:nth-child(2)) {
		--timers-num: 5;
	}

	&:has(.timers__item-wrapper--date:nth-child(3)) {
		--timers-num: 6;
	}

	@media (min-aspect-ratio: $timer-ratio) {
		height: 100%;
		min-height: 100px;
		max-height: 200px;
		container-type: size;
	}

	&__wrapper {
		@include media-breakpoint-down(sm) {
			grid-template-areas: 'year month day' 'hour minute second';
			grid-template-columns: 1fr 1fr 1fr;

			&:not(:has(.timers__item-wrapper--date)) {
				row-gap: 0;
			}
		}

		--timers-p: #{timer-size(10)};
		--timers-gap: #{timer-size(24)};
		--timers-divider-mt: #{timer-size(8)};
		--timers-divider-fz: #{timer-size(32)};

		display: flex;
		justify-content: center;
		height: 100%;
		padding: var(--timers-p) var(--timers-p) calc(var(--timers-p) * 2);

		@media (min-aspect-ratio: $timer-ratio) {
			--timers-p: #{timer-size-height(10)};
			--timers-gap: #{timer-size-height(24)};
			--timers-divider-mt: #{timer-size-height(8)};
			--timers-divider-fz: #{timer-size-height(32)};
		}
	}

	&__item {
		z-index: 1;
		box-shadow: 0 0 1px var(--timers-item-shadow-spread) rgb(var(--c-shadow-primary), 0.5);
	}

	&__item-wrapper {
		position: relative;
		display: flex;

		&:nth-child(1) {
			grid-area: year;
		}

		&:nth-child(2) {
			grid-area: month;
		}

		&:nth-child(3) {
			grid-area: day;
		}

		&:nth-last-child(3) {
			grid-area: hour;
		}

		&:nth-last-child(2) {
			grid-area: minute;
		}

		&:nth-last-child(1) {
			grid-area: second;
		}

		&:first-child {
			margin-left: var(--timers-gap);
		}

		&:last-child {
			margin-right: var(--timers-gap);
		}

		& + & {
			margin-left: var(--timers-gap);
		}

		&--date,
		&--time {
			&::after {
				@include media-breakpoint-down(sm) {
					--timers-gap: #{timer-size(24)};
				}

				position: absolute;
				left: 100%;
				display: block;
				width: var(--timers-gap);
				margin-top: var(--timers-divider-mt);
				color: rgb(var(--c-text-primary));
				font-family: monospace;
				font-size: var(--timers-divider-fz);
				text-align: center;
				transform: translateZ(0);
			}
		}

		&--date {
			&:has(+ &) {
				&::after {
					content: '/';
				}
			}
		}

		&--time {
			&:has(+ &) {
				&::after {
					content: ':';
				}
			}
		}
	}

	&--sm {
		@include media-breakpoint-down(sm) {
			min-height: 80px;
		}
		--timers-item-shadow-spread: 0;

		display: flex;
		align-items: flex-end;
		width: auto;
		min-height: 30px;
		margin: 0;
		container: unset;

		.timers__wrapper {
			@include media-breakpoint-down(sm) {
				--timers-gap: 0;

				display: grid;
				gap: 20px 15px;

				.timers__item-wrapper {
					/* stylelint-disable-next-line max-nesting-depth */
					&::after {
						width: 10px;
						margin-left: 3px;
					}
				}
			}

			--timers-p: 0;
			--timers-gap: 20px;
			--timers-divider-mt: 4px;
			--timers-divider-fz: 16px;
		}
	}

	&--left {
		.timers__wrapper {
			justify-content: flex-start;
			margin-left: 0;
		}
	}
}
