.timers {
	--timers-p: 20px;
	--timers-gap: 60px;
	--timers-item-shadow-spread: 2px;
	--timers-divider-mt: 16px;
	--timers-divider-fz: 64px;

	display: flex;
	justify-content: center;
	padding: var(--timers-p) var(--timers-p) calc(var(--timers-p) * 2);

	&__item {
		z-index: 1;
		box-shadow: 0 0 1px var(--timers-item-shadow-spread) rgb(var(--c-bg-primary), .5);
	}

	&__item-wrapper {
		position: relative;
		display: flex;

		&:first-child {
			margin-left: var(--timers-gap);
		}

		&:last-child {
			margin-right: var(--timers-gap);
		}

		& + & {
			margin-left: var(--timers-gap);
		}

		&--date,
		&--time {
			&::before {
				position: absolute;
				right: 100%;
				display: block;
				width: var(--timers-gap);
				margin-top: var(--timers-divider-mt);
				color: rgb(var(--c-text-primary));
				font-family: monospace;
				font-size: var(--timers-divider-fz);
				text-align: center;
				transform: translateZ(0);
			}
		}

		&--date {
			& + & {
				&::before {
					content: '/';
				}
			}
		}

		&--time {
			& + & {
				&::before {
					content: ':';
				}
			}
		}
	}

	&--sm {
		--timers-p: 0;
		--timers-gap: 20px;
		--timers-divider-mt: 4px;
		--timers-divider-fz: 16px;
		--timers-item-shadow-spread: 0;
	}

	&--left {
		justify-content: flex-start;
		margin-left: 0;
	}
}
