.tooltip {
	--tooltip-shift: 10px;

	position: relative;

	&:hover {
		&::before {
			content: '';
		}

		.tooltip__body {
			display: flex;
		}
	}

	&:empty {
		display: none;
	}

	&::before {
		position: absolute;
		left: 50%;
		z-index: 2;
		border-right: calc(var(--tooltip-shift) / 2) solid transparent;
		border-left: calc(var(--tooltip-shift) / 2) solid transparent;
		filter: drop-shadow(0 var(--tooltip-before-shift) 0 rgba(var(--c-border-primary), .3));
		transform: translateX(-50%);
	}

	&__body {
		@include glass;

		position: absolute;
		z-index: 1;
		display: none;
		border-radius: 4px;
		color: initial;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;
	}

	&__content {
		position: relative;
		z-index: 1;
		width: max-content;
		max-width: 200px;
		padding: 10px;
		border: 1px solid rgba(var(--c-border-primary), .2);
		border-radius: inherit;
		text-align: left;
	}

	&--top {
		--tooltip-before-shift: 1px;

		&::before {
			bottom: 100%;
			margin-bottom: 1px;
			border-top: var(--tooltip-shift) solid rgba(var(--c-border-inverse), .98);
		}

		.tooltip__body {
			bottom: calc(100% + var(--tooltip-shift));
		}
	}

	&--bottom {
		--tooltip-before-shift: -1px;

		&::before {
			top: 100%;
			margin-top: 1px;
			border-bottom: var(--tooltip-shift) solid rgba(var(--c-border-inverse), .98);
		}

		.tooltip__body {
			top: calc(100% + var(--tooltip-shift));
		}
	}

	&--left {
		.tooltip__body {
			right: 0;
			left: auto;
		}
	}

	&--right {
		.tooltip__body {
			right: auto;
			left: 0;
		}
	}

	&--disabled {
		&::before {
			display: none;
		}
	}
}
