.tooltip {
	--tooltip-shift: 10px;

	position: relative;

	&:hover {
		.tooltip__body {
			display: flex;
		}
	}

	&__body {
		@include glass;

		position: absolute;
		z-index: 1;
		display: none;
		border-radius: 4px;
		color: initial;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			z-index: 2;
			border-right: calc(var(--tooltip-shift) / 2) solid transparent;
			border-left: calc(var(--tooltip-shift) / 2) solid transparent;
			filter: drop-shadow(0 0 1px rgba(var(--c-border-primary), .2));
			transform: translateX(-50%);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		width: max-content;
		max-width: 200px;
		padding: 10px;
		border: 1px solid rgba(var(--c-border-primary), .2);
		border-radius: inherit;
	}

	&--top {
		.tooltip__body {
			bottom: calc(100% + var(--tooltip-shift));

			&::before {
				top: 100%;
				margin-top: -1px;
				border-top: var(--tooltip-shift) solid rgb(var(--c-border-inverse));
			}
		}
	}

	&--bottom {
		.tooltip__body {
			top: calc(100% + var(--tooltip-shift));

			&::before {
				bottom: 100%;
				margin-bottom: -1px;
				border-bottom: var(--tooltip-shift) solid rgb(var(--c-border-inverse));
			}
		}
	}

	&--left {
		.tooltip__body {
			right: auto;
			left: 0;
		}
	}

	&--right {
		.tooltip__body {
			right: 0;
			left: auto;
		}
	}
}
