<ng-container [formGroup]="pointModesForm">
	<div class="form-drop__row">
		<div class="form-drop__col form-drop__col--secondary">
			<app-input
				placeholder="Первый режим"
				formControlName="firstModeTitle"
				[maxlength]="100"
			></app-input>
		</div>
		<app-drop
			#firstDrop
			formControlName="firstModeEmoji"
			dropBodyClass="form-drop__emojis"
			[buttonLabel]="firstModeEmojiValue"
			horizontal="left"
			vertical="top"
			[buttonTextClass]="['emoji-list__text']"
			(dropOpened)="filterEmojis('firstModeEmoji', firstDrop)"
		>
			<ng-template #bodyTemplate>
				<ng-container
					[ngTemplateOutlet]="emojiListTemplate"
					[ngTemplateOutletContext]="{
						control: 'firstModeEmoji',
						drop: firstDrop
					}"
				></ng-container>
			</ng-template>
		</app-drop>
	</div>
	<div class="form-drop__row">
		<div class="form-drop__col">
			<app-input
				placeholder="Второй режим"
				formControlName="secondModeTitle"
				[maxlength]="100"
			></app-input>
		</div>
		<app-drop
			#secondDrop
			formControlName="secondModeEmoji"
			dropBodyClass="form-drop__emojis"
			[buttonLabel]="secondModeEmojiValue"
			horizontal="left"
			vertical="top"
			[buttonTextClass]="['emoji-list__text']"
			(dropOpened)="filterEmojis('secondModeEmoji', secondDrop)"
		>
			<ng-template #bodyTemplate>
				<ng-container
					[ngTemplateOutlet]="emojiListTemplate"
					[ngTemplateOutletContext]="{
						control: 'secondModeEmoji',
						drop: secondDrop
					}"
				></ng-container>
			</ng-template>
		</app-drop>
	</div>
</ng-container>

<ng-template
	#emojiListTemplate
	let-control="control"
	let-drop="drop"
>
	<app-input
		#filterRef
		placeholder="Фильтр эмодзи"
		(input)="filterEmojis(control, drop)"
		(reset)="filterEmojis(control, drop)"
		[value]="filterEmojiValue"
		[clearButton]="true"
	></app-input>
	<ul class="emoji-list">
		<ng-container #groupContainer></ng-container>
	</ul>
</ng-template>

<ng-template
	#groupTemplate
	let-control="control"
	let-drop="drop"
	let-group="group"
>
	<li
		*ngIf="group"
		class="emoji-list__item"
	>
		<h4 class="emoji-list__title">{{ group.title }}</h4>
		<ul class="emoji-list__group">
			<li
				*ngFor="let emoji of group.list"
				class="emoji-list__emoji"
			>
				<button
					app-button
					view="link"
					size="lg"
					(click)="clickEmoji(emoji.emoji, control, drop)"
					class="emoji-list__button"
					[title]="emoji.label"
				>
					{{ emoji.emoji }}
				</button>
			</li>
		</ul>
	</li>
</ng-template>
