<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form content main__auth"
>
	<div class="form__section form__section--auth">
		<app-input
			[invalid]="hasEmailErrors"
			icon="at-email"
			placeholder="E-mail"
			type="email"
			formControlName="email"
			[autofocus]="true"
		></app-input>
		<app-input
			#passwordControl
			[invalid]="hasPasswordErrors"
			[showPasswordButton]="true"
			placeholder="Пароль"
			type="password"
			formControlName="password"
		></app-input>
		<ul
			*ngIf="errorMessages.length"
			class="info info--error"
		>
			<li
				*ngFor="let errMessage of errorMessages; trackBy: trackBy"
				class="info__item"
			>{{ errMessage }}</li>
		</ul>
		<div class="form__nav">
			<button
				app-button
				view="link"
				(click)="resetPassword()"
			>
				Сброс пароля
			</button>
			<button
				app-button
				type="submit"
				icon="login"
				mode="ghost-positive"
				[loading]="isLoading"
				[disabled]="form.invalid || isLoading"
			>
				Войти
			</button>
		</div>
	</div>
</form>
<div class="main__auth-external">
	<span class="main__auth-external-inner">
		Войти с&nbsp;Google
		<button
			app-button
			mode="ghost"
			size="lg"
			(click)="authGoogle()"
			title="Google"
		>
			<img
				src="assets/img/google-color.svg"
				alt="Google"
				aria-hidden="true"
				class="main__auth-external-icon"
			>
		</button>
	</span>
</div>
