<div
	*ngIf="isMain && hasEditablePoints"
	class="nav__aside"
>
	<button
		app-button
		size="lg"
		mode="positive"
		icon="document-check"
		title="Выбрать все доступные события"
		(click)="checkAllPoints()"
	></button>
	<ng-container *ngIf="pointsChecked">
		<button
			app-button
			size="lg"
			mode="ghost"
			icon="document-cross"
			title="Снять отметки со всех событий"
			(click)="uncheckAllPoints()"
		></button>
		<button
			app-button
			size="lg"
			mode="negative"
			icon="cross"
			title="Удалить выбранные события"
			(click)="removeAllCheckedPoints()"
		></button>
	</ng-container>
</div>


<div class="nav__aside nav__aside--right">
	<a
		*ngIf="pointId && hasAccess"
		app-button
		size="lg"
		icon="pencil"
		mode="ghost"
		routerLink="/{{isEdit ? 'point' : 'edit'}}/{{pointId}}"
		[queryParams]="{iteration}"
		[attr.title]="isEdit ? 'Перейти к событию' : 'Редактировать'"
	></a>
	<button
		*ngIf="pointId && hasAccess && !isEdit"
		app-button
		size="lg"
		icon="warning"
		mode="primary"
		(click)="setDateNow()"
		title="Сейчас!"
	></button>
	<a
		*ngIf="pointId && !isEdit"
		app-button
		icon="upload"
		mode="ghost"
		size="lg"
		[href]="exportGoogleLink"
		target="_blank"
		title="Экспорт в Google Calendar"
	></a>
	<a
		*ngIf="isAuthenticated && !isCreate"
		app-button
		size="lg"
		mode="positive"
		icon="plus"
		[disabled]="!isVerified"
		routerLink="/create"
		[attr.title]="isVerified ? 'Создать событие' : 'Подтвердите почту, чтобы иметь доступ к созданию и редактированию'"
		class="nav__create"
	></a>
</div>
