<div class="nav__aside">
	<ng-container *ngIf="isMain && hasEditablePoints">
		<button
			app-button
			size="lg"
			mode="positive"
			icon="document-check"
			title="Выбрать все доступные события"
			(click)="checkAllPoints()"
		></button>
		<ng-container *ngIf="pointsChecked">
			<button
				app-button
				size="lg"
				mode="secondary"
				icon="document-cross"
				title="Снять отметки со всех событий"
				(click)="uncheckAllPoints()"
			></button>
			<button
				app-button
				size="lg"
				mode="negative"
				icon="cross"
				title="Удалить выбранные события"
				(click)="removeAllCheckedPoints()"
			></button>
		</ng-container>
	</ng-container>
	<button
		*ngIf="pointId && hasAccess"
		app-button
		size="lg"
		icon="cross"
		mode="negative"
		(click)="removePoint()"
		title="Удалить"
	></button>
</div>


<div class="nav__aside nav__aside--right">
	<a
		*ngIf="pointId && hasAccess && !isEdit"
		app-button
		size="lg"
		icon="pencil"
		mode="ghost"
		routerLink="/{{isEdit ? 'point' : 'edit'}}/{{pointId}}"
		[queryParams]="{iteration}"
		title="Редактировать"
	></a>
	<div
		app-tooltip
		*ngIf="pointId && hasAccess && !isEdit"
		vertical="top"
		onboarding="now"
		[onboardingBefore]="!isVerified ? 'confirm' : null"
		[text]="point?.repeatable ? 'Добавить итерацию с текущим моментом' : 'Поменять время на текущее'"
	>
		<button
			app-button
			#tooltipTrigger
			size="lg"
			icon="warning"
			mode="primary"
			(click)="setDateNow()"
			title="Сейчас!"
		></button>
	</div>
	<div
		app-tooltip
		*ngIf="(pointId || isUrl) && !isMain"
		vertical="top"
		horizontal="left"
		onboarding="copyshort"
		onboardingBefore="createlink"
		[text]="isUrl ? 'Создать и копировать короткую ссылку' : 'Копировать ссылку'"
	>
		<button
			app-button
			#tooltipTrigger
			size="lg"
			icon="share"
			mode="ghost"
			(click)="share()"
			[loading]="shareLinkLoading"
			title="Поделиться ссылкой"
		></button>
	</div>
	<a
		*ngIf="((pointId && !isEdit) || isUrl) && !isTimer"
		app-button
		icon="google"
		mode="ghost"
		size="lg"
		[href]="exportGoogleLink"
		target="_blank"
		title="Экспорт в Google Calendar"
	></a>
	<div
		app-tooltip
		vertical="top"
		horizontal="left"
		class="nav__create"
		onboarding="createlink"
		[onboardingBefore]="
			pointId && hasAccess && !isEdit
			? 'now'
			: !isVerified
			? 'confirm'
			: null
		"
		text="
			Создать событие-ссылку. Не требует регистрации, дает доступ по ссылке (можно создать короткую).
		"
	>
		<button
			*ngIf="(isUrl || pointId) && !isCreateUrl || isCreate"
			app-button
			#tooltipTrigger
			size="lg"
			mode="positive"
			icon="calendar-link"
			(click)="copyPoint()"
			title="Копировать как событие-ссылку"
		></button>
		<a
			*ngIf="!(isUrl || pointId) && !isCreateUrl && !isCreate"
			app-button
			#tooltipTrigger
			size="lg"
			mode="positive"
			icon="calendar-link"
			routerLink="/create-url"
			title="Создать событие-ссылку"
		></a>
	</div>
	<div
		app-tooltip
		[disabled]="!!isVerified"
		vertical="top"
		horizontal="left"
		class="nav__create"
		onboarding="confirm"
	>
		<button
			*ngIf="isUrl || isCreateUrl"
			app-button
			#tooltipTrigger
			size="lg"
			icon="calendar-plus"
			[attr.disabled]="!isVerified || null"
			mode="positive"
			(click)="copyPoint(true)"
			title="Сохранить в свои события"
		></button>
		<a
			*ngIf="isAuthenticated && !isCreate && !isCreateUrl && !isUrl"
			app-button
			#tooltipTrigger
			size="lg"
			mode="positive"
			icon="calendar-plus"
			[disabled]="!isVerified"
			routerLink="/create"
			title="Создать событие"
		></a>
		<ng-template #tooltipContent>
			<ng-container *ngIf="isAuthenticated">
				<a routerLink="/profile">Подтвердите почту</a>,
				чтобы иметь доступ к созданию и
				редактированию</ng-container>
			<ng-container *ngIf="!isAuthenticated">
				<a routerLink="/reg">Зарегистрируйтесь</a>,
				чтобы иметь доступ к созданию и
				редактированию</ng-container>
		</ng-template>
	</div>
</div>
