<div class="nav__aside">
	<ng-container *ngIf="isMain && hasEditablePoints">
		<button
			app-button
			size="lg"
			mode="positive"
			icon="document-check"
			title="Выбрать все доступные события"
			(click)="checkAllPoints()"
		></button>
		<ng-container *ngIf="pointsChecked">
			<button
				app-button
				size="lg"
				mode="secondary"
				icon="document-cross"
				title="Снять отметки со всех событий"
				(click)="uncheckAllPoints()"
			></button>
			<button
				app-button
				size="lg"
				mode="negative"
				icon="cross"
				title="Удалить выбранные события"
				(click)="removeAllCheckedPoints()"
			></button>
		</ng-container>
	</ng-container>
	<button
		*ngIf="pointId && hasAccess"
		app-button
		size="lg"
		icon="cross"
		mode="negative"
		(click)="removePoint()"
		title="Удалить"
	></button>
</div>


<div class="nav__aside nav__aside--right">
	<a
		*ngIf="pointId && hasAccess && !isEdit"
		app-button
		size="lg"
		icon="pencil"
		mode="ghost"
		routerLink="/{{isEdit ? 'point' : 'edit'}}/{{pointId}}"
		[queryParams]="{iteration}"
		title="Редактировать"
	></a>
	<button
		*ngIf="pointId && hasAccess && !isEdit"
		app-button
		size="lg"
		icon="warning"
		mode="primary"
		(click)="setDateNow()"
		title="Сейчас!"
	></button>
	<button
		*ngIf="isPublicPoint || isUrl"
		app-button
		size="lg"
		icon="share"
		mode="ghost"
		(click)="share()"
		[loading]="shareLinkLoading"
		title="Поделиться ссылкой"
	></button>
	<a
		*ngIf="(pointId && !isEdit) || isUrl"
		app-button
		icon="google"
		mode="ghost"
		size="lg"
		[href]="exportGoogleLink"
		target="_blank"
		title="Экспорт в Google Calendar"
	></a>
	<button
		*ngIf="(isUrl || pointId) && !isCreateUrl || isCreate"
		app-button
		size="lg"
		mode="positive"
		icon="link"
		(click)="copyPoint()"
		title="Копировать как событие-ссылку"
		class="nav__create"
	></button>
	<a
		*ngIf="!(isUrl || pointId) && !isCreateUrl && !isCreate"
		app-button
		size="lg"
		mode="positive"
		icon="link"
		routerLink="/create-url"
		title="Создать событие-ссылку"
		class="nav__create"
	></a>
	<button
		*ngIf="isUrl || isCreateUrl"
		app-button
		size="lg"
		icon="plus"
		mode="positive"
		(click)="copyPoint(true)"
		title="Сохранить в свои события"
		class="nav__create"
	></button>
	<a
		*ngIf="isAuthenticated && !isCreate && !isCreateUrl && !isUrl"
		app-button
		size="lg"
		mode="positive"
		icon="plus"
		[disabled]="!isVerified"
		routerLink="/create"
		[attr.title]="isVerified ? 'Создать событие' : 'Подтвердите почту, чтобы иметь доступ к созданию и редактированию'"
		class="nav__create"
	></a>
</div>
