<ul class="notify-list">
	<li
		@notify
		*ngFor="let notify of notifyList; trackBy: trackBy"
		class="notify-list__item-wrapper"
		[attr.id]="'n-' + +notify.date"
	>
		<div
			class="notify-list__item"
			[ngClass]="'notify-list__item--' + notify.view"
		>
			<div class="notify-list__header">
				<h4
					class="notify-list__title"
					[innerHTML]="notify.title | safeHtml"
				></h4>
				<button
					*ngIf="!notify.short"
					app-button
					icon="cross"
					mode="ghost"
					class="notify-list__close"
					(click)="closeNotify(notify.date)"
				></button>
			</div>
			<form
				*ngIf="notify.prompt || notify.confirm"
				class="notify-list__text"
				[formGroup]="form"
				(ngSubmit)="submitNotify(notify.date)"
			>
				<div class="notify-list__inner">
					<app-input
						#control
						*ngIf="notify.prompt"
						[icon]="(notify.type !== 'password') ? notify.icon || 'question-circle' : ''"
						[showPasswordButton]="(notify.type === 'password') || false"
						class="notify-list__input"
						[type]="notify.type || 'text'"
						[formControlName]="notify.type || 'text'"
						[invalid]="isInvalid"
						[autofocus]="true"
					></app-input>
					<button
						app-button
						type="submit"
						mode="ghost-positive"
						class="notify-list__submit"
						[attr.disabled]="(isInvalid || isControlEmpty) || null"
					>{{ notify.button || 'Отправить'}}</button>
				</div>
			</form>
			<p
				*ngIf="notify.text"
				class="notify-list__text"
				[innerHTML]="notify.text | safeHtml"
			></p>
			<div
				*ngIf="notify.component"
				class="notify-list__text"
			>
				<ng-template #notifyContent></ng-template>
			</div>
		</div>
	</li>
</ul>
