<div class="nav__aside nav__aside--links">
	<ng-container *ngIf="isAuthenticated; else unAuth">
		<a
			app-button
			view="link"
			*ngIf="isProfile"
			class="nav__profile-link"
			[textClass]="['nav__profile-wrapper']"
			[routerLink]="'/profile'"
			[title]="user?.email"
		>
			<span class="nav__profile-inner">
				<img
					*ngIf="user?.photoURL"
					class="userpic userpic--sm"
					[src]="user?.photoURL"
					[alt]="user?.displayName"
					aria-hidden="true"
				><span class="nav__profile-text">{{ user?.displayName }}</span>
			</span>
		</a>
		<button
			app-button
			icon="logout"
			mode="ghost"
			(click)="logout()"
			[loading]="logoutLoading"
			title="Выйти"
		></button>
	</ng-container>
	<ng-template #unAuth>
		<a
			app-button
			icon="login"
			mode="ghost-positive"
			[routerLink]="'/' + (isAuthorization ? 'reg' : 'auth')"
		>{{isAuthorization ? 'Зарегистрироваться' : 'Войти'}}</a>
	</ng-template>
	<button
		*ngIf="isPrivacy"
		app-button
		icon="shield"
		mode="positive"
		title="Политика обработки персональных данных"
		(click)="showPrivacy()"
	></button>
	<!-- <button
		app-button
		(click)="check()"
		>Проверка</button> -->
</div>

<h1
	class="nav__logo logo"
	aria-label="Дней без происшествий: 0"
>
	<span
		aria-hidden="true"
		class="logo__text"
	>
		<span class="logo__row">Дней без</span>
		<span class="logo__row logo__row--second">происшествий:</span>
	</span>
	<span
		aria-hidden="true"
		class="logo__count"
	><span class="logo__letters">н</span>
		<app-board
			mode="logo"
			initialValue="&nbsp;"
			value="0"
			[delayValue]="2000"
			class="logo__board"
		></app-board>
		<span class="logo__letters">ль</span></span>
</h1>

<div
	*ngIf="!isMain"
	class="nav__aside nav__aside--home"
>
	<a
		app-button
		view="link"
		icon="home"
		size="xl"
		mode="primary"
		routerLink="/"
		[queryParams]="mainLinkParams"
		title="Домой"
	></a>
</div>
