<div class="nav__aside nav__aside--top">
	<ng-container *ngIf="isAuthenticated; else unAuth">
		<a
			*ngIf="isProfile"
			class="nav__item"
			[routerLink]="'/profile'"
			[title]="user?.email"
		>
			<img
				*ngIf="user?.photoURL"
				class="userpic userpic--sm"
				[src]="user?.photoURL"
				[alt]="user?.displayName"
			>{{ user?.displayName }}
		</a>
		<button
			app-button
			icon="logout"
			mode="ghost"
			(click)="logout()"
			title="Выйти"
		></button>
	</ng-container>
	<ng-template #unAuth>
		<a
			app-button
			icon="login"
			mode="ghost"
			[routerLink]="'/' + (isAuthorization ? 'reg' : 'auth')"
		>{{isAuthorization ? 'Зарегистрироваться' : 'Войти'}}</a>
	</ng-template>
	<button
		*ngIf="isPrivacy"
		app-button
		view="link"
		(click)="showPrivacy()"
	>Политика обработки персональных данных</button>
	<!-- <button
		(click)="check()"
		type="button"
		>Проверка</button> -->
</div>

<div
	*ngIf="!isMain"
	class="nav__aside nav__aside--top"
>
	<a
		app-button
		icon="home"
		size="lg"
		mode="primary"
		routerLink="/"
		[queryParams]="mainLinkParams"
		title="Домой"
	></a>
</div>
