<ng-container [formGroup]="iterationsForm">
	<p>Начало диапазона</p>
	<app-datepicker
		(datePicked)="rangeStartDatePicked($event)"
		[date]="rangeStartDate"
	></app-datepicker>

	<p>Повторять каждые</p>
	<app-input
		type="number"
		formControlName="rangePeriod"
	></app-input>
	<app-drop
		formControlName="periodicity"
		[dropList]="periodicityList"
	></app-drop>

	<app-switcher
		[items]="repeatsModeList"
		formControlName="repeatsMode"
	></app-switcher>

	<app-input
		*ngIf="isRepeatsAmountSet"
		type="number"
		placeholder="Число повторов"
		formControlName="rangeAmount"
		[min]="2"
	></app-input>

	<ng-container *ngIf="!isRepeatsAmountSet">
		<p>Конец диапазона</p>
		<app-datepicker
			(datePicked)="rangeEndDatePicked($event)"
			[date]="rangeEndDate"
		></app-datepicker>
	</ng-container>

	<button
		app-button
		[disabled]="loading || iterationsForm.invalid"
		(click)="genRepeats()"
	>Генерировать</button>

</ng-container>
