<ng-container [formGroup]="iterationsForm">
	<h3 class="subtitle">Генерация периодичных итераций</h3>

	<p>Начало диапазона</p>
	<app-datepicker
		class="control"
		(datePicked)="rangeStartDatePicked($event)"
		[date]="rangeStartDate"
	></app-datepicker>

	<p>Повторять каждые</p>
	<input
		class="control"
		type="number"
		formControlName="rangePeriod"
	>
	<select formControlName="periodicity">
		<option value="perMinutes">Минут</option>
		<option value="perHours">Часов</option>
		<option value="perDays">Дней</option>
		<option value="perWeeks">Недель</option>
		<option value="perMonths">Месяцев</option>
		<option value="perYears">Лет</option>
	</select>

	<div class="control">
		<label>
			<input
				type="radio"
				value="setRepeatsAmount"
				formControlName="repeatsMode"
			>
			Задать число повторов
		</label>
		<label>
			<input
				type="radio"
				value="setRangeEnd"
				formControlName="repeatsMode"
			>
			Задать конец диапазона
		</label>
	</div>

	<input
		*ngIf="isRepeatsAmountSet"
		class="control"
		type="number"
		placeholder="Число повторов"
		formControlName="rangeAmount"
		min="2"
	>

	<ng-container *ngIf="!isRepeatsAmountSet">
		<p>Конец диапазона</p>
		<app-datepicker
			class="control"
			(datePicked)="rangeEndDatePicked($event)"
			[date]="rangeEndDate"
		></app-datepicker>
	</ng-container>

	<button
		[disabled]="loading || iterationsForm.invalid"
		type="button"
		(click)="genRepeats()"
	>Генерировать</button>

</ng-container>
