<ng-container
	*ngIf="listRef() as listTemplate"
	[ngTemplateOutlet]="listTemplate"
	[ngTemplateOutletContext]="{
		pointsList: pointsList(),
		sortType: sortType(),
		isSm: false,
		isPopup: true,
		ulClass: 'date-points-popup__content points-list'
	}"
></ng-container>
<div
	class="date-points-popup__footer"
	*ngIf="pointsList() | checkEditablePoints"
>
	<ng-container
		*ngIf="footerRef() as footerTemplate"
		[ngTemplateOutlet]="footerTemplate"
		[ngTemplateOutletContext]="{ size: 'md' }"
	></ng-container>
</div>
