<ng-content></ng-content>
<span
	class="tooltip__body"
	*ngIf="!isTooltipOff && hasOnboardingTimeExpired()"
>
	<button
		*ngIf="isOnboardingOn"
		app-button
		icon="cross"
		size="sm"
		title="Закрыть"
		class="tooltip__close"
		mode="ghost"
		(click)="closeOnboarding()"
	></button>
	<span class="tooltip__content">
		<ng-container
			*ngIf="tooltipContent else tooltipContentTextTemplate;"
			[ngTemplateOutlet]="tooltipContent"
		></ng-container>
		<ng-template #tooltipContentTextTemplate>{{ text }}</ng-template>
	</span>
</span>
