<div
	#triggerTemplateRef
	*ngIf="triggerTemplate else defaultButton"
	[ngClass]="navClass"
>
	<ng-container
		[ngTemplateOutlet]="triggerTemplate"
		[ngTemplateOutletContext]="{
			value,
			toggle: toggleHandler.bind(this),
			open: openHandler.bind(this),
			close: closeHandler.bind(this)
		}"
	></ng-container>
</div>
<ng-template #defaultButton>
	<div [ngClass]="navClass">
		<button
			#triggerButton
			app-button
			[ngClass]="buttonClass"
			[attr.title]="buttonTitle"
			mode="secondary"
			[size]="buttonSize"
			[icon]="icon"
			(click)="toggleHandler()"
		>{{ buttonLabel || ((select || dropList) ? keyOfValue || value : null) }}</button>
	</div>
</ng-template>

<div
	*ngIf="open"
	class="drop__body"
	[ngClass]="[dropBodyClass, (select || dropList) ? 'drop__body--list' : '']"
>
	<div
		class="drop__inner"
		#selectListRef
	>
		<ng-container
			*ngIf="bodyTemplate else selectList"
			[ngTemplateOutlet]="bodyTemplate"
			[ngTemplateOutletContext]="{
				value,
				change: changeHandler.bind(this)
			}"
		></ng-container>
		<input
			*ngIf="formControlName || name"
			type="hidden"
			[attr.name]="formControlName || name"
			[value]="value"
		>
	</div>
</div>
<ng-template #selectList>
	<button
		*ngFor="let item of dropList | keyvalue | sortKeyValue"
		app-button
		class="drop__item"
		[ngClass]="{
			'drop__item--selected': value.toString() === item.value.toString()
		}"
		textClass="drop__item-text"
		(click)="changeHandler(item.value)"
	>
		{{ item.key }}
		<svg
			app-svg
			name="check"
			size="sm"
			class="drop__item-icon"
		></svg>
	</button>
</ng-template>
