<ng-container
	*ngIf="buttonTemplate else defaultButton"
	[ngTemplateOutlet]="buttonTemplate"
	[ngTemplateOutletContext]="{
		value,
		toggle: toggleHandler.bind(this),
		open: openHandler.bind(this),
		close: closeHandler.bind(this)
	}"
></ng-container>
<ng-template #defaultButton>
	<button
		app-button
		class="drop__nav"
		[ngClass]="buttonClass"
		[attr.title]="buttonTitle"
		mode="ghost"
		[size]="buttonSize"
		[icon]="icon"
		(click)="toggleHandler()"
	></button>
</ng-template>
<div
	*ngIf="bodyTemplate && open"
	class="drop__body"
	[ngClass]="[dropBodyClass, isSelectView ? 'drop__body--list' : '']"
>
	<ng-container [ngTemplateOutlet]="bodyTemplate"></ng-container>
</div>
