<app-drop
	class="drop--nested datepicker"
	[ngClass]="dropClass"
	[vertical]="vertical"
	[horizontal]="horizontal"
	[buttonLabel]="dateFormatted"
	icon=""
>
	<ng-template #bodyTemplate>
		<form>
			<div class="datepicker__nav">
				<app-drop
					name="year"
					[dropList]="yearsArray"
					[value]="dateYear"
					(dropChanged)="dateTimeChanged($event)"
				></app-drop>
				<app-drop
					name="month"
					[dropList]="monthsArray"
					[value]="dateMonth"
					(dropChanged)="dateTimeChanged($event)"
				></app-drop>

				<ng-container *ngIf="!dateOnly">
					<app-drop
						name="month"
						[dropList]="hoursArray"
						[value]="dateHour"
						(dropChanged)="dateTimeChanged($event)"
					></app-drop>
					<app-drop
						name="month"
						[dropList]="minutesArray"
						[value]="dateMinute"
						(dropChanged)="dateTimeChanged($event)"
					></app-drop>
				</ng-container>
			</div>
			<app-calendar
				class="calendar calendar--drop"
				[hideCurrentPeriod]="true"
				[hideModeSwitch]="true"
				(dateSelected)="dateSelected($event)"
				(visibleDateSelected)="visibleDateSelected($event)"
				[visibleDate]="visibleDate || defaultDate"
				[selectedDate]="defaultDate"
				[activeMode]="'month'"
			></app-calendar>

		</form>
	</ng-template>
</app-drop>
