<app-drop
	class="drop--nested datepicker"
	[ngClass]="dropClass"
	[vertical]="vertical"
	[horizontal]="horizontal"
	[buttonLabel]="dateFormatted"
	icon=""
	navClass="drop__nav datepicker__trigger"
>
	<ng-template #bodyTemplate>
		<form class="datepicker__form">
			<div class="datepicker__nav">
				<app-autocomplete
					class="datepicker__nav-item"
					placeholder="Год"
					[value]="dateYear"
					[visibleValue]="dateYear"
					name="year"
					[autocompleteList]="yearsArray"
					(autocompleteChanged)="yearSwitched($event)"
				></app-autocomplete>
				<app-autocomplete
					class="datepicker__nav-item datepicker__nav-item--lg"
					placeholder="Месяц"
					[value]="dateMonthNumber"
					[visibleValue]="dateMonth"
					[filterFn]="filterMonth"
					name="month"
					[autocompleteList]="monthsArray"
					(autocompleteChanged)="monthSwitched($event)"
				></app-autocomplete>

				<ng-container *ngIf="!dateOnly">
					<app-autocomplete
						class="datepicker__nav-item datepicker__nav-item--sm"
						placeholder="Час"
						[value]="dateHour"
						name="hour"
						[autocompleteList]="hoursArray"
						(autocompleteChanged)="hourSwitched($event)"
					></app-autocomplete>
					<app-autocomplete
						class="datepicker__nav-item datepicker__nav-item--sm"
						placeholder="Минута"
						[value]="dateMinute"
						name="minute"
						[autocompleteList]="minutesArray"
						(autocompleteChanged)="minuteSwitched($event)"
					></app-autocomplete>
				</ng-container>
			</div>
			<app-calendar
				class="calendar calendar--drop"
				[hideCurrentPeriod]="true"
				[hideModeSwitch]="true"
				(dateSelected)="dateSelected($event)"
				(visibleDateSelected)="visibleDateSelected($event)"
				[visibleDate]="visibleDate || defaultDate"
				[selectedDate]="defaultDate"
				[activeMode]="'month'"
				[rowsNumber]="6"
			></app-calendar>

		</form>
	</ng-template>
</app-drop>
