<app-drop
	class="drop--nested datepicker"
	[ngClass]="dropClass"
	[vertical]="vertical"
	[horizontal]="horizontal"
	[buttonLabel]="dateFormatted"
	icon=""
>
	<ng-template #bodyTemplate>
		<form>
			<div class="datepicker__nav">
				<app-autocomplete
					placeholder="Год"
					[value]="dateYear"
					name="year"
					[autocompleteList]="yearsArray"
					(autocompleteChanged)="dateTimeChanged($event)"
				></app-autocomplete>
				<app-autocomplete
					placeholder="Месяц"
					[value]="dateMonth"
					name="month"
					[autocompleteList]="monthsArray"
					(autocompleteChanged)="dateTimeChanged($event)"
				></app-autocomplete>

				<ng-container *ngIf="!dateOnly">
					<app-autocomplete
						placeholder="Час"
						[value]="dateHour"
						name="hour"
						[autocompleteList]="hoursArray"
						(autocompleteChanged)="dateTimeChanged($event)"
					></app-autocomplete>
					<app-autocomplete
						placeholder="Минута"
						[value]="dateMinute"
						name="minute"
						[autocompleteList]="minutesArray"
						(autocompleteChanged)="dateTimeChanged($event)"
					></app-autocomplete>
				</ng-container>
			</div>
			<app-calendar
				class="calendar calendar--drop"
				[hideCurrentPeriod]="true"
				[hideModeSwitch]="true"
				(dateSelected)="dateSelected($event)"
				(visibleDateSelected)="visibleDateSelected($event)"
				[visibleDate]="visibleDate || defaultDate"
				[selectedDate]="defaultDate"
				[activeMode]="'month'"
			></app-calendar>

		</form>
	</ng-template>
</app-drop>
