<input
	#inputRef
	*ngIf="!textarea else textareaTemplate;"
	[attr.type]="type"
	[attr.inputmode]="inputmode"
	[placeholder]="placeholder"
	[autocomplete]="autocomplete"
	class="control__input"
	[(ngModel)]="value"
	[disabled]="isDisabled"
	(input)="onInput($event)"
	[attr.name]="formControlName || name || null"
	[mask]="mask"
	[suffix]="suffix"
	[prefix]="prefix"
	[patterns]="patterns"
	[validation]="validation"
	[allowNegativeNumbers]="allowNegativeNumbers || null"
	[attr.maxlength]="maxlength || null"
	[attr.min]="min || null"
	(focus)="focusHandler($event)"
	(blur)="blurHandler($event)"
	(keydown)="keydownHandler($event)"
>
<div
	*ngIf="icon || clearButton || showPasswordButton"
	class="control__addon"
>
	<svg
		app-svg
		*ngIf="icon"
		[name]="icon"
		class="control__icon"
	></svg>
	<button
		app-button
		*ngIf="clearButton"
		mode="negative"
		icon="cross"
		[attr.title]="clearButtonTitle || null"
		(click)="resetValue()"
	></button>
	<button
		app-button
		*ngIf="showPasswordButton"
		mode="positive"
		[icon]="showPasswordIcon"
		[attr.title]="showPasswordTitle || null"
		(click)="showPassword()"
	></button>
</div>
<ng-template #textareaTemplate>
	<textarea
		[placeholder]="placeholder"
		class="control__textarea"
		[disabled]="isDisabled"
		(input)="onInput($event)"
		[attr.name]="formControlName || null"
		[rows]="textareaRows"
	>{{ value || '' }}</textarea>
</ng-template>
