<div class="content content--row">
	<div class="content__col">
		<div class="userpic-wrapper">
			<img
				[src]="userpic"
				[alt]="name || 'Юзерпик'"
				class="userpic"
			>
			<h2
				*ngIf="userpicLoading || profileLoading || emailLoading || passwordLoading || removeLoading"
				class="loader rotating"
			></h2>
		</div>
	</div>

	<div class="content__col form">
		<form
			[formGroup]="formData"
			class="form__section"
			(ngSubmit)="updateProfile()"
		>
			<div class="form__row">
				<app-input
					class="form__control"
					placeholder="Имя пользователя"
					formControlName="name"
				></app-input>
				<app-datepicker
					horizontal="left"
					class="form__btn form__col"
					(datePicked)="birthDatePicked($event)"
					[date]="birthDatePickerValue"
					[isNow]="false"
					[visibleDate]="birthDatePickerValue"
					[dateOnly]="true"
				></app-datepicker>
				<button
					app-button
					type="button"
					[disabled]="this.userpicLoading || formData.invalid"
					class="form__submit"
					mode="ghost"
					iconPosition="right"
					icon="arrow-right"
				>Обновить данные</button>
			</div>


			<ul
				*ngIf="nameErrorMessages.length"
				class="info info--error"
			>
				<li
					*ngFor="let errMessage of nameErrorMessages"
					class="info__item"
				>{{ errMessage }}</li>
			</ul>
		</form>

		<form
			[formGroup]="formEmail"
			class="form__section"
			(ngSubmit)="updateEmail()"
		>
			<div class="form__row">
				<app-input
					class="form__control"
					placeholder="Почта"
					formControlName="email"
				></app-input>
				<button
					app-button
					type="button"
					[disabled]="formEmail.invalid"
					class="form__submit"
					mode="ghost"
					iconPosition="right"
					icon="arrow-right"
				>Обновить e-mail</button>
			</div>
			<ul
				*ngIf="emailErrorMessages.length"
				class="info info--error"
			>
				<li
					*ngFor="let errMessage of emailErrorMessages"
					class="info__item"
				>{{ errMessage }}</li>
			</ul>
		</form>

		<form
			[formGroup]="formPassword"
			class="form__section"
			(ngSubmit)="updatePassword()"
		>
			<div class="form__row">
				<app-input
					class="form__control"
					placeholder="Старый пароль"
					formControlName="password"
				></app-input>
				<app-input
					class="form__control"
					placeholder="Новый пароль"
					formControlName="new-password"
				></app-input>
				<button
					app-button
					type="button"
					[disabled]="formPassword.invalid"
					class="form__submit"
					mode="ghost"
					iconPosition="right"
					icon="arrow-right"
				>Обновить пароль</button>
			</div>

			<ul
				*ngIf="passwordErrorMessages.length"
				class="info info--error"
			>
				<li
					*ngFor="let errMessage of passwordErrorMessages"
					class="info__item"
				>{{ errMessage }}</li>
			</ul>
		</form>

		<div
			*ngIf="!emailVerified"
			class="form__section"
		>
			<button
				app-button
				[disabled]="verifyButtonDisabled"
				class="form__submit"
				mode="ghost"
				iconPosition="right"
				icon="arrow-right"
			>Подтвердить почту</button>
		</div>

		<div class="form__section">
			<button
				app-button
				class="form__submit"
				mode="ghost"
				(click)="removeAccount()"
				iconPosition="right"
				icon="arrow-right"
			>Удалить аккаунт</button>
		</div>
	</div>

</div>
