<form
	[formGroup]="formData"
	class="form"
	(ngSubmit)="updateProfile()"
>
	<div class="control">
		<input
			formControlName="name"
			type="text"
			placeholder="Имя пользователя"
		>
	</div>
	<div class="control">
		<input
			formControlName="birthDate"
			type="date"
			placeholder="Дата рождения"
		>
	</div>
	<div class="userpic-wrapper"><img
			[src]="userpic"
			[alt]="name || 'Юзерпик'"
			class="userpic"
		>
		<h2
			*ngIf="userpicLoading || profileLoading || emailLoading || passwordLoading || removeLoading"
			class="loader rotating"
		></h2>
	</div>
	<ul
		*ngIf="nameErrorMessages.length"
		class="info info--error"
	>
		<li
			*ngFor="let errMessage of nameErrorMessages"
			class="info__item"
		>{{ errMessage }}</li>
	</ul>
	<button [disabled]="this.userpicLoading || formData.invalid">
		Обновить данные
	</button>
</form>

<form
	[formGroup]="formEmail"
	class="form"
	(ngSubmit)="updateEmail()"
>
	<div class="control">
		<input
			formControlName="email"
			type="text"
			placeholder="Почта"
		>
	</div>
	<ul
		*ngIf="emailErrorMessages.length"
		class="info info--error"
	>
		<li
			*ngFor="let errMessage of emailErrorMessages"
			class="info__item"
		>{{ errMessage }}</li>
	</ul>
	<button [disabled]="formEmail.invalid">
		Обновить e-mail
	</button>
</form>

<form
	[formGroup]="formPassword"
	class="form"
	(ngSubmit)="updatePassword()"
>
	<div class="control">
		<input
			type="text"
			formControlName="password"
			placeholder="Старый пароль"
		>
	</div>
	<div class="control">
		<input
			type="text"
			formControlName="new-password"
			placeholder="Новый пароль"
		>
	</div>
	<ul
		*ngIf="passwordErrorMessages.length"
		class="info info--error"
	>
		<li
			*ngFor="let errMessage of passwordErrorMessages"
			class="info__item"
		>{{ errMessage }}</li>
	</ul>
	<button [disabled]="formPassword.invalid">
		Обновить пароль
	</button>
</form>

<div
	*ngIf="!emailVerified"
	class="control"
>
	<button
		type="button"
		(click)="sendEmailVerification()"
	>
		Подтвердить почту
	</button>
</div>

<div class="control">
	<button
		type="button"
		(click)="removeAccount()"
	>
		Удалить аккаунт
	</button>
</div>
