<ng-container *ngIf="!loading; else loader">
	<ng-container *appLet="points | filter: {
		search: searchInputValue,
		isRepeatable: repeatableValue,
		isGreenwich: greenwichValue,
		isPublic: publicValue,
		color: colorTypeString
	} as filteredPoints">
		<div class="dashboard">
			<app-drop
				class="dashboard__calendar widget widget--drop"
				dropBodyClass="widget__body"
			>
				<ng-template
					#buttonTemplate
					let-toggle="toggle"
				>
					<button
						app-button
						class="widget__nav"
						icon="calendar"
						mode="ghost"
						size="lg"
						(click)="toggle()"
					></button>
				</ng-template>
				<ng-template #bodyTemplate>
					<app-calendar
						[points]="filteredPoints"
						class="calendar"
					>
						<ng-template
							#navTemplate
							let-date="date"
							let-mode="mode"
						>
							<app-drop *ngIf="date.points.length">
								<ng-template
									#buttonTemplate
									let-toggle="toggle"
								>
									<button
										app-button
										mode="ghost"
										size="sm"
										icon="chevron-down"
										title="Показать события"
										class="calendar__btn-nav"
										(click)="toggle()"
									></button>
								</ng-template>
								<ng-template #bodyTemplate>
									<ul
										class="calendar__date-ul"
										#datePointsList
									>
										<li
											app-main-item
											[attr.data-id]="point.id"
											class="calendar__date-li point point--sm"
											*ngFor="let point of date.points | sortPoints : sortType; let i = index"
											[point]="point"
										>
											<ng-template #checkboxTemplate>
												<input
													#datePointCheckbox
													type="checkbox"
													(change)="getCheckedDatePoints()"
												>
											</ng-template>
										</li>
									</ul>
									<div
										class="nav"
										*ngIf="date.points | checkEditablePoints"
									>
										<button
											type="button"
											class="nav__item link"
											(click)="checkDatePoints(true)"
										>
											Выбрать все</button>
										<ng-container *ngIf="isDatePointsChecked">
											<button
												type="button"
												class="nav__item link"
												(click)="checkDatePoints(false)"
											>
												Сбросить все</button>
											<button
												type="button"
												class="nav__item link"
												(click)="removeDateCheckedPoints()"
											>
												Удалить выбранные</button>
										</ng-container>
									</div>
								</ng-template>
							</app-drop>
						</ng-template>
					</app-calendar>
				</ng-template>
			</app-drop>

			<div class="dashboard__filters filters">
				<app-drop class="filters__drop">
					<ng-template
						#buttonTemplate
						let-toggle="toggle"
					>
						<button
							app-button
							mode="primary"
							view="link"
							icon="chevron-down"
							size="lg"
							(click)="toggle()"
						>Цвет</button>
					</ng-template>
					<ng-template #bodyTemplate>
						<button
							type="button"
							(click)="resetColors()"
						>Сброс</button>
						<ul #colorList>
							<li
								*ngFor="let pointColorsItem of pointColors"
								[attr.data-color]="pointColorsItem"
								class="color"
								[ngClass]="pointColorsItem ? 'color--' + pointColorsItem : ''"
							>
								<label>
									<span [innerHTML]="pointColorNames[pointColorsItem]"></span>
									<input
										type="checkbox"
										(change)="changeFilters()"
										[checked]="colorType | colorsCheck: pointColorsItem"
									>
								</label>
							</li>
						</ul>
					</ng-template>
				</app-drop>

				<app-switcher
					class="filters__switcher"
					[items]="greenwichList"
					[value]="greenwichValue"
					[showTitle]="true"
					(valueSwitched)="changeGreenwichFilter($event)"
				></app-switcher>
				<app-switcher
					class="filters__switcher"
					[items]="repeatList"
					[value]="repeatableValue"
					[showTitle]="true"
					(valueSwitched)="changeRepeatFilter($event)"
				></app-switcher>
				<app-switcher
					class="filters__switcher"
					[items]="publicList"
					[value]="publicValue"
					[showTitle]="true"
					(valueSwitched)="changePublicFilter($event)"
				></app-switcher>

				<app-input
					class="filters__search"
					placeholder="Поиск"
					#searchInput
					(input)="changeFilters()"
					[(ngModel)]="searchInputValue"
				></app-input>

				<button
					*ngIf="filtersFilled"
					app-button
					icon="cross-circle"
					size="sm"
					mode="negative"
					(click)="clearFilters()"
					title="Очистить фильтры"
				></button>
			</div>
			<div class="dashboard__aside">
				<app-drop>
					<ng-template
						#buttonTemplate
						let-toggle="toggle"
					>
						<button
							app-button
							mode="primary"
							view="link"
							size="lg"
							[icon]="(sortType | sortTrending).icon"
							[iconTitle]="(sortType | sortTrending).title"
							iconAriaHidden="false"
							(click)="toggle()"
						>{{ sortTypeNames[sortType] }}</button>
					</ng-template>
					<ng-template #bodyTemplate>
						<button
							*ngFor="let sortTypeItem of sortTypeKeysArray"
							app-button
							mode="ghost"
							[icon]="(sortTypeItem | sortTrending).icon"
							[iconTitle]="(sortTypeItem | sortTrending).title"
							iconAriaHidden="false"
							(click)="sortPointsClick(sortTypeItem)"
						>{{ sortTypeNames[sortTypeItem] }}</button>
					</ng-template>
				</app-drop>

				<app-switcher
					[items]="modesList"
					[value]="modesValue"
					(valueSwitched)="changeModes($event)"
				></app-switcher>
			</div>
		</div>

		<div class="content">
			<ul
				#pointsList
				*ngIf="filteredPoints.length; else empty"
				class="points-list"
				[ngClass]="{
					'points-list--cards': modesValue === 'grid'
				}"
			>
				<li
					app-main-item
					[isCard]="modesValue === 'grid'"
					[attr.data-id]="point.id"
					class="points-list__item"
					*ngFor="let point of filteredPoints | sortPoints : sortType; let i = index"
					[point]="point"
					(pointCheck)="checkPoint()"
				></li>
			</ul>
		</div>
	</ng-container>
</ng-container>

<ng-template #empty>
	<h2>
		Нет событий для отображения
	</h2>
</ng-template>


<ng-template #loader>
	<svg
		*ngIf="loading"
		app-svg
		name="hourglass"
		class="loader rotating"
		aria-hidden="false"
	></svg>
</ng-template>
