<ng-container *ngIf="!loading; else loader">
	<ng-container *appLet="points | filter: {
		search: searchInputValue,
		isRepeatable: repeatableValue,
		isGreenwich: greenwichValue,
		isPublic: publicValue,
		color: colorTypeString
	} as filteredPoints">
		<div class="dashboard">
			<app-drop
				class="dashboard__calendar"
				icon="calendar"
				buttonSize="lg"
			>
				<ng-template #bodyTemplate>
					<app-calendar
						[points]="filteredPoints"
						class="calendar"
					>
						<ng-template
							#navTemplate
							let-date="date"
							let-mode="mode"
						>
							<app-drop
								*ngIf="date.points.length"
								buttonSize="sm"
								buttonClass="calendar__btn-nav drop__nav--sm"
								buttonTitle="Показать события"
							>
								<ng-template #bodyTemplate>
									<ul
										class="calendar__date-ul"
										#datePointsList
									>
										<li
											app-main-item
											[isLine]="true"
											[isSm]="true"
											[attr.data-id]="point.id"
											*ngFor="let point of date.points | sortPoints : sortType; let i = index"
											[point]="point"
										>
											<ng-template #checkboxTemplate>
												<label
													#datePointCheckbox
													app-checkbox
													iconSize="sm"
													(change)="getCheckedDatePoints()"
												></label>
											</ng-template>
										</li>
									</ul>
									<div
										class="drop__footer drop__footer--left"
										*ngIf="date.points | checkEditablePoints"
									>
										<button
											app-button
											size="sm"
											mode="positive"
											icon="document-check"
											title="Выбрать все доступные события"
											(click)="checkDatePoints(true)"
										></button>
										<ng-container *ngIf="isDatePointsChecked">
											<button
												app-button
												size="sm"
												mode="secondary"
												icon="document-cross"
												title="Снять отметки со всех событий"
												(click)="checkDatePoints(false)"
											></button>
											<button
												app-button
												size="sm"
												mode="negative"
												icon="cross"
												title="Удалить выбранные события"
												(click)="removeDateCheckedPoints()"
											></button>
										</ng-container>
									</div>
								</ng-template>
							</app-drop>
						</ng-template>
					</app-calendar>
				</ng-template>
			</app-drop>

			<div class="dashboard__filters filters">

				<app-switcher
					class="filters__switcher"
					[items]="greenwichList"
					[value]="greenwichValue"
					[showTitle]="true"
					(valueSwitched)="changeGreenwichFilter($event)"
				></app-switcher>
				<app-switcher
					class="filters__switcher"
					[items]="repeatList"
					[value]="repeatableValue"
					[showTitle]="true"
					(valueSwitched)="changeRepeatFilter($event)"
				></app-switcher>
				<app-switcher
					class="filters__switcher"
					[items]="publicList"
					[value]="publicValue"
					[showTitle]="true"
					(valueSwitched)="changePublicFilter($event)"
				></app-switcher>

				<app-drop [isSelectView]="true">
					<ng-template
						#buttonTemplate
						let-toggle="toggle"
					>
						<button
							app-button
							view="link"
							icon="chevron-down"
							size="lg"
							(click)="toggle()"
						>Цвет</button>
					</ng-template>
					<ng-template #bodyTemplate>
						<div #colorList>
							<label
								*ngFor="let pointColorsItem of pointColors"
								app-checkbox
								iconSize="sm"
								[attr.data-color]="pointColorsItem"
								class="drop__item"
								(change)="changeFilters()"
								[attr.checked]="colorType | colorsCheck: pointColorsItem"
							><span
									[innerHTML]="pointColorNames[pointColorsItem]"
									class="drop__item-color color"
									[ngClass]="pointColorsItem ? 'color--' + pointColorsItem : ''"
								></span></label>
							<div class="drop__footer">
								<button
									app-button
									icon="cross"
									mode="secondary"
									size="sm"
									(click)="resetColors()"
								>Очистить</button>
							</div>
						</div>
					</ng-template>
				</app-drop>

				<app-input
					class="filters__search"
					placeholder="Поиск"
					icon="search"
					#searchInput
					(input)="changeFilters()"
					[(ngModel)]="searchInputValue"
				></app-input>

				<button
					*ngIf="filtersFilled"
					app-button
					icon="cross-circle"
					size="sm"
					mode="negative"
					(click)="clearFilters()"
					title="Очистить фильтры"
				></button>
			</div>
			<div class="dashboard__aside">
				<app-drop
					[isSelectView]="true"
					horizontal="left"
				>
					<ng-template
						#buttonTemplate
						let-toggle="toggle"
					>
						<button
							app-button
							view="link"
							size="lg"
							[icon]="(sortType | sortTrending).icon"
							[iconTitle]="(sortType | sortTrending).title"
							iconAriaHidden="false"
							(click)="toggle()"
						>{{ sortTypeNames[sortType] }}</button>
					</ng-template>
					<ng-template #bodyTemplate>
						<button
							*ngFor="let sortTypeItem of sortTypeKeysArray"
							app-button
							class="drop__item"
							[icon]="(sortTypeItem | sortTrending).icon"
							[iconTitle]="(sortTypeItem | sortTrending).title"
							iconAriaHidden="false"
							(click)="sortPointsClick(sortTypeItem)"
						>{{ sortTypeNames[sortTypeItem] }}</button>
					</ng-template>
				</app-drop>

				<app-switcher
					[items]="modesList"
					[value]="modesValue"
					(valueSwitched)="changeModes($event)"
				></app-switcher>
			</div>
		</div>

		<div class="content">
			<app-clock class="content__clock"></app-clock>
			<ul
				#pointsList
				*ngIf="filteredPoints.length; else empty"
				class="points-list"
				[ngClass]="{
					'points-list--lines': modesValue === 'list'
				}"
			>
				<li
					app-main-item
					[isLine]="modesValue === 'list'"
					[attr.data-id]="point.id"
					class="points-list__item"
					*ngFor="let point of filteredPoints | sortPoints : sortType; let i = index"
					[point]="point"
					(pointCheck)="checkPoint()"
				></li>
			</ul>
		</div>
	</ng-container>
</ng-container>

<ng-template #empty>
	<h2 class="empty">
		Нет событий для отображения
	</h2>
</ng-template>


<ng-template #loader>
	<svg
		*ngIf="loading"
		app-svg
		name="hourglass"
		class="loader rotating"
		aria-hidden="false"
	></svg>
</ng-template>
