<ng-container *ngIf="!loading; else loader">
	<ng-container *appLet="points | filter: {
		search: searchInputValue,
		isRepeatable: repeatableValue,
		isGreenwich: greenwichValue,
		isPublic: publicValue,
		color: colorTypeString
	} as filteredPoints">
		<div class="dashboard">
			<app-drop
				class="widget widget--drop"
				[open]="calendarOpen"
				dropBodyClass="widget__body"
			>
				<ng-template #buttonTemplate>
					<div class="widget__nav">
						<button
							app-button
							view="link"
							icon="chevron-down"
							mode="primary"
							(click)="toggleCalendarVisibility()"
						>Календарь</button>
					</div>
				</ng-template>
				<ng-template #bodyTemplate>
					<app-calendar
						(calendarRegenerated)="calendarRegenerated()"
						[points]="filteredPoints"
						class="calendar"
					>
						<ng-template
							#navTemplate
							let-date="date"
							let-mode="mode"
						>
							<app-drop
								*ngIf="date.points.length"
								[open]="+date.date === (this.dropOpenDate && +this.dropOpenDate)"
							>
								<ng-template #buttonTemplate>
									<button
										app-button
										mode="ghost"
										size="sm"
										icon="chevron-down"
										title="Показать события"
										class="calendar__btn-nav"
										(click)="openDate({ date, activeMode: mode })"
									></button>
								</ng-template>
								<ng-template #bodyTemplate>
									<ul
										class="calendar__date-ul"
										#datePointsList
									>
										<li
											app-main-item
											[attr.data-id]="point.id"
											class="calendar__date-li point point--sm"
											*ngFor="let point of date.points | sortPoints : sortType; let i = index"
											[point]="point"
										>
											<ng-template #checkboxTemplate>
												<input
													#datePointCheckbox
													type="checkbox"
													(change)="getCheckedDatePoints()"
												>
											</ng-template>
										</li>
									</ul>
									<div
										class="nav"
										*ngIf="date.points | checkEditablePoints"
									>
										<button
											type="button"
											class="nav__item link"
											(click)="checkDatePoints(true)"
										>
											Выбрать все</button>
										<ng-container *ngIf="isDatePointsChecked">
											<button
												type="button"
												class="nav__item link"
												(click)="checkDatePoints(false)"
											>
												Сбросить все</button>
											<button
												type="button"
												class="nav__item link"
												(click)="removeDateCheckedPoints()"
											>
												Удалить выбранные</button>
										</ng-container>
									</div>
								</ng-template>
							</app-drop>
						</ng-template>
					</app-calendar>
				</ng-template>
			</app-drop>
			<!-- <div class="widget widget--drop">
				<div class="widget__nav">
				<button
				app-button
				view="link"
				icon="chevron-down"
				mode="primary"
				>Календарь</button>
				</div>

				<app-calendar
				(calendarRegenerated)="calendarRegenerated()"
				[points]="filteredPoints"
				class="calendar widget__body"
				>
				<ng-template
				#navTemplate
				let-date="date"
				let-mode="mode"
				>
				<app-drop
				*ngIf="date.points.length"
				[open]="+date.date === (this.dropOpenDate && +this.dropOpenDate)"
				>
				<ng-template #buttonTemplate>
				<button
				app-button
				mode="ghost"
				size="sm"
				icon="chevron-down"
				title="Показать события"
				class="calendar__btn-nav"
				(click)="openDate({ date, activeMode: mode })"
				></button>
				</ng-template>
				<ng-template #bodyTemplate>
				<ul
				class="calendar__date-ul"
				#datePointsList
				>
				<li
				app-main-item
				[attr.data-id]="point.id"
				class="calendar__date-li point point--sm"
				*ngFor="let point of date.points | sortPoints : sortType; let i = index"
				[point]="point"
				>
				<ng-template #checkboxTemplate>
				<input
				#datePointCheckbox
				type="checkbox"
				(change)="getCheckedDatePoints()"
				>
				</ng-template>
				</li>
				</ul>
				<div
				class="nav"
				*ngIf="date.points | checkEditablePoints"
				>
				<button
				type="button"
				class="nav__item link"
				(click)="checkDatePoints(true)"
				>
				Выбрать все</button>
				<ng-container *ngIf="isDatePointsChecked">
				<button
				type="button"
				class="nav__item link"
				(click)="checkDatePoints(false)"
				>
				Сбросить все</button>
				<button
				type="button"
				class="nav__item link"
				(click)="removeDateCheckedPoints()"
				>
				Удалить выбранные</button>
				</ng-container>
				</div>
				</ng-template>
				</app-drop>
				</ng-template>
				</app-calendar>
				</div> -->

			<div class="widget filters">
				<div class="widget__body">
					<app-drop [open]="dropOpenSort">
						<ng-template
							#buttonTemplate
							let-value="sortType"
						>
							<button
								app-button
								mode="ghost"
								[icon]="(sortType | sortTrending).icon"
								[iconTitle]="(sortType | sortTrending).title"
								iconAriaHidden="false"
								(click)="openSort()"
							>{{ sortTypeNames[sortType] }}</button>
						</ng-template>
						<ng-template #bodyTemplate>
							<button
								*ngFor="let sortTypeItem of sortTypeKeysArray"
								app-button
								mode="ghost"
								[icon]="(sortTypeItem | sortTrending).icon"
								[iconTitle]="(sortTypeItem | sortTrending).title"
								iconAriaHidden="false"
								(click)="sortPointsClick(sortTypeItem)"
							>{{ sortTypeNames[sortTypeItem] }}</button>
						</ng-template>
					</app-drop>

					<app-drop [open]="dropOpenColors">
						<ng-template
							#buttonTemplate
							let-value="colorType"
						>
							<button
								app-button
								mode="ghost"
								(click)="openColors()"
							>Фильтрация по цвету</button>
						</ng-template>
						<ng-template #bodyTemplate>
							<button
								type="button"
								(click)="resetColors()"
							>Сброс</button>
							<ul #colorList>
								<li
									*ngFor="let pointColorsItem of pointColors"
									[attr.data-color]="pointColorsItem"
									class="color"
									[ngClass]="pointColorsItem ? 'color--' + pointColorsItem : ''"
								>
									<label>
										<span [innerHTML]="pointColorNames[pointColorsItem]"></span>
										<input
											type="checkbox"
											(change)="changeFilters()"
											[checked]="colorType | colorsCheck: pointColorsItem"
										>
									</label>
								</li>
							</ul>
						</ng-template>
					</app-drop>

					<app-input
						placeholder="Поиск"
						#searchInput
						(input)="changeFilters()"
						[(ngModel)]="searchInputValue"
					></app-input>

					<app-switcher
						[items]="greenwichList"
						[value]="greenwichValue"
						(valueSwitched)="changeGreenwichFilter($event)"
					></app-switcher>
					<app-switcher
						[items]="repeatList"
						[value]="repeatableValue"
						(valueSwitched)="changeRepeatFilter($event)"
					></app-switcher>
					<app-switcher
						[items]="publicList"
						[value]="publicValue"
						(valueSwitched)="changePublicFilter($event)"
					></app-switcher>

					<button
						*ngIf="filtersFilled"
						app-button
						icon="cross-circle"
						mode="ghost"
						(click)="clearFilters()"
						title="Очистить фильтры"
					></button>

					<app-switcher
						class="filters__aside"
						[items]="modesList"
						[value]="modesValue"
						(valueSwitched)="changeModes($event)"
					></app-switcher>
				</div>
			</div>
		</div>

		<div class="content">
			<ul
				#pointsList
				*ngIf="filteredPoints.length; else empty"
				class="points-list"
				[ngClass]="{
					'points-list--cards': modesValue === 'grid'
				}"
			>
				<li
					app-main-item
					[attr.data-id]="point.id"
					class="points-list__item"
					*ngFor="let point of filteredPoints | sortPoints : sortType; let i = index"
					[point]="point"
					(pointCheck)="checkPoint()"
				></li>
			</ul>
		</div>
	</ng-container>
</ng-container>

<ng-template #empty>
	<h2>
		Нет событий для отображения
	</h2>
</ng-template>


<ng-template #loader>
	<h2
		*ngIf="loading"
		class="loader rotating"
	></h2>
</ng-template>
