<div class="mode-stats__calendars">
	От:
	<app-datepicker
		[date]="startDate()"
		[disabledBefore]="firstDisable"
		[disabledAfter]="finalDate()"
		(datePicked)="setStartDate($event)"
		dropClass="datepicker--popup-xs"
	></app-datepicker>
	До:
	<app-datepicker
		[date]="finalDate()"
		[disabledBefore]="startDate()"
		[disabledAfter]="now"
		(datePicked)="setFinalDate($event)"
		dropClass="datepicker--popup-xs"
	></app-datepicker>
</div>

<app-switcher
	class="mode-stats__switcher"
	[items]="modeList"
	[value]="activeMode"
	(valueSwitched)="switchMode($event)"
></app-switcher>

<app-switcher
	class="mode-stats__switcher"
	[items]="formatList"
	[value]="activeFormat"
	(valueSwitched)="switchFormat($event)"
></app-switcher>

<div class="mode-stats__result">
	<h3 class="mode-stats__label">{{ point.modes?.[0]?.icon }} {{ point.modes?.[0]?.name }}</h3>
	<p class="mode-stats__value">{{ modeSumFirstFormatted() }}</p>
	<h3 class="mode-stats__label">{{ point.modes?.[1]?.icon }} {{ point.modes?.[1]?.name }}</h3>
	<p class="mode-stats__value">{{ modeSumSecondFormatted() }}</p>
</div>
