<div class="mode-stats__header">
	<div class="mode-stats__calendars">
		От:
		<app-datepicker
			[date]="startDate()"
			[disabledBefore]="firstIterationDate()"
			[disabledAfter]="finalDate()"
			(datePicked)="setStartDate($event)"
			dropClass="datepicker--popup-xs"
		></app-datepicker>
		До:
		<app-datepicker
			[date]="finalDate()"
			[disabledBefore]="startDate()"
			[disabledAfter]="now"
			(datePicked)="setFinalDate($event)"
			dropClass="datepicker--popup-xs"
		></app-datepicker>
	</div>
	<span
		app-tooltip
		horizontal="left"
		onboarding="modeStats"
		class="mode-stats__info-tooltip"
		text="
			Здесь показано общее время итераций для каждого из&nbsp;2&nbsp;режимов.
			Можно задать ограничение вручную или с&nbsp;помощью готовых фильтров,
			а&nbsp;также выбрать удобный формат времени.
		"
	>
		<svg
			app-svg
			name="info-circle"
			class="mode-stats__info"
			#tooltipTrigger
		></svg>
	</span>
</div>

<app-switcher
	class="mode-stats__switcher"
	[items]="modeList"
	[value]="activeMode"
	(valueSwitched)="switchMode($event)"
></app-switcher>

<div
	#formatsRef
	class="mode-stats__format"
>
	<label
		*ngFor="let format of formatList"
		app-checkbox
		class="mode-stats__format-item"
		[name]="format.value"
		[isChecked]="format.checked"
		[isDisabled]="format.disabled"
		(change)="switchFormat(true)"
	>{{ format.text }}</label>
</div>

<div class="mode-stats__result">
	<div class="mode-stats__result-col">
		<h3 class="mode-stats__label">{{ point.modes?.[0]?.icon }} {{ point.modes?.[0]?.name }}</h3>
		<p class="mode-stats__value">{{ modeSumFirstFormatted() }}</p>
	</div>
	<div class="mode-stats__result-col">
		<h3 class="mode-stats__label">{{ point.modes?.[1]?.icon }} {{ point.modes?.[1]?.name }}</h3>
		<p class="mode-stats__value">{{ modeSumSecondFormatted() }}</p>
	</div>
</div>
<div class="mode-stats__result">
	<div class="mode-stats__result-col">
		<h3 class="mode-stats__label">Число смен режимов:</h3>
		<p class="mode-stats__value">{{ changes() }}</p>
	</div>
	<div class="mode-stats__result-col">
		<h3 class="mode-stats__label">Общее время в&nbsp;диапазоне</h3>
		<p class="mode-stats__value">{{ sum() }}</p>
	</div>
</div>
