<div class="mode-stats__calendars">
	<div class="mode-stats__calendar">
		От:
		<app-datepicker
			[date]="startDate()"
			[disabledBefore]="firstIterationDate()"
			[disabledAfter]="finalDate()"
			(datePicked)="setStartDate($event)"
		></app-datepicker>
	</div>
	<div class="mode-stats__calendar">
		До:
		<app-datepicker
			[date]="finalDate()"
			[disabledBefore]="startDate()"
			[disabledAfter]="now"
			(datePicked)="setFinalDate($event)"
		></app-datepicker>
	</div>
</div>

<app-switcher
	class="mode-stats__switcher"
	[items]="modeList"
	[value]="activeMode"
	(valueSwitched)="switchMode($event)"
></app-switcher>

<p>{{ modeSumFirst() }} {{
	point.modes?.[0]?.icon }}</p>
<p>{{ modeSumSecond() }} {{
	point.modes?.[1]?.icon }}</p>
