<app-date-panel
	[loading]="loading"
	[dateLoading]="dateLoading"
	[pointDate]="pointDate"
	[selectedIterationDate]="selectedIterationDate"
	[urlMode]="urlModeValue"
	(iterationSwitched)="iterationSwitchHandler($event)"
></app-date-panel>

<audio
	controls
	#audioFinish
	src="assets/audio/double.mp3"
	style="display: none;"
></audio>
<div
	*ngIf="inverted"
	class="root__invert-marker"
></div>
<div class="root__invert-possible"></div>

<div
	style="--timer-percent: {{ timerPercent() }}"
	class="content color"
	[ngClass]="[
		point?.color ? 'color--' + point?.color : '',
		hasTimerLine ? 'content--timer' : '',
		pausedTime ? 'content--timer-paused' : ''
	]"
>
	<div class="point-page">
		<div class="point-page__header">

			<div class="point-page__markers">
				<ng-container *ngIf="(urlMode | async) !== true">
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.greenwich
						}"
						[title]="point?.greenwich ? 'Глобальное' : 'Местное'"
					>
						<svg
							app-svg
							name="globe"
							class="marker__inner"
						></svg>
					</div>
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.repeatable
						}"
						[title]="point?.repeatable ? 'Многократное' : 'Однократное'"
					>
						<svg
							app-svg
							name="refresh"
							class="marker__inner"
						></svg>
					</div>
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.public
						}"
						[title]="point?.public ? 'Публичное' : 'Приватное'"
					>
						<svg
							app-svg
							name="users"
							class="marker__inner"
						></svg>
					</div>

					<div
						class="point-page__direction"
						[title]="directionTitle"
					>
						<svg
							app-svg
							[name]="point?.direction === 'forward' ? 'rotate-right' : 'rotate-left'"
							class="direction-icon"
							[ngClass]="[
								isDirectionCorrect ? 'direction-icon--correct' : '',
								point?.direction === 'forward' ? 'direction-icon--forward' : 'direction-icon--backward'
							]"
						></svg>
					</div>
				</ng-container>
			</div>

			<h1
				*ngIf="point?.title"
				class="point-page__title"
			>
				<div class="point-page__title-inner">
					<span class="point-page__title-text">{{ point?.title }}</span>
				</div>
			</h1>

			<div class="point-page__author">
				<img
					*ngIf="userData?.photoURL"
					class="userpic userpic--sm"
					[src]="userData.photoURL"
					[alt]="userData.displayName"
					aria-hidden="true"
				><span
					*ngIf="userData?.displayName"
					class="point-page__author-text"
				>
					{{ userData.displayName }}
				</span>
			</div>

			<div
				*ngIf="!dateLoading && !loading"
				class="point-page__description"
			>
				<div class="point-page__half">
					<p class="point-page__remain">
						<span
							app-tooltip
							*ngIf="iterationReason === 'frequency'"
							vertical="top"
							class="point-page__icon-label"
						>
							<ng-template #tooltipContent>
								Сгенерированная итерация
							</ng-template>
							<svg
								app-svg
								#tooltipTrigger
								name="refresh"
								class="point-page__icon"
							></svg>
						</span>
						<span
							*ngIf="iterationDate && iterationTime"
							class="point-page__color"
							[title]="pointColorName"
						>
							{{ iterationDate }} {{ iterationTime }}
						</span>
					</p>
					<p
						*ngIf="point?.description"
						class="point-page__remain-text"
					>
						<ng-container
							*ngIf="point?.description"
							[ngTemplateOutlet]="remainTemplate"
						></ng-container>
					</p>
				</div>
				<div
					class="point-page__half point-page__half--second"
					[ngClass]="{'point-page__remain-text' : !point?.description}"
				>
					<ng-container *ngIf="point?.description; else remainTemplate">
						{{ point?.description }}
					</ng-container>
				</div>
			</div>

			<ng-template #remainTemplate>
				<span>{{ remainText }}:</span>
				<br>
				<span>{{ remainValue }}.</span>
				<ng-container *ngIf="iterationMode">
					<br>
					<span> {{ iterationMode.icon + iterationMode.name }}</span>
				</ng-container>
			</ng-template>
		</div>

		<app-timers
			*ngIf="!dateLoading && !loading; else dateLoader"
			class="point-page__timers timers"
			[years]="timerYears"
			[months]="timerMonths"
			[days]="timerDays"
			[hours]="timerHours"
			[mins]="timerMins"
			[secs]="timerSecs"
		></app-timers>
		<ng-template #dateLoader>
			<div class="root__loading-marker"></div>
		</ng-template>

		<div
			*ngIf="timerMode"
			class="point-page__timer-nav"
		>
			<button
				app-button
				mode="secondary"
				size="lg"
				(click)="pause()"
				[icon]="pausedTime ? 'play' : 'pause'"
			></button>
			<label
				#soundCheckbox
				app-checkbox
				mode="custom"
				(change)="changeSound()"
				[isChecked]="sound"
				[icon]="soundIcon"
				title="Звук таймера"
			></label>
		</div>
	</div>
</div>
