<app-panel
	#panelCalendar
	icon="calendar"
	buttonSize="lg"
	[open]="calendarOpen"
	(panelVisibilitySwitched)="switchCalendarPanel($event)"
>
	<ng-template #bodyTemplate>
		<app-calendar
			*ngIf="this.dates?.length"
			(dateSelected)="dateSelected($event)"
			(modeSelected)="modeSelected($event)"
			[iterations]="point?.dates"
			class="calendar"
			[selectedDate]="selectedIterationDate"
			[visibleDate]="selectedIterationDate"
			[point]="point"
			(created)="calendarCreated()"
			daysPerWeek="14"
			[weekendDays]="[5, 6, 12, 13]"
		>
			<ng-template
				#navTemplate
				let-date="date"
				let-mode="mode"
				let-point="point"
			>
				<ng-container *ngIf="date.iterations.length && point.repeatable && hasAccess">
					<button
						app-button
						mode="positive"
						size="sm"
						icon="document-check"
						class="calendar__btn-nav"
						title="Отметить все итерации даты"
						(click)="dateChecked({
							check: true,
							data: date.iterations
						})"
					></button>
					<button
						app-button
						mode="secondary"
						size="sm"
						icon="document-cross"
						class="calendar__btn-nav"
						title="Снять отметки со всех итераций даты"
						(click)="dateChecked({
							check: false,
							data: date.iterations
						})"
					></button>
				</ng-container>
			</ng-template>
		</app-calendar>
	</ng-template>

	<ng-container *ngIf="this.dates?.length && (this.dates?.length != 1)">
		<ng-template #extraButton>
			<label
				app-checkbox
				iconSize="sm"
				mode="icon"
				title="Отображение информации об итерациях"
				[isChecked]="showIterationsInfo"
				(change)="iterationsInfoSwitch($event)"
			>
				<svg
					app-svg
					name="info-circle"
					class="checkbox__label-icon"
				></svg>
			</label>
		</ng-template>
		<ng-template #extraTemplate>
			<div class="panel__tabs">
				<div>
					<div class="tabs__nav">
						<button
							app-button
							icon="chevron-left"
							(click)="scrollList(0)"
							title="Перейти к началу списка итераций"
						></button>
					</div>
					<div class="tabs__nav">
						<button
							app-button
							size="sm"
							mode="ghost"
							icon="clock"
							(click)="scrollHome()"
							title="Перейти к выбранной итерации"
						></button>
					</div>
				</div>
				<ul
					#iterationsList
					class="tabs"
					[ngClass]="{
						'tabs--expanded': showIterationsInfo
					}"
					(wheel)="onIterationsScroll($event)"
				>
					<ng-container *ngFor="let date of datesBefore; let i = index">
						<ng-container
							[ngTemplateOutlet]="iteration"
							[ngTemplateOutletContext]="{ $implicit: date, index: i, time: 'past' }"
						></ng-container>
					</ng-container>
					<li class="tabs__item tabs__item--home">
						<svg
							app-svg
							name="home-2"
						></svg>
						<div
							*ngIf="showIterationsInfo"
							@iterationsInfo
							class="tabs__label-wrapper"
						>
							<div class="tabs__label tabs__label--now">
								<p class="tabs__date">{{ currentTime }}</p>
							</div>
						</div>
					</li>
					<ng-container *ngFor="let date of datesAfter; let i = index">
						<ng-container
							[ngTemplateOutlet]="iteration"
							[ngTemplateOutletContext]="{ $implicit: date, index: i + (datesBefore?.length || 0), time: 'future'  }"
						></ng-container>
					</ng-container>
				</ul>

				<div>
					<div class="tabs__nav">
						<button
							app-button
							icon="chevron-right"
							(click)="scrollList()"
							title="Перейти к концу списка итераций"
						></button>
						<button
							app-button
							size="sm"
							mode="negative"
							icon="cross"
							[attr.disabled]="iterationsChecked.length ? null : true"
							title="Удалить выбранные итерации"
							(click)="removeCheckedIterations()"
						></button>
					</div>
					<div
						*ngIf="hasAccess && !loading && !dateLoading && isDatesLengthPlural"
						class="tabs__nav"
					>
						<button
							app-button
							size="sm"
							mode="positive"
							icon="document-check"
							title="Выбрать все итерации"
							(click)="checkAllIterations()"
						></button>
						<button
							app-button
							size="sm"
							mode="secondary"
							[attr.disabled]="iterationsChecked.length ? null : true"
							icon="document-cross"
							title="Снять выбор со всех итераций"
							(click)="checkAllIterations(false)"
						></button>
					</div>
				</div>
			</div>
		</ng-template>
	</ng-container>
</app-panel>

<ng-template
	#iteration
	let-date
	let-i="index"
	let-time="time"
>
	<li
		class="tabs__item"
		[ngClass]="{
			'tabs__item--active': i == currentIterationIndex,
			'tabs__item--day': (i >= firstIterationIndex) && (i < selectedIterationsNumber + firstIterationIndex),
			'tabs__item--copy': i | checkCopies : point,
			'tabs__item--after': time === 'future'
		}"
	>
		<label
			app-checkbox
			*ngIf="hasAccess"
			[name]="i.toString()"
			iconSize="sm"
			(change)="checkIteration()"
			class="tabs__check"
		></label>
		<button
			app-button
			class="tabs__btn"
			size="sm"
			mode="secondary"
			(click)="switchIteration(i)"
		>{{ i + 1 }}
		</button>
		<button
			*ngIf="hasAccess"
			app-button
			mode="negative"
			size="sm"
			icon="cross"
			class="tabs__remove"
			(click)="removeIteration(i)"
		></button>
		<div
			*ngIf="showIterationsInfo"
			@iterationsInfo
			class="tabs__label-wrapper"
		>
			<div class="tabs__label">
				<p class="tabs__remain">{{ (time === 'past' ? 'Прошло: ' : 'Осталось: ') + (date.date | timeRemainText :
					point?.greenwich) }}
				</p>
				<div class="tabs__date">
					<svg
						app-svg
						*ngIf="date.reason === 'frequency'"
						name="refresh"
						aria-label="Итерация сгенерирована автоматически"
						aria-hidden="false"
						class="tabs__item-icon"
					></svg>
					{{ date.date| timeRemain : point?.greenwich }}
				</div>
			</div>
		</div>
	</li>
</ng-template>
