<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
>
	<app-input
		[invalid]="hasEmailErrors"
		placeholder="E-mail"
		type="email"
		formControlName="email"
	></app-input>
	<app-input
		[invalid]="hasPasswordErrors"
		placeholder="Пароль"
		type="password"
		formControlName="password"
	></app-input>
	<ul
		*ngIf="errorMessages.length"
		class="info info--error"
	>
		<li
			*ngFor="let errMessage of errorMessages"
			class="info__item"
		>{{ errMessage }}</li>
	</ul>
	<div class="form__nav">
		<button
			app-button
			view="link"
			(click)="resetPassword()"
		>
			Сброс пароля
		</button>
		<button
			app-button
			type="submit"
			icon="login"
			mode="positive"
			[disabled]="form.invalid || isLoading"
		>
			Войти
		</button>
	</div>
</form>
