<div class="content content--row profile form">
	<div class="content__col profile__col form__section">
		<img
			[src]="userpic"
			[alt]="name || 'Юзерпик'"
			class="profile__userpic userpic"
		>
		<div
			class="root__loading-marker"
			*ngIf="userpicLoading || profileLoading || emailLoading || passwordLoading || removeLoading"
		></div>

		<div class="profile__footer profile__footer--aside">
			<button
				*ngIf="!emailVerified"
				app-button
				[attr.disabled]="verifyButtonDisabled || null"
				mode="ghost-positive"
				iconPosition="right"
				icon="arrow-right"
				(click)="sendEmailVerification()"
			>Подтвердить почту</button>

			<button
				app-button
				mode="negative"
				(click)="removeAccount()"
				icon="trash"
			>Удалить аккаунт</button>
		</div>
	</div>

	<div class="content__col profile__col--lg">
		<h3 class="form__section-title">Имя и дата рождения</h3>
		<form
			class="profile__area form__section"
			[formGroup]="formData"
			(ngSubmit)="updateProfile()"
		>
			<app-input
				[invalid]="!!nameErrorMessages.length"
				icon="user"
				class="form__control"
				placeholder="Имя пользователя"
				formControlName="name"
			></app-input>
			<app-datepicker
				class="form__col"
				(datePicked)="birthDatePicked($event)"
				[date]="birthDatePickerValue"
				[isNow]="false"
				[visibleDate]="birthDatePickerValue"
				[dateOnly]="true"
				[disabledAfter]="disabledAfter"
			></app-datepicker>
			<div class="profile__footer">
				<ul
					*ngIf="nameErrorMessages.length"
					class="info info--error"
				>
					<li
						*ngFor="let errMessage of nameErrorMessages"
						class="info__item"
					>{{ errMessage }}</li>
				</ul>
				<button
					app-button
					type="submit"
					[attr.disabled]="(this.userpicLoading || formData.invalid) || null"
					class="form__submit profile__submit"
					mode="ghost-positive"
					iconPosition="right"
					icon="arrow-right"
				>Обновить данные</button>
			</div>
		</form>

		<h3 class="form__section-title">E-mail</h3>
		<form
			class="profile__area form__section"
			[formGroup]="formEmail"
			(ngSubmit)="updateEmail()"
		>
			<app-input
				[invalid]="!!emailErrorMessages.length"
				class="form__control"
				type="email"
				icon="at-email"
				placeholder="Почта"
				formControlName="email"
			></app-input>
			<div class="profile__footer">
				<ul
					*ngIf="emailErrorMessages.length"
					class="info info--error"
				>
					<li
						*ngFor="let errMessage of emailErrorMessages"
						class="info__item"
					>{{ errMessage }}</li>
				</ul>
				<button
					app-button
					type="submit"
					[attr.disabled]="(formEmail.invalid || isSameEmail) || null"
					class="form__submit profile__submit"
					mode="ghost-positive"
					iconPosition="right"
					icon="arrow-right"
				>Обновить e-mail</button>
			</div>
		</form>

		<h3 class="form__section-title">Новый пароль</h3>
		<form
			class="profile__area form__section"
			[formGroup]="formPassword"
			(ngSubmit)="updatePassword()"
		>
			<app-input
				#passwordControl
				class="form__control"
				type="password"
				[invalid]="!!oldPasswordErrorMessages.length"
				[showPasswordButton]="true"
				placeholder="Старый пароль"
				formControlName="password"
			></app-input>
			<app-input
				#passwordRepeatControl
				class="form__control"
				type="password"
				[invalid]="!!newPasswordErrorMessages.length"
				[showPasswordButton]="true"
				placeholder="Новый пароль"
				formControlName="new-password"
			></app-input>
			<div class="profile__footer">
				<ul
					*ngIf="passwordErrorMessages.length"
					class="info info--error"
				>
					<li
						*ngFor="let errMessage of passwordErrorMessages"
						class="info__item"
					>{{ errMessage }}</li>
				</ul>
				<button
					app-button
					type="submit"
					[attr.disabled]="(formPassword.invalid || passwordErrorMessages.length) || null"
					class="form__submit profile__submit"
					mode="ghost-positive"
					iconPosition="right"
					icon="arrow-right"
				>Обновить пароль</button>
			</div>
		</form>
	</div>

</div>
