<div
	*appLet="point | checkAccessEdit as hasAccessEdit"
	class="point color"
	[ngClass]="[
		hasAccessEdit ? 'point--available' : '',
		point.color ? 'color--' + point.color : '',
		isLine ? 'point--line color--horizontal' : '',
		isSm ? 'point--sm' : '',
	]"
>
	<a
		routerLink="/point/{{ point.id }}"
		[attr.title]="isSm ? point.title : null"
		class="point__main"
	>
		<h2 class="point__title">
			<span
				app-tooltip
				(mouseenter)="loadUserInfo(point.user)"
			>
				<span class="point__title-text">{{ point.title }}</span>

				<ng-container *ngIf="isAuth else userUnAuth">
					<ng-container *ngIf="point?.userInfo">
						<ng-container *ngIf="point.userInfo?.displayName || point.userInfo?.photoURL else userEmpty">
							<ng-template #tooltipContent>
								<div class="point__user">
									<img
										*ngIf="point.userInfo?.photoURL"
										class="userpic userpic--sm"
										[src]="point.userInfo?.photoURL"
										[alt]="point.userInfo?.displayName"
										aria-hidden="true"
									>{{ point.userInfo?.displayName }}
								</div>
							</ng-template>
						</ng-container>
						<ng-template #userEmpty>
							<ng-template #tooltipContent>
								<p class="point__user">...</p>
							</ng-template>
						</ng-template>
					</ng-container>
				</ng-container>

				<ng-template #userUnAuth>
					<ng-template #tooltipContent>
						<p class="point__user">Доступ ограничен</p>
					</ng-template>
				</ng-template>
			</span>
		</h2>
		<p
			*ngIf="point.description && !isSm"
			class="point__description"
		>{{ point.description }}</p>
		<p class="point__description">{{ closestIterationRemain }}</p>
	</a>

	<div class="point__timers-wrapper">
		<app-timers
			class="point__timers timers timers--sm timers--left"
			size="sm"
			[years]="timerYears"
			[months]="timerMonths"
			[days]="timerDays"
			[hours]="timerHours"
			[mins]="timerMins"
			[secs]="timerSecs"
			[showSec]="showSec"
			yearsLabel="Год"
			monthsLabel="Мес"
			daysLabel="Ден"
			hoursLabel="Час"
			minsLabel="Мин"
			secsLabel="Сек"
			delayRandomValue="3000"
		></app-timers>
		<svg
			app-svg
			[name]="point.direction === 'forward' ? 'rotate-right' : 'rotate-left'"
			[attr.aria-label]="directionTitle"
			class="point__direction"
			aria-hidden="false"
			[ngClass]="[
				isDirectionCorrect ? 'point__direction--correct' : '',
				point.direction === 'forward' ? 'point__direction--forward' : 'point__direction--backward'
			]"
		></svg>
	</div>

	<div class="point__nav">
		<ng-container *ngIf="!loading; else loader">
			<button
				app-button
				mode="negative"
				[attr.disabled]="!hasAccessEdit || null"
				icon="cross"
				title="Удалить событие"
				(click)="delete(point.id)"
			></button>
			<label
				#pointCheckbox
				[isDisabled]="!hasAccessEdit"
				app-checkbox
				(change)="checkPoint()"
			></label>
		</ng-container>
	</div>

	<div class="point__markers">
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.greenwich
			}"
		>
			<svg
				app-svg
				name="globe"
				[attr.aria-label]="point.greenwich ? 'По Гринвичу' : 'По местному времени'"
				aria-hidden="false"
				class="marker__inner"
			></svg>
		</div>
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.repeatable
			}"
		>
			<svg
				app-svg
				name="refresh"
				aria-hidden="false"
				[attr.aria-label]="point.repeatable ? 'Повторяемое' : 'Однократное'"
				class="marker__inner"
			></svg>
		</div>
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.public
			}"
		>
			<svg
				app-svg
				name="users"
				aria-hidden="false"
				[attr.aria-label]="point.public ? 'Публичное' : 'Приватное'"
				class="marker__inner"
			></svg>
		</div>
	</div>

	<ng-template #loader>
		<svg
			*ngIf="loading"
			app-svg
			name="hourglass"
			class="loader rotating"
			aria-hidden="false"
			aria-label="Загрузка"
		></svg>
	</ng-template>

</div>
