<div
	*appLet="point | checkAccessEdit as hasAccessEdit"
	class="point color"
	[ngClass]="[
		hasAccessEdit ? 'point--available' : '',
		isEdit ? 'point--edit' : '',
		point.color ? 'color--' + point.color : '',
		isLine ? 'point--line color--horizontal' : '',
		isSm ? 'point--sm' : '',
	]"
>
	<a
		routerLink="/point/{{ point.id }}"
		[attr.title]="isSm ? point.title : null"
		class="point__main"
	>
		<h2 class="point__title">
			<span class="point__title-text">{{ point.title }}</span>
		</h2>
		<p
			*ngIf="point.description && !isSm"
			class="point__description"
		>{{ point.description }}</p>
		<p class="point__description">{{ closestIterationRemain }}</p>
	</a>

	<div class="point__timers-wrapper">
		<app-timers
			*ngIf="!isSm"
			class="point__timers timers timers--sm timers--left"
			size="sm"
			[years]="timerYears"
			[months]="timerMonths"
			[days]="timerDays"
			[hours]="timerHours"
			[mins]="timerMins"
			[secs]="timerSecs"
			[showSec]="showSec"
			yearsLabel="Год"
			monthsLabel="Мес"
			daysLabel="Ден"
			hoursLabel="Час"
			minsLabel="Мин"
			secsLabel="Сек"
			delayRandomValue="3000"
		></app-timers>
		<ng-container
			*ngIf="!isSm"
			[ngTemplateOutlet]="rotating"
		></ng-container>
	</div>

	<div
		*ngIf="isAuth && !isEdit"
		class="point__nav"
	>
		<div
			*ngIf="!loading; else loader"
			class="point__nav-section"
		>
			<button
				app-button
				mode="negative"
				[attr.disabled]="!hasAccessEdit || null"
				icon="cross"
				title="Удалить событие"
				(click)="delete(point.id)"
			></button>
			<label
				#pointCheckbox
				[isDisabled]="!hasAccessEdit"
				app-checkbox
				(change)="checkPoint()"
			></label>
		</div>
		<div
			*ngIf="hasAccessEdit"
			class="point__nav-section"
		>
			<a
				app-button
				size="sm"
				icon="pencil"
				mode="secondary"
				routerLink="/{{isEdit ? 'point' : 'edit'}}/{{point.id}}"
				title="Редактировать"
			></a>
			<button
				app-button
				icon="warning"
				(click)="setDateNow()"
				title="Сейчас!"
			></button>
		</div>
	</div>

	<div
		*ngIf="!isEdit"
		class="point__markers-wrapper"
	>
		<div class="point__markers">
			<ng-container
				*ngIf="isSm"
				[ngTemplateOutlet]="rotating"
			></ng-container>
			<div
				class="marker"
				[ngClass]="{
					'marker--inactive': !point.greenwich
				}"
			>
				<svg
					app-svg
					name="globe"
					[attr.aria-label]="point.greenwich ? 'По Гринвичу' : 'Локально'"
					aria-hidden="false"
					class="marker__inner"
				></svg>
			</div>
			<div
				class="marker"
				[ngClass]="{
					'marker--inactive': !point.repeatable
				}"
			>
				<svg
					app-svg
					name="refresh"
					aria-hidden="false"
					[attr.aria-label]="point.repeatable ? 'Многократное' : 'Однократное'"
					class="marker__inner"
				></svg>
			</div>
			<div
				class="marker"
				[ngClass]="{
					'marker--inactive': !point.public
				}"
			>
				<svg
					app-svg
					name="users"
					aria-hidden="false"
					[attr.aria-label]="point.public ? 'Публичное' : 'Приватное'"
					class="marker__inner"
				></svg>
			</div>
		</div>
		<div
			*ngIf="isAuth"
			class="point__author"
		>
			<ng-container *ngIf="!isSm">
				<ng-container *ngIf="point.userInfo?.displayName || point.userInfo?.photoURL else btnAuthor">
					<img
						*ngIf="point.userInfo?.photoURL"
						class="userpic userpic--sm"
						[src]="point.userInfo?.photoURL"
						[alt]="point.userInfo?.displayName"
						aria-hidden="true"
					>
					<span class="point__author-text">{{ point.userInfo?.displayName }}</span>
				</ng-container>
			</ng-container>
			<ng-template #btnAuthor>
				<button
					app-button
					view="link"
					class="point__author-button"
					[ngClass]="{
						'point__author-button--text': !authorLoading
					}"
					[disabled]="authorLoading"
					(click)="loadUserInfo(point.user)"
					[loading]="authorLoading"
				>{{ authorLoading ? '' : 'Чьё?'}}</button>
			</ng-template>
		</div>
	</div>

	<ng-template #loader>
		<app-loader *ngIf="loading"></app-loader>
	</ng-template>

	<ng-template #rotating>
		<svg
			app-svg
			[name]="point.direction === 'forward' ? 'rotate-right' : 'rotate-left'"
			[attr.aria-label]="directionTitle"
			class="direction-icon"
			aria-hidden="false"
			[ngClass]="[
						isDirectionCorrect ? 'direction-icon--correct' : '',
						point.direction === 'forward' ? 'direction-icon--forward' : 'direction-icon--backward'
					]"
		></svg>
	</ng-template>

</div>
