<div
	*appLet="point | checkAccessEdit as hasAccessEdit"
	class="point color"
	[ngClass]="[
		hasAccessEdit ? 'point--available' : '',
		point.color ? 'color--' + point.color : '',
		isLine ? 'point--line color--horizontal' : '',
		isSm ? 'point--sm' : '',
	]"
>
	<a
		routerLink="/point/{{ point.id }}"
		[attr.title]="isSm ? point.title : null"
		class="point__main"
	>
		<h2 class="point__title">
			<span
				app-tooltip
				(mouseenter)="loadUserInfo(point.user)"
			>
				<span class="point__title-text">{{ point.title }}</span>

				<ng-container *ngIf="isAuth else userUnAuth">
					<ng-container *ngIf="point?.userInfo">
						<ng-container *ngIf="point.userInfo?.displayName || point.userInfo?.photoURL else userEmpty">
							<ng-template #tooltipContent>
								<div class="point__user">
									<img
										*ngIf="point.userInfo?.photoURL"
										class="userpic userpic--sm"
										[src]="point.userInfo?.photoURL"
										[alt]="point.userInfo?.displayName"
										aria-hidden="true"
									>{{ point.userInfo?.displayName }}
								</div>
							</ng-template>
						</ng-container>
						<ng-template #userEmpty>
							<ng-template #tooltipContent>
								<p class="point__user">...</p>
							</ng-template>
						</ng-template>
					</ng-container>
				</ng-container>


				<ng-template #userUnAuth>
					<ng-template #tooltipContent>
						<p class="point__user">Доступ ограничен</p>
					</ng-template>
				</ng-template>
			</span>
		</h2>
		<p
			*ngIf="point.description && !isSm"
			class="point__description"
		>{{ point.description }}</p>
	</a>

	<div class="point__timers timers timers--sm">
		<ng-container *ngIf="timerYears">
			<app-board
				[value]="timerYears"
				size="sm"
				label="Год"
				class="timers__item"
			></app-board>
			<span class="timers__divider">/</span>
		</ng-container>
		<ng-container *ngIf="timerMonths">
			<app-board
				[value]="timerMonths"
				size="sm"
				label="Мес"
				class="timers__item"
			></app-board>
			<span class="timers__divider">/</span>
		</ng-container>
		<app-board
			*ngIf="timerDays"
			[value]="timerDays"
			size="sm"
			label="Ден"
			class="timers__item timers__item--divided"
		></app-board>
		<app-board
			[value]="timerHours"
			size="sm"
			label="Час"
			class="timers__item timers__item--divided"
		></app-board>
		<span class="timers__divider">:</span>
		<app-board
			[value]="timerMins"
			size="sm"
			label="Мин"
			class="timers__item"
		></app-board>
		<span class="timers__divider">:</span>
		<app-board
			[value]="timerSecs"
			size="sm"
			label="Сек"
			class="timers__item"
		></app-board>
	</div>


	<div
		class="point__nav"
		*ngIf="loading || hasAccessEdit"
	>
		<ng-container *ngIf="!loading && hasAccessEdit; else loader">
			<button
				app-button
				mode="negative"
				icon="cross"
				title="Удалить событие"
				(click)="delete(point.id)"
			></button>
			<ng-container
				*ngIf="checkboxTemplate else defaultCheckbox;"
				[ngTemplateOutlet]="checkboxTemplate"
			></ng-container>
			<ng-template #defaultCheckbox>
				<label
					#pointCheckbox
					app-checkbox
					(change)="checkPoint()"
				></label>
			</ng-template>
		</ng-container>
	</div>

	<div class="point__markers">
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.greenwich
			}"
			[title]="point.greenwich ? 'По Гринвичу' : 'По местному времени'"
		>
			<svg
				app-svg
				name="globe"
				aria-hidden="false"
				class="marker__inner"
			></svg>
		</div>
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.repeatable
			}"
			[title]="point.repeatable ? 'Повторяемое' : 'Однократное'"
		>
			<svg
				app-svg
				name="refresh"
				aria-hidden="false"
				class="marker__inner"
			></svg>
		</div>
		<div
			class="marker"
			[ngClass]="{
				'marker--inactive': !point.public
			}"
			[title]="point.public ? 'Публичное' : 'Приватное'"
		>
			<svg
				app-svg
				name="users"
				aria-hidden="false"
				class="marker__inner"
			></svg>
		</div>
	</div>

	<ng-template #loader>
		<svg
			*ngIf="loading"
			app-svg
			name="hourglass"
			class="loader rotating"
			aria-hidden="false"
		></svg>
	</ng-template>

</div>
