<ng-container
	*ngIf="iconPosition === 'left' && !loading && icon"
	[ngTemplateOutlet]="iconTemplate"
></ng-container>
<ng-container
	*ngIf="iconPosition === 'left' && loading"
	[ngTemplateOutlet]="loaderTemplate"
></ng-container>

<span [ngClass]="textClasses"><ng-content></ng-content></span>

<ng-container
	*ngIf="iconPosition === 'right' && !loading && icon"
	[ngTemplateOutlet]="iconTemplate"
></ng-container>
<ng-container
	*ngIf="iconPosition === 'right' && loading"
	[ngTemplateOutlet]="loaderTemplate"
></ng-container>

<ng-template #iconTemplate>
	<svg
		app-svg
		[name]="icon"
		[ngClass]="view === 'button' ? 'button__icon' : 'link__icon'"
		[title]="iconTitle || undefined"
		[attr.aria-label]="iconTitle"
		[aria-hidden]="iconAriaHidden"
	></svg>
</ng-template>
<ng-template #loaderTemplate>
	<app-loader [iconClass]="view === 'button' ? 'button__icon' : 'link__icon'"></app-loader>
</ng-template>
