<div class="calendar__header">
	<div class="calendar__nav">
		<div class="calendar__nav-set">
			<button
				app-button
				icon="chevron-left"
				title="Пролистать календарь влево"
				mode="ghost"
				(click)="switchCalendarPeriod(false)"
			></button>
			<button
				app-button
				icon="chevron-right"
				title="Пролистать календарь вправо"
				mode="ghost"
				(click)="switchCalendarPeriod(true)"
			></button>
		</div>

		<div class="calendar__nav-set">
			<button
				app-button
				icon="clock"
				mode="ghost"
				title="Перейти к нынешнему моменту"
				(click)="switchCalendarToNow()"
			></button>
			<button
				app-button
				icon="home-2"
				mode="ghost"
				title="Перейти к выбранному моменту"
				(click)="switchCalendarToSelected()"
			></button>
		</div>
		<span
			class="calendar__status"
			*ngIf="!hideCurrentPeriod"
		>{{ visiblePeriod }}</span>
	</div>

	<app-switcher
		*ngIf="!hideModeSwitch"
		class="calendar__switcher"
		[items]="calendarModes"
		[value]="activeMode"
		(valueSwitched)="switchCalendarMode($event)"
	></app-switcher>
</div>

<div class="calendar__table-wrapper">
	<table class="calendar__table">
		<thead *ngIf="activeMode === 'month'">
			<tr>
				<th *ngFor="let day of weekDaysArray">{{ day }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let period of calendarArray">
				<td
					class="calendar__cell"
					*ngFor="let item of period"
				>
					<button
						class="calendar__button"
						type="button"
						[ngClass]="{
							'calendar__button--selected': item.selectedDate,
							'calendar__button--now': item.nowDate,
						}"
						(click)="dateClicked({
							date: item.date,
							activeMode,
							points: item.points,
							iterations: item.iterations
						})"
					>
						<ng-container *ngIf="item.points.length || item.iterations.length">
							<span
								*ngIf="point?.repeatable || item.points.length else mark;"
								class="calendar__counter"
							>{{ item.points.length || item.iterations.length }}</span>
							<ng-template #mark>
								<svg
									app-svg
									name="check"
									class="calendar__counter"
								></svg>
							</ng-template>
						</ng-container>
						{{ getItemDate(item.date) }}
					</button>
					<div class="calendar__date-nav">
						<ng-container
							*ngIf="navTemplate"
							[ngTemplateOutlet]="navTemplate"
							[ngTemplateOutletContext]="{ date: item, mode: this.activeMode, point: this.point }"
						></ng-container>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
