<div class="calendar__nav">
	<div>
		<button
			type="button"
			(click)="switchCalendarPeriod(false)"
		>&lt;</button>
		<button
			type="button"
			(click)="switchCalendarPeriod(true)"
		>&gt;</button>
	</div>

	<div>
		<button (click)="switchCalendarMode('year')">Год</button>
		<button (click)="switchCalendarMode('month')">Месяц</button>
		<button (click)="switchCalendarMode('day')">День</button>
		<button (click)="switchCalendarMode('hour')">Час</button>
	</div>
</div>

<table>
	<thead *ngIf="activeMode === 'month'">
		<tr>
			<th>пн</th>
			<th>вт</th>
			<th>ср</th>
			<th>чт</th>
			<th>пт</th>
			<th>сб</th>
			<th>вс</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let week of generateCalendar()">
			<td
				class="calendar__cell"
				*ngFor="let item of week"
			>
				<button
					class="calendar__button link"
					[ngClass]="{
						'calendar__button--selected': item.selectedDate,
						'calendar__button--now': item.nowDate,
					}"
					(click)="dateClicked(item.date)"
				>
					{{ item.date | date : "dd.MM.yyyy '—' HH:mm" }}
				</button>
			</td>
		</tr>
	</tbody>
</table>
