<app-panel
	icon="calendar"
	buttonSize="lg"
	[open]="calendarOpen"
	(panelVisibilitySwitched)="switchCalendarPanel($event)"
>
	<ng-template #bodyTemplate>
		<app-calendar
			*ngIf="this.dates?.length"
			(dateSelected)="dateSelected($event)"
			(modeSelected)="modeSelected($event)"
			[iterations]="point?.dates"
			class="calendar"
			[selectedDate]="selectedIterationDate"
			[visibleDate]="selectedIterationDate"
			[point]="point"
			(created)="calendarCreated()"
		>
			<ng-template
				#navTemplate
				let-date="date"
				let-mode="mode"
				let-point="point"
			>
				<ng-container *ngIf="date.iterations.length && point.repeatable">
					<button
						app-button
						mode="positive"
						size="sm"
						icon="document-check"
						class="calendar__btn-nav"
						title="Отметить все итерации даты"
						(click)="dateChecked({
							check: true,
							data: date.iterations
						})"
					></button>
					<button
						app-button
						mode="secondary"
						size="sm"
						icon="document-cross"
						class="calendar__btn-nav"
						title="Снять отметки со всех итераций даты"
						(click)="dateChecked({
							check: false,
							data: date.iterations
						})"
					></button>
				</ng-container>
			</ng-template>
		</app-calendar>
	</ng-template>

	<ng-container *ngIf="this.dates?.length && (this.dates?.length != 1)">
		<ng-template #extraTemplate>
			<ul
				#iterationsList
				class="tabs"
			>
				<li
					*ngFor="let date of this.dates; let i = index"
					class="tabs__item"
					[ngClass]="{
								'tabs__item--active': i == currentIterationIndex,
								'tabs__item--day': (i >= firstIterationIndex) && (i < selectedIterationsNumber + firstIterationIndex),
								'tabs__item--copy': i | checkCopies : point,
							}"
				>
					<button
						app-button
						class="tabs__btn"
						size="sm"
						mode="secondary"
						(click)="switchIteration(i)"
					>{{ i + 1 }}
						<ng-container *ngIf="date.reason === 'frequency'">*</ng-container>
					</button>
					<label
						app-checkbox
						*ngIf="hasAccess"
						[attr.name]="i"
						iconSize="sm"
						(change)="checkIteration()"
						class="tabs__check"
					></label>
					<button
						*ngIf="hasAccess"
						app-button
						mode="negative"
						size="sm"
						icon="cross"
						class="tabs__remove"
						(click)="removeIteration(i)"
					></button>
				</li>
			</ul>

			<div
				*ngIf="hasAccess && !loading && !dateLoading && isDatesLengthPlural"
				class="tabs__nav"
			>
				<button
					app-button
					size="sm"
					mode="positive"
					icon="document-check"
					title="Выбрать все итерации"
					(click)="checkAllIterations()"
				></button>
				<ng-container *ngIf="iterationsChecked.length">
					<button
						app-button
						size="sm"
						mode="secondary"
						icon="document-cross"
						title="Снять выбор со всех итераций"
						(click)="checkAllIterations(false)"
					></button>
					<button
						app-button
						size="sm"
						mode="negative"
						icon="cross"
						title="Удалить выбранные итерации"
						(click)="removeCheckedIterations()"
					></button>
				</ng-container>
			</div>
		</ng-template>
	</ng-container>
</app-panel>

<div class="content">
	<div class="point-page">
		<!-- <app-clock class="point-page__clock"></app-clock> -->

		<div class="point-page__header">

			<div class="point-page__markers">
				<div
					class="marker"
					[ngClass]="{
						'marker--inactive': !point?.greenwich
					}"
					[title]="point?.greenwich ? 'По Гринвичу' : 'По местному времени'"
				>
					<svg
						app-svg
						name="globe"
						aria-hidden="false"
						class="marker__inner"
					></svg>
				</div>
				<div
					class="marker"
					[ngClass]="{
						'marker--inactive': !point?.repeatable
					}"
					[title]="point?.repeatable ? 'Повторяемое' : 'Однократное'"
				>
					<svg
						app-svg
						name="refresh"
						aria-hidden="false"
						class="marker__inner"
					></svg>
				</div>
				<div
					class="marker"
					[ngClass]="{
						'marker--inactive': !point?.public
					}"
					[title]="point?.public ? 'Публичное' : 'Приватное'"
				>
					<svg
						app-svg
						name="users"
						aria-hidden="false"
						class="marker__inner"
					></svg>
				</div>
			</div>

			<h1
				*ngIf="point?.title"
				class="point-page__title color"
				[ngClass]="point?.color ? 'color--' + point?.color : ''"
			>
				<span
					class="point-page__title-text"
					[attr.data-first-letter]="firstLetter"
				>{{ point?.title }}</span><span
					*ngIf="loading"
					class="loader rotating"
				></span>
			</h1>

			<div class="point-page__author">
				<img
					*ngIf="userData?.photoURL"
					class="userpic userpic--sm"
					[src]="userData.photoURL"
					[alt]="userData.displayName"
					aria-hidden="true"
				><ng-container *ngIf="userData?.displayName">
					{{ userData.displayName }}
				</ng-container>
			</div>
		</div>

		<div
			*ngIf="!dateLoading; else dateLoader"
			class="timers"
		>
			<ng-container *ngIf="timerYears">
				<app-board
					[value]="timerYears"
					label="Годы"
					class="timers__item"
				></app-board>
				<span class="timers__divider">/</span>
			</ng-container>
			<ng-container *ngIf="timerMonths">
				<app-board
					[value]="timerMonths"
					label="Месяцы"
					class="timers__item"
				></app-board>
				<span class="timers__divider">/</span>
			</ng-container>
			<app-board
				*ngIf="timerDays"
				[value]="timerDays"
				label="Дни"
				class="timers__item timers__item--divided"
			></app-board>
			<app-board
				[value]="timerHours"
				label="Часы"
				class="timers__item timers__item--divided"
			></app-board>
			<span class="timers__divider">:</span>
			<app-board
				[value]="timerMins"
				label="Минуты"
				class="timers__item"
			></app-board>
			<span class="timers__divider">:</span>
			<app-board
				[value]="timerSecs"
				label="Секунды"
				class="timers__item"
			></app-board>
		</div>

		<div class="point-page__footer">
			<h2
				*ngIf="point?.title"
				class="point-page__remain description"
			>{{ remainTextValue }}</h2>

			<p
				*ngIf="point?.description"
				class="point-page__description description"
			>{{ point?.description }}</p>
		</div>
		<!-- <p
			*ngIf="!dateLoading; else dateLoader"
			class="timer"
			[attr.title]="iterationDate || null"
			>{{ dateTimer }} {{ timer }}</p> -->


		<ng-template #dateLoader>
			<h2>
				<div class="loader rotating"></div>
			</h2>
		</ng-template>
	</div>
</div>
