<div>
	<h1>{{ point?.title }}<span
			*ngIf="loading"
			class="loader rotating"
		></span></h1>
	<h2
		*ngIf="point?.title"
		class="description"
	>{{ remainText }}</h2>
	<ul
		*ngIf="this.dates?.length && (this.dates?.length != 1)"
		class="tabs"
	>
		<li
			*ngFor="let date of this.dates | sort; let i = index"
			class="tabs__item"
			[ngClass]="{
				'tabs__item--active': i == (currentIterationIndex | async)
			}"
		>
			<button
				class="link tabs__btn"
				(click)="switchIteration(i)"
				type="button"
			>{{ i + 1 }}
				<ng-container *ngIf="date.reason === 'frequency'">*</ng-container>
			</button>
			<input
				*ngIf="hasAccess"
				type="checkbox"
			>
			<button
				*ngIf="hasAccess"
				class="link"
				(click)="removeIteration(i)"
				type="button"
			>x</button>
		</li>
	</ul>
	<small *ngIf="point?.greenwich">Время по Гринвичу</small>
	<small *ngIf="point?.repeatable">&nbsp;Повторяемое</small>
	<small *ngIf="point?.public">&nbsp;Публичное</small>
	<p
		*ngIf="!dateLoading; else dateLoader"
		class="timer"
	>{{ dateTimer }} {{ timer }}</p>
	<ng-template #dateLoader>
		<h2>
			<div class="loader rotating"></div>
		</h2>
	</ng-template>
</div>
<br>
<p>{{ point?.description }}</p>
