<app-date-panel
	[loading]="loading"
	[dateLoading]="dateLoading"
	[pointDate]="pointDate"
	[selectedIterationDate]="selectedIterationDate"
	[urlMode]="urlModeValue"
	(iterationSwitched)="iterationSwitchHandler($event)"
></app-date-panel>

<div class="content">
	<div class="point-page">
		<!-- <app-clock class="point-page__clock"></app-clock> -->
		<div class="point-page__header">

			<div class="point-page__markers">
				<ng-container *ngIf="(urlMode | async) !== true">
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.greenwich
						}"
						[title]="point?.greenwich ? 'По Гринвичу' : 'Локально'"
					>
						<svg
							app-svg
							name="globe"
							class="marker__inner"
						></svg>
					</div>
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.repeatable
						}"
						[title]="point?.repeatable ? 'Многократное' : 'Однократное'"
					>
						<svg
							app-svg
							name="refresh"
							class="marker__inner"
						></svg>
					</div>
					<div
						class="marker"
						[ngClass]="{
							'marker--inactive': !point?.public
						}"
						[title]="point?.public ? 'Публичное' : 'Приватное'"
					>
						<svg
							app-svg
							name="users"
							class="marker__inner"
						></svg>
					</div>

					<div
						class="point-page__direction"
						[title]="directionTitle"
					>
						<svg
							app-svg
							[name]="point?.direction === 'forward' ? 'rotate-right' : 'rotate-left'"
							class="direction-icon"
							[ngClass]="[
								isDirectionCorrect ? 'direction-icon--correct' : '',
								point?.direction === 'forward' ? 'direction-icon--forward' : 'direction-icon--backward'
							]"
						></svg>
					</div>
				</ng-container>
				<div
					class="point-page__color color"
					[title]="pointColorName"
					[ngClass]="point?.color ? 'color--' + point?.color : ''"
				></div>
			</div>

			<h1
				*ngIf="point?.title"
				class="point-page__title"
			>
				<div class="point-page__title-inner">
					<span class="point-page__title-text">{{ point?.title }}</span>
				</div>
			</h1>

			<div class="point-page__author">
				<img
					*ngIf="userData?.photoURL"
					class="userpic userpic--sm"
					[src]="userData.photoURL"
					[alt]="userData.displayName"
					aria-hidden="true"
				><ng-container *ngIf="userData?.displayName">
					{{ userData.displayName }}
				</ng-container>
			</div>

			<div class="point-page__remain">
				<ng-container *ngIf="iterationReason === 'frequency'">
					<svg
						app-svg
						name="refresh"
						class="point-page__icon"
					></svg>
					Сгенерированная итерация.
				</ng-container>
				<ng-container *ngIf="remainTextValue">{{ remainTextValue }}. </ng-container> <ng-container
					*ngIf="iterationDate && iterationTime && !dateLoading && !loading"
				> {{ iterationDate }} {{
					iterationTime }}</ng-container>
			</div>
			<p
				*ngIf="point?.description"
				class="point-page__description"
			>
				{{ point?.description }}
			</p>
		</div>

		<app-timers
			*ngIf="!dateLoading && !loading; else dateLoader"
			class="point-page__timers timers"
			[years]="timerYears"
			[months]="timerMonths"
			[days]="timerDays"
			[hours]="timerHours"
			[mins]="timerMins"
			[secs]="timerSecs"
		></app-timers>
		<ng-template #dateLoader>
			<div class="root__loading-marker"></div>
		</ng-template>
	</div>
</div>
