// ===============================================
// BREAKPOINT VARIABLES
// ===============================================


$grid-breakpoints: (
	xxs: 0,
	xs: 320px,
	md: 768px,
	lg: 1024px,
	xl: 1440px,
	xxl: 1920px,
);
