<app-panel
	#panelCalendar
	icon="calendar"
	buttonSize="lg"
	[open]="calendarOpen"
	(panelVisibilitySwitched)="switchCalendarPanel($event)"
>
	<ng-template #bodyTemplate>
		<app-calendar
			*ngIf="this.dates?.length"
			(dateSelected)="dateSelected($event)"
			(modeSelected)="modeSelected($event)"
			[iterations]="point?.dates"
			class="calendar"
			[selectedDate]="selectedIterationDate"
			[visibleDate]="selectedIterationDate"
			[point]="point"
			[urlMode]="urlMode"
			(created)="calendarCreated()"
			daysPerWeek="14"
			[weekendDays]="[5, 6, 12, 13]"
		>
			<ng-template
				#navTemplate
				let-date="date"
				let-mode="mode"
				let-point="point"
			>
				<ng-container *ngIf="date.iterations.length && point.repeatable && hasAccess">
					<button
						app-button
						mode="positive"
						size="sm"
						icon="document-check"
						class="calendar__btn-nav"
						title="Отметить все итерации даты"
						(click)="dateChecked({
							check: true,
							data: date.iterations
						})"
					></button>
					<button
						app-button
						mode="secondary"
						size="sm"
						icon="document-cross"
						class="calendar__btn-nav"
						title="Снять отметки со&nbsp;всех итераций даты"
						(click)="dateChecked({
							check: false,
							data: date.iterations
						})"
					></button>
				</ng-container>
			</ng-template>
		</app-calendar>
	</ng-template>

	<ng-container *ngIf="this.dates?.length && this.point?.repeatable">
		<ng-template #extraButton>
			<label
				app-checkbox
				iconSize="sm"
				mode="icon"
				title="Отображение информации об&nbsp;итерациях"
				[isChecked]="showIterationsInfo"
				(change)="iterationsInfoSwitch($event)"
			>
				<svg
					app-svg
					name="info-circle"
					class="checkbox__label-icon"
				></svg>
			</label>
		</ng-template>
		<ng-template #extraTemplate>
			<div
				@extraPanel
				class="panel__tabs"
			>
				<div
					*ngIf="iterationsListScrollable"
					class="tabs__nav-wrapper"
				>
					<div class="tabs__nav">
						<button
							app-button
							mode="ghost"
							icon="chevron-left"
							(click)="scrollList('start')"
							title="Перейти к&nbsp;началу списка итераций"
						></button>
					</div>
					<div class="tabs__nav">
						<button
							app-button
							size="sm"
							mode="ghost"
							icon="clock"
							(click)="scrollList('home')"
							title="Перейти к&nbsp;выбранной итерации"
						></button>
					</div>
				</div>
				<div
					#iterationsTabs
					class="tabs"
					[ngClass]="{
						'tabs--scrollable': iterationsListScrollable,
						'tabs--expanded': showIterationsInfo,
						'tabs--edit': isEditing
					}"
				>
					<cdk-virtual-scroll-viewport
						class="tabs__virtual-scroll"
						#virtualScrollViewport
						[itemSize]="hasAccess ? 174 : 108"
						orientation="horizontal"
						(scrolledIndexChange)="updateIterationCheckboxes()"
					>
						<ul
							#iterationsList
							class="tabs__inner"
						>

							<ng-container *cdkVirtualFor="let item of combinedDates; let i = index">
								<ng-container
									[ngTemplateOutlet]="iteration"
									[ngTemplateOutletContext]="{
										$implicit: item.data,
										index: item.time === 'future' ? i - 1 : item.time === 'past' ? i : null,
										time: item.time,
										icon: item?.data?.mode?.icon,
										type: item.type
									}"
								>
								</ng-container>
							</ng-container>
							<li
								*ngIf="isEditing"
								class="tabs__item tabs__item--add"
								[ngClass]="{
									'tabs__item--active': isIterationAdded
								}"
							>
								<button
									app-button
									class="button"
									mode="ghost"
									icon="plus"
									title="Добавить итерацию"
									class="tabs__btn"
									(click)="addIterationClick()"
								></button>
							</li>
						</ul>
					</cdk-virtual-scroll-viewport>
				</div>
			</div>
			<div>
				<div class="tabs__nav">
					<button
						app-button
						mode="ghost"
						*ngIf="iterationsListScrollable"
						icon="chevron-right"
						(click)="scrollList('end')"
						title="Перейти к&nbsp;концу списка итераций"
					></button>
					<button
						*ngIf="hasAccess && !loading && !dateLoading && isDatesLengthPlural"
						class="tabs__remove-all"
						app-button
						size="sm"
						mode="negative"
						icon="cross"
						[attr.disabled]="iterationsCheckedForRemove.length ? null : true"
						title="Удалить выбранные итерации"
						(click)="removeCheckedIterations()"
					></button>
				</div>
				<div
					*ngIf="hasAccess && !loading && !dateLoading && isDatesLengthPlural"
					class="tabs__nav"
				>
					<button
						app-button
						size="sm"
						mode="positive"
						icon="document-check"
						title="Выбрать все итерации"
						(click)="checkAllIterations()"
					></button>
					<button
						app-button
						size="sm"
						mode="secondary"
						[attr.disabled]="iterationsCheckedForRemove.length ? null : true"
						icon="document-cross"
						title="Снять выбор со&nbsp;всех итераций"
						(click)="checkAllIterations(false)"
					></button>
				</div>
			</div>
		</ng-template>
	</ng-container>
</app-panel>

<ng-template
	#iteration
	let-date
	let-icon="icon"
	let-i="index"
	let-time="time"
	let-type="type"
>
	<li
		class="tabs__item"
		[ngClass]="{
			'tabs__item--active': (type === 'date' && i == currentIterationIndex) && !isIterationAdded,
			'tabs__item--day': ((type === 'date' && i >= firstIterationIndex)) && (i < selectedIterationsNumber + firstIterationIndex) && !isIterationAdded,
			'tabs__item--after': time === 'future',
			'tabs__item--home': type === 'home',
			'tabs__item--copy': type === 'date' && i | checkCopies : point,
			'tabs__item--copy-other': type === 'date' && i | checkCopies : point : true,
		}"
	>
		<ng-container *ngIf="type === 'date'">
			<label
				app-checkbox
				*ngIf="hasAccess"
				[name]="i.toString()"
				iconSize="sm"
				(change)="checkIteration($event, i)"
				class="tabs__check"
			></label>
			<button
				app-button
				class="tabs__btn"
				size="sm"
				mode="secondary"
				(click)="switchIteration(i)"
			>{{ i + 1 }}
				<span
					*ngIf="icon"
					class="tabs__emoji"
				>
					{{ icon }}
				</span>
			</button>
			<button
				*ngIf="hasAccess"
				app-button
				mode="negative"
				size="sm"
				icon="cross"
				class="tabs__remove"
				(click)="removeIteration(i)"
			></button>
		</ng-container>
		<ng-container *ngIf="type === 'home'">
			<svg
				app-svg
				name="home-2"
			></svg>
		</ng-container>

		<div
			*ngIf="showIterationsInfo"
			@iterationsInfo
			class="tabs__label-wrapper"
		>
			<div
				class="tabs__label"
				[ngClass]="{
					'tabs__label--now': type === 'home',
				}"
			>
				<ng-container *ngIf="type === 'date'">
					<p class="tabs__remain">{{ (time === 'past' ? 'Прошло: ' : 'Осталось: ') + (date.date |
						timeRemainText :
						point?.greenwich) }}
					</p>
					<div class="tabs__date">
						<svg
							app-svg
							*ngIf="date.reason === 'frequency'"
							name="refresh"
							aria-label="Итерация сгенерирована автоматически"
							ariaHidden="false"
							class="tabs__item-icon"
						></svg>
						{{ date.date | timeRemain : point?.greenwich }}
					</div>
				</ng-container>
				<p
					*ngIf="type === 'home'"
					class="tabs__date"
				>{{ currentTime }}</p>
			</div>
		</div>
	</li>
</ng-template>
