<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
>
	<div
		class="control"
		[ngClass]="{
				'control--error': hasEmailErrors
			}"
	>
		<input
			type="text"
			placeholder="E-mail"
			formControlName="email"
		>
	</div>
	<ng-container [formGroup]="passwordsForm">
		<div
			class="control"
			[ngClass]="{
						'control--error': hasPasswordErrors
					}"
		>
			<input
				#passwordControl
				type="password"
				placeholder="Пароль"
				formControlName="password"
				autocomplete="new-password"
			>
		</div>
		<div
			class="control"
			[ngClass]="{
						'control--error': hasPasswordRepeatErrors
					}"
		>
			<input
				#passwordRepeatControl
				type="password"
				placeholder="Повторите пароль"
				formControlName="passwordRepeat"
				autocomplete="new-password"
			>
		</div>
	</ng-container>
	<div class="control">
		<label>
			<input
				type="checkbox"
				name="showPassword"
				(change)="switchPasswordVisibility($event)"
			>
			Показать пароль
		</label>
	</div>
	<div class="control">
		<label>
			<input
				type="checkbox"
				formControlName="privacyAgree"
			>
			Принять условия <a
				class="nav__item"
				[routerLink]="'/privacy'"
				target="_blank"
			>политики обработки персональных данных</a>
		</label>
	</div>
	<ul
		*ngIf="errorMessages.length"
		class="info info--error"
	>
		<li
			*ngFor="let errMessage of errorMessages"
			class="info__item"
		>{{ errMessage }}</li>
	</ul>
	<button [disabled]="form.invalid || isLoading">
		Зарегистрироваться
	</button>
</form>
