<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
>
	<div class="control">
		<input
			type="text"
			placeholder="E-mail"
			formControlName="email"
		>
	</div>
	<ng-container [formGroup]="passwordsForm">
		<div class="control">
			<input
				#passwordControl
				type="password"
				placeholder="Пароль"
				formControlName="password"
				autocomplete="new-password"
			>
		</div>
		<div class="control">
			<input
				#passwordRepeatControl
				type="password"
				placeholder="Повторите пароль"
				formControlName="passwordRepeat"
				autocomplete="new-password"
			>
		</div>
	</ng-container>
	<div class="control">
		<label>
			<input
				type="checkbox"
				name="showPassword"
				(change)="switchPasswordVisibility($event)"
			>
			Показать пароль
		</label>
	</div>
	<button [disabled]="form.invalid || isLoading">
		Зарегистрироваться
	</button>
</form>
