<div
	*ngIf="years"
	[@boardVisibility]="{value: ':enter', params: {delay: yearEnterValue}}"
	class="timers__item-wrapper timers__item-wrapper--date"
>
	<app-board
		[value]="years"
		[mode]="size"
		[label]="yearsLabel"
		class="timers__item"
		[delayRandomValue]="delayRandomValue"
	></app-board>
</div>
<div
	*ngIf="months"
	[@boardVisibility]="{value: ':enter', params: {delay: monthEnterValue}}"
	class="timers__item-wrapper timers__item-wrapper--date"
>
	<app-board
		[value]="months"
		[mode]="size"
		[label]="monthsLabel"
		class="timers__item timers__item--date"
		[delayRandomValue]="delayRandomValue"
	></app-board>
</div>
<div
	*ngIf="days"
	[@boardVisibility]="{value: ':enter', params: {delay: dayEnterValue}}"
	class="timers__item-wrapper timers__item-wrapper--date"
>
	<app-board
		[value]="days"
		[mode]="size"
		[label]="daysLabel"
		class="timers__item timers__item--date"
		[delayRandomValue]="delayRandomValue"
	></app-board>
</div>
<div
	@boardVisibility
	class="timers__item-wrapper timers__item-wrapper--time"
>
	<app-board
		[value]="hours"
		[mode]="size"
		[label]="hoursLabel"
		class="timers__item timers__item--time"
		[delayRandomValue]="delayRandomValue"
	></app-board>
</div>
<div
	@boardVisibility
	class="timers__item-wrapper timers__item-wrapper--time"
>
	<app-board
		[value]="mins"
		[mode]="size"
		[label]="minsLabel"
		class="timers__item timers__item--time"
		[delayRandomValue]="delayRandomValue"
	></app-board>
</div>
<div
	@boardVisibility
	*ngIf="showSec"
	class="timers__item-wrapper timers__item-wrapper--time"
>
	<app-board
		[value]="secs"
		[mode]="size"
		[label]="secsLabel"
		[delay]="false"
		class="timers__item timers__item--time"
	></app-board>
</div>
