@import './styles/reboot';

html,
body {
	height: 100%;
}

.root {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
}

.main {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	overflow: auto;
}

.header,
.footer {
	display: flex;
	justify-content: space-between;
}

.form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.timer {
	font-family: monospace;
	font-size: 48px;
}

a,
.link {
	padding: 0;
	border: none;
	background-color: transparent;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
