@import './styles/reboot';
@import './styles/variables';
@import './styles/mixins';
@import './styles/functions';
@import './styles/components';

:root {
	@include get-colors;

	--ff-slab: 'Roboto Slab', sans-serif;

	@media (prefers-color-scheme: dark) {
		@include get-colors($colors-dark);
	}

	&[data-theme='dark'] {
		@include get-colors($colors-dark);
	}

	&[data-theme='light'] {
		@media (prefers-color-scheme: dark) {
			@include get-colors;
		}
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		animation-name: -ua-view-transition-fade-in;
		animation-duration: 200ms;
	}

	::view-transition-old(root) {
		animation-name: -ua-view-transition-fade-out;
	}
}
