@import './styles/reboot';
@import './styles/variables';
@import './styles/mixins';
@import './styles/components';

:root {
	@include get-colors;

	--ff-slab: 'Roboto Slab', sans-serif;
}

.subtitle {
	margin: 10px 0 20px;
}

.description {
	margin: 12px 0;
}

.form-row {
	display: flex;
	gap: 20px;

	@media (max-width: 1024px) {
		flex-direction: column;
	}
}

.empty {
	font-family: var(--ff-slab);
}

.ov-hidden {
	overflow: hidden;
}

.timers {
	display: flex;
	gap: 8px;
	justify-content: center;
	padding: 20px 20px 40px;
	border-radius: 10px;

	&__item {
		z-index: 1;
		box-shadow: 0 0 1px 2px rgb(var(--c-bg-primary), .5);

		&--divided {
			& + & {
				margin-left: 60px;
			}
		}
	}

	&__divider {
		margin: 16px 10px 0;
		color: rgb(var(--c-text-primary));
		font-family: monospace;
		font-size: 64px;
		transform: translateZ(0);
	}
}
