<ng-template #defaultButton>
	<button
		app-button
		class="panel__button"
		[ngClass]="buttonClass"
		[attr.title]="buttonTitle"
		mode="ghost"
		[size]="buttonSize"
		[icon]="icon"
		(click)="toggleHandler()"
	></button>
</ng-template>
<div class="panel__body">
	<div
		*ngIf="bodyTemplate"
		[@panelBody]="open ? 'open' : 'closed'"
		class="panel__content"
	>
		<ng-container [ngTemplateOutlet]="bodyTemplate"></ng-container>
	</div>
</div>
<div class="panel__footer">
	<ng-container
		*ngIf="buttonTemplate else defaultButton"
		[ngTemplateOutlet]="buttonTemplate"
		[ngTemplateOutletContext]="{
			toggle: toggleHandler.bind(this),
			open: openHandler.bind(this),
			close: closeHandler.bind(this)
		}"
	></ng-container>
	<ng-container
		*ngIf="extraTemplate"
		[ngTemplateOutlet]="extraTemplate"
	></ng-container>
</div>
