<ng-template #defaultButton>
	<button
		app-button
		class="panel__button"
		[ngClass]="buttonClass"
		[attr.title]="buttonTitle"
		mode="ghost"
		[size]="buttonSize"
		[icon]="icon"
		(click)="toggleHandler()"
	></button>
</ng-template>
<div class="panel__body">
	<div
		#panelContentRef
		*ngIf="bodyTemplate"
		[@panelContent]="open ? 'open' : 'closed'"
		class="panel__content"
	>
		<ng-container [ngTemplateOutlet]="bodyTemplate"></ng-container>
	</div>
</div>
<div class="panel__footer">
	<div class="panel__buttons">
		<ng-container
			*ngIf="buttonTemplate else defaultButton"
			[ngTemplateOutlet]="buttonTemplate"
			[ngTemplateOutletContext]="{
				toggle: toggleHandler.bind(this),
				open: openHandler.bind(this),
				close: closeHandler.bind(this)
			}"
		></ng-container>
		<div
			*ngIf="extraButton"
			class="panel__button-extra"
		>
			<ng-container [ngTemplateOutlet]="extraButton"></ng-container>
		</div>
	</div>
	<ng-container
		*ngIf="extraTemplate"
		[ngTemplateOutlet]="extraTemplate"
	></ng-container>
</div>
