@mixin glass() {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-image:
			linear-gradient(
				180deg,
				transparent,
				transparent 40%,
				rgba(var(--c-shadow-primary), .03) 90%,
				transparent
			);
		pointer-events: none;
	}
}
