// ===============================================
// TRANSFORM
// ===============================================

@use 'sass:list';
@use 'sass:string';

/*
	Параметры (transform-свойства через запятую) распарсятся и сохранятся в отдельные переменные,
	которые будут использованы в итоговом значении свойства transform. Свойство всегда будет содержать
	все переменные из списка $transform-props-list. Неуказанные переменные будут использовать фолбэк (пустое значение).
	Таким образом, старые значения transform не будут перезаписаны.
	Основная суть в реализации индивидуальных свойств трансформации, пока они не имеют достаточную поддержку:
	https://web.dev/css-individual-transform-properties/
	https://caniuse.com/mdn-css_properties_translate
*/

@mixin transform($transform...) {
	transform: _transform-var-list();

	@each $transform-item in $transform {
		$transform-string: to-lower-case(#{$transform-item});
		$paren-index: string.index($transform-string, '(');
		$transform-name: if(
			$paren-index,
			string.slice($transform-string, 1, $paren-index - 1),
			$transform-string
		);
		--transform-#{$transform-name}: #{$transform-item};
	}
}

@function _transform-var-list() {
	$result: ();

	@each $item in $transform-props-list {
		$result: list.append($result, _wrap-transform-in-var($item), $separator: space);
	}

	@return $result;
}

@function _wrap-transform-in-var($item) {
	// Не ошибка, дефолтное значение должно быть просто пустым
	/* stylelint-disable-next-line prettier/prettier */
	@return var(--transform-#{$item},);
}
