// ===============================================
// TRANSITIONS
// ===============================================

@use 'sass:list';
@use 'sass:meta';

/*
	Используется в 4 вариантах:
	1) Без параметров — будет использовано стандартное значение из переменой $transition-base;
	2) С обычным значением свойства transition в качестве параметра — свойство добавится, как обычно;
	3) С указанием true перед значением — оно будет распарсено и сохранено в отдельные переменные,
	которые будут использованы в итоговом значении свойства transition. Свойство всегда будет содержать
	все переменные из списка $transition-props-list. Неуказанные переменные будут использовать фолбэк "0s".
	Таким образом, старые значения transition не будут перезаписаны;
	4) Указано только true — аналогично варианту 3, но с использованием значения из переменной $transition-base.
	В любом случае добавляется "prefers-reduced-motion: reduce" с отключением transition,
	если пользователь отключил анимации в браузере
*/

@mixin transition($transition...) {
	// Если параметры указаны
	@if list.length($transition) != 0 {
		// Первым параметром указано true — генерируем переменные, transition не перезапишет старые значения
		@if meta.type-of(list.nth($transition, 1)) == bool {
			transition: _transition-var-list();

			$transition-values: ();

			@if list.length($transition) == 1 {
				// Остальные параметры не были переданы, используем дефолтное значение таким же образом
				$transition-values: list.append($transition-values, $transition-base);
			} @else {
				@for $i from 2 through list.length($transition) {
					$transition-values: list.append($transition-values, list.nth($transition, $i));
				}
			}

			@each $transition-item in $transition-values {
				$transition-name: list.nth($transition-item, 1);
				$transition-value: ();

				@for $i from 2 through list.length($transition-item) {
					$transition-value: list.append(
						$transition-value,
						list.nth($transition-item, $i),
						$separator: space
					);
				}

				--transition-#{$transition-name}: #{$transition-value};
			}
		} @else {
			// Просто записываем параметры в свойство transition
			@if list.length($transition) > 1 {
				@each $value in $transition {
					@if $value == null or $value == none {
						@warn "The keyword 'none' or 'null' must be used as a single argument.";
					}
				}
			}

			@if list.nth($transition, 1) != null {
				transition: $transition;
			}
		}
	} @else {
		// Просто выводим дефолтное значение
		transition: $transition-base;
	}

	// https://ru.hexlet.io/blog/posts/novye-mediazaprosy-kotorye-izmenyat-vashi-predstavleniya-o-vozmozhnostyah-css

	// stylelint-disable-next-line scss/media-feature-value-dollar-variable
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

@function _transition-var-list() {
	$result: ();

	@each $item in $transition-props-list {
		$result: list.append($result, _wrap-transition-in-var($item), $separator: comma);
	}

	@return $result;
}

@function _wrap-transition-in-var($item) {
	@return #{$item} var(--transition-#{$item}, 0s);
}
