<app-drop
	[dropList]="autocompleteListFiltered"
	(dropChanged)="changeHandler($event)"
	(dropClosed)="closeHandler()"
	[value]="value"
	[focusoutClose]="true"
>
	<ng-template #triggerTemplate>
		<app-input
			class="control--autocomplete"
			[placeholder]="placeholder"
			name="autocomplete"
			[inputmode]="inputmode"
			[(ngModel)]="visibleValue"
			(ngModelChange)="filter($event)"
			(focus)="openHandler()"
			(keydown)="keydown($event)"
			autocomplete="off"
			[mask]="mask"
			[suffix]="suffix"
			[prefix]="prefix"
			[patterns]="patterns"
			[attr.data-suffix]="dataSuffix"
		></app-input>
	</ng-template>
</app-drop>
